<template>
  <div class="ivu-date-picker-rel">
    <div class="ivu-input-wrapper ivu-input-wrapper-large ivu-input-type ivu-date-picker-editor">
      <span class="ivu-input-suffix"><i class="ivu-icon ivu-icon-ios-time-outline"></i></span>
      <i class="ivu-icon ivu-icon-ios-loading ivu-load-loop ivu-input-icon ivu-input-icon-validate"></i>
      <input
        autocomplete="off"
        spellcheck="false"
        type="text"
        class="ivu-input ivu-input-large ivu-input-with-suffix"
        :placeholder="placeholder"
        :id="elementId"
        :value="value"
      >
    </div>
    <date-picker type="time"
                 view="time"
                 input-class="ivu-input ivu-input-large ivu-input-with-suffix"
                 :placeholder="placeholder"
                 :jump-minute="5"
                 :round-minute="true"
                 :show-now-btn="false"
                 :locale="$i18n.locale"
                 :element="elementId"
                 :convert-numbers="false"
                 :locale-config="langConfig"
                 wrapper-submit
                 v-model="time"
    >
      <template v-slot:header-date="{ vm, formattedDate }"><span>&nbsp;</span></template>
    </date-picker>
  </div>

</template>

<script>
import VuePersianDatetimePicker from 'vue-persian-datetime-picker'

export default {
  props: {
    elementId: {
      required: true,
      type: String,
    },
    placeholder: {
      type: String,
    },
    value: { }
  },
  data() {
    return {
      time: '',
    }
  },

  created() {
    this.time = this.value
  },

  computed: {
    langConfig() {
      return {
        [this.$i18n.locale]: {
          lang: {
            submit: this.$t('widget.date_picker.select'),
            cancel: this.$t('widget.date_picker.cancel'),
          },
        },
      }
    },
  },

  components: {
    datePicker: VuePersianDatetimePicker,
  },

  watch: {
    time() {
      this.$emit('input', this.time)
    }
  }
}
</script>
