/** Regular */
.ivu-modal-wrap {
  z-index: 99999999 !important;
}
.ivu-modal-mask {
  z-index: 999999 !important;
}
.bg-primary {
  background-color: @primaryColor !important;
  color: white !important;
  fill: white !important;
}

.at-to-airport {
  .ivu-col-span-12 {
    width: 100% !important;
  }
}

button.bg-primary {
  &:hover {
    color: white;
  }
  color: #fff;
}


.fill-primary {
  fill: @primaryColor;
}

.color-primary {
  color: @primaryColor;
}

.fill-dimmed {
  fill: @dimmedText;
  h4 {
    font-weight: bold;
    font-family: 'SF Regular' ,sans-serif;
  }

}

.text-dimmed {
  color: @dimmedText;
}

.at-card {
  display: block !important;
  border-radius: 14px !important;
}

.at-card .ivu-card-body {
  padding: 0 !important;
}

/*.at-step-airports-content {
  padding: 16px !important;
}*/

.at-step-airports-content-search-button {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  height: 50px;
  font-size: 1.2em;
  outline: none !important;
  border: 0 !important;
  font-weight: bold;
  color: #fff !important;
}

.at-step-airports-content-search-button:hover {
  background-color: #48c7fc !important;
  outline: none !important;
}

.intl-tel-input {
  display: block;
  position: static;
}

hr {
  border: 1px solid transparent;
}

.ivu-card {
  border: none !important;

  -webkit-box-shadow: 0 19px 38px rgba(226, 231, 240, 1);
  -moz-box-shadow: 0 19px 38px rgba(226, 231, 240, 1);
  box-shadow: 0 19px 38px rgba(226, 231, 240, 1);
}

.ivu-card:hover {
  border: none !important;

  -webkit-box-shadow: 0 19px 38px rgba(226, 231, 240, 1) !important;
  -moz-box-shadow: 0 19px 38px rgba(226, 231, 240, 1) !important;
  box-shadow: 0 19px 38px rgba(226, 231, 240, 1) !important;
}

.at-layout {
  display: block !important;
}

.img-inputer {
  background-color: #F8FBFF !important;
  border: 1px solid #DCDEE2 !important;
}

.img-inputer__placeholder {
  color: #607296 !important;
}

.img-inputer__icon {
  color: @primary-color !important;
}

.at-fill-success {
  fill: #55D56C;
}

.at-bg-success {
  background-color: #55D56C !important;
  color: white !important;
  border: none !important;
}

.at-bg-success span {
  color: white !important;
}

.at-google-autocomplete {
  .ivu-input-group-prepend {
    background-color: #fff;
  }

  input {
    padding-left: 8px !important;
  }
}



.ivu-form-item-error .ivu-input {
  border-color: #ed4014 !important;
}

.mt-0 {
  margin-top: 0
}

.mr-0 {
  margin-right: 0
}

.mb-0 {
  margin-bottom: 0
}

.mtop-13 {
  margin-top: 13px
}

.pos-relative {
  position: relative;
}

hr {
  border-top: 1px solid #e3ebf6 !important;
}
.flex {
  display: flex;
}
.return-back {
  margin-top: 14px !important;
  margin-bottom: 14px !important;
}
.return-back span {
  font-family: 'SF Regular', sans-serif !important;
  font-weight: bold;
}
.ivu-input-group-append {
  border-left: 0;
  background-color: white !important;
  cursor: pointer;
}
.ivu-input-group .ivu-input,
.ivu-input-group-append {
  z-index: 0 !important;
}

.ivu-form-item-content:not('.date-picker') span {
  display: flex;
  margin-bottom: 2px;
}
.ivu-checkbox-wrapper.ivu-checkbox-large {
  display: flex;
  align-items: center;
  margin-bottom: 0;
}

.ivu-input-group-with-append input {
  border-right: 0;
}

.ivu-input {
  font-family: 'SF Regular', sans-serif;
}

.ivu-input::placeholder,
.ivu-input-number-input::placeholder{
  color: #9caac5;
  font-family: "SF Regular", sans-serif ;
  font-size: 16px;
}
#to-airport-select, #from-airport-select {
  font-size: 16px ;
  width: 100% ;
  color: #9caac5;
}
.ivu-select-prefix {
  display: flex;
  align-items: center;
}
.ivu-select-dropdown, .ivu-select-dropdown-list {
  .ivu-select-item {
    font-size: 12px !important;
  }
}
.ivu-select-large .ivu-select-item {
  font-size: 12px !important;
}
.ivu-input-group-append span {
  font-family: 'SF Regular', sans-serif !important;
  color: #7ebbea !important;
}

/*.ivu-input-wrapper input:not(#at-phone):not(#at-additional-phone),
.ivu-select-placeholder {
  padding-left: 16px !important;
  font-weight: bold !important;
}*/

button {
  box-shadow: none;
}
.at-step-item {
  padding: 42px 15px 42px 20px!important;
  h2 {
    font-size: 20px;
    font-family: 'SF Bold' ,sans-serif;
  }
}

.step {
  &__title {
    font-weight: bold;
    line-height: normal;
    font-family: "SF Regular", sans-serif;
    font-size: 16px;
  }
  &__value {
    font-size: 20px;
    font-family: 'SF Bold' ,sans-serif;
  }
}

.at-step-item .title {
  font-family: 'SF Bold', sans-serif;
  font-size: 20px;
}

.at-step-icon {
  padding-right: 6px !important;
}

.at-step-airports-content .ivu-form-item:not(.ivu-form-item-required) {
  margin-bottom: 9px;
}

.at-step-airports-content {
  padding: 40px 25px 10px 30px;
}

.field-label {
  display: flex;
  align-items: center;
  span {
    font-size: 16px;
    line-height: 16px;
    font-family: 'SF Bold', sans-serif;
    color: #607296;
    margin-bottom: 2px;
  }
  .ivu-poptip {
    display: flex;
  }
}

#google-autocomplete:focus {
  box-shadow: none;
}

.ivu-input-group-append {
  position: relative;
  z-index: 2;
}

.at-step-airports-content button span {
  font-size: 18px;
  font-family: 'SF Bold', sans-serif;
}

.ivu-btn-group:not(.ivu-btn-group-vertical)
  > .ivu-btn:first-child:not(:last-child),
.ivu-btn-group:not(.ivu-btn-group-vertical)
  > .ivu-btn:last-child:not(:first-child) {
  padding: 15px 15px;
  text-transform: capitalize;
}

.ivu-btn-group:not(.ivu-btn-group-vertical)
> .ivu-btn span {
  line-height: 18px;
}

.ivu-btn-group:not(.ivu-btn-group-vertical)
  > .ivu-btn:first-child:not(:last-child) {
  border-radius: 8px 0  0 8px;
}

.ivu-btn-group:not(.ivu-btn-group-vertical)
  > .ivu-btn:last-child:not(:first-child) {
  border-radius: 0 8px 8px 0;
}

.ivu-form-item-content > div {
  margin-bottom: 3px;
}

#toggle-drop-off-map span {
  margin-bottom: 3px;
}

#summary h2,
#summary h3,
#summary .sum-title,
#summary .distance,
#summary .summary-info,
#summary .estimated-time {
  font-family: 'SF Bold', sans-serif;
  color: #607296;
}
#summary .distance {
  font-size: 16px;
}

#summary h2,
#summary .summary-info {
  margin-bottom: 10px !important;
}

#summary p {
  font-family: 'SF Regular', sans-serif;
}

#summary h2,
#summary .summary-info {
  font-size: 21px;
}

#summary h3,
#summary .sum-title,
#summary .estimated-time {
  font-size: 16px;
}

#summary {
  table {
    margin: 0;
    td {
      color: #9caac5;
      padding: 7px 0;
      font-family:"SF Regular", sans-serif;
      font-size: 16px;
      font-weight: normal;
    }
  }
}

#summary button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 33px;
  border-radius: 8px;
}

#summary button span {
  font-size: 16px;
  color: #9caac5;
}

#car-class h2,
#car-class .vehicle-type-title {
  font-size: 21px;
  font-family: 'SF Bold', sans-serif;
  line-height: 21px;
}
#car-class .book-now {
  font-family: 'SF Bold', sans-serif;
  line-height: 21px;
  font-size: 16px;
}

#car-class h3,
#car-class .vehicle-price,
#car-class .vehicle_capacity {
  font-size: 16px;
  color: #607296;
  line-height: 18px;
  text-overflow: ellipsis;
  max-width: 100%;
  overflow: hidden;
  min-height: 30px;
  font-family: 'SF Regular', sans-serif;
}

#car-class .car-icons {
  width: 25px;
  height: 25px;
  padding: 0 !important;
}

#car-class .label {
  margin-right: 10px;
  margin-left: 5px;
  color: #6a7b9d;
  font-family: 'SF Bold', sans-serif;
}

#car-class .value {
  color: #9caac5;
  overflow: hidden;
  line-height: 14px;
  display: flex;
  align-items: center;
  min-height: 30px;
  font-size: 15px;
}
.vehicle-type-title, #car-class h3,
.vehicle-type-title, #car-class .vehicle-price,
.vehicle-type-title, #car-class .vehicle_capacity {
  min-height: 36px;
  margin-bottom: 10px;
  font-weight: bold;
}
#car-class .vehicle_currency {
  font-size: 21px;
  font-weight: bold;
  font-family: 'SF Medium', sans-serif;

  &.vehicle-full-price {
    text-decoration: line-through;
  }
}

#car-class button h2 {
  font-size: 16px;
  color: #fff;
}

.ivu-card-bordered {
  border-radius: 12px !important;
}
.-confirm-color {
  margin-top: 13px;
}
.-confirm-color svg {
  width: 20px !important;
  height: 20px !important;
  margin-right: 10px;
}
.-confirm-color span {
  font-family: 'SF Regular', sans-serif;
  color: #9bbbd4;
  font-size: 15px;
}
.ivu-select-selected-value,
.ivu-select-placeholder {
  font-family: 'SF Regular', sans-serif !important;
  color: #9caac5 !important;
}

.flight-details span {
  font-family: 'SF Regular', sans-serif;
  color: #607296;
  font-size: 16px;
  line-height: 16px;
  font-weight: bold;
}

.transfer-details {
  .main-title {
    font-family: 'SF Medium', sans-serif;
    font-size: 21px;
    font-weight: bold;
    color: #48aefc;
    line-height: 21px;
  }
}
.extra-luggage .additional-settings, .ivu-form-item{
  margin-bottom: 30px !important;
}
.baby-child-seats {
  margin-bottom:  0 !important;
  .additional-settings {
    margin-bottom:  0 !important;
  }
}
.extra-luggage span {
  line-height: 16px;
  font-size: 16px;
  font-family: 'SF Regular', sans-serif;
  font-weight: bold;
  color: #607296;
}
.extra-luggage span.ivu-checkbox {
  margin-top: 5px;
  margin-right: 10px;
}
.extra-luggage .ivu-form-item-content > div {
  display: flex;
  align-items: center;
}
.mtop-5 {
  margin-top: 5px;
}
.login-btn span {
  color: #fff;
  font-family: 'SF Bold', sans-serif;
  font-size: 16px;
}
.country-list li {
  display: flex;
  align-items: center;
}
.intl-tel-input.separate-dial-code .selected-dial-code {
  font-size: 16px;
}
.mark-wrapper {
  position: relative;
  padding-left: 9px !important;
}
.mark-wrapper .mark {
  position: absolute;
  top: 3px;
  left: 0;
}
.transfer-details span[role='button'] sup {
  position: absolute;
  top: 18px;
}
.extra-luggage span[role='button'] sup {
  top: 10px;
  left: 0;
}
.transfer-details span[role='button'] {
  overflow: hidden;
}
#car-class img {
  max-width: 150px;
}
.at-locale-select-original .ivu-select-selection {
  max-width: 147px;
}
.at-locale-select-original .ivu-select-selection {
  font-family: 'SF Regular', sans-serif !important;
  color: #9caac5 !important;
}
.animal:first-child .icon i {
  margin-top: 18px;
}
.animal .icon i {
  margin-top: 5px;
}
.first-animal {
  display: flex !important;
  align-items: center;
  &:first-child {
    i {
      margin-top: 18px !important;
    }
  }
}
.payment-method {
  h4 {
    font-family: 'SF Regular', sans-serif;
  }
  &__title {
    font-family: 'SF Regular', sans-serif;
    font-weight: bold;
    font-size: 21px;
    color: #607296;
  }
  h4 {
    font-size: 16px;
    font-weight: bold;
  }
  .ivu-switch-checked {
    &:after {
      left: 14px !important;
    }
  }
}

.payment-method label,
.payment-method h4 {
  font-size: 16px;
  font-family: 'SF Regular', sans-serif;
  font-weight: bold;
}
.payment-method h2 {
  font-family: 'SF Bold', sans-serif;
  font-size: 18px;
}
.total-price, .order-evaluation {
  &__label, &__payment-fees {
    font-size: 16px;
    font-weight: bold;
    font-family: 'SF Regular', sans-serif;
    color: #9caac5;
  }
  &__value {
    font-size: 30px;
    font-family: 'SF Bold', sans-serif !important;
    color: #4dadfb !important;
  }
}
.initial-order-evolution{
  &__label {
    font-weight: bold;
    font-family: 'SF Regular', sans-serif;
    font-size: 16px;
  }
  &__value {
    color: #4dadfb;
    font-size: 24px;
    font-family: 'SF Medium', sans-serif;
    font-weight: bold;
  }
}

.summary {
  font-family: 'SF Bold', sans-serif;
  color: #607296;
  font-size: 21px;
}
.final-stage {
  &__title {
    font-family: 'SF Bold', sans-serif;
    color: #607296;
    font-size: 21px;
  }
  &__sub-title, h4 {
    font-weight: bold;
    font-size: 16px;
  }
  p {
    color: #9caac5;
    font-family: 'SF Regular', sans-serif;
    font-size: 16px;
  }
}
.login-text {
  font-size: 14px;
  color: #A3B2CE;
  clear: both;
  font-weight: bold;
}
.deposit-value {
  font-family: 'SF Bold', sans-serif;
  font-size: 18px;
  color: #4dadfb;
}
.ivu-input-number-handler-up-inner,
.ivu-input-number-handler-down-inner {
  font-family: 'Ionicons' !important;
  margin: 0 2px;
}
.at-step-airports-content-search-button {
  border-radius: 0 0 12px 12px !important;
  b {
    font-size: 19.2px;
  }
}
.at-step-airports-content-search-button span {
  font-family: 'SF Bold', sans-serif;
  font-size: 19.2px ;
}
.no-box-shadow {
  box-shadow: none !important;
}
.bordered {
  border-radius: 12px;
}
.user-phone-number input {
  height: 44px !important;
  font-family: "SF Regular", sans-serif;
  font-size: 16px;
  color: #9caac5;
  overflow: hidden;
}
.vue-tel-input {
  border: 1px solid #dcdee2 !important;
  transition: .3s all;
}
.vue-tel-input:hover {
  border-color: #57a3f3 !important;
}
.user-phone-number .dropdown {
  background-color: #fff !important;
  height: 44px;
  border-radius: 4px 0 0 4px;
}
.user-phone-number .dropdown:hover {
  background-color: #fff !important;
}
.user-phone-number .dropdown ul li {
  display: flex;
  align-items: center;
}

.user-phone-number .dropdown ul li span {
  margin-left: 5px;
}
.user-phone-number .dropdown.open,
.user-phone-number .dropdown {
  outline: 0 !important;
}
.user-phone-number i{
  font-size: 16px;
  color: #dce3ee;
}
.at-locale-select-original .ivu-select-selection {
  margin-left: auto;
}

.login-form .ivu-modal-content {
  padding: 20px;
  border-radius: 21px;
}
.login-form .ivu-modal-header-inner {
  font-family: "SF Bold", sans-serif;
  font-size: 21px;
  text-align: center;
}
.login-form .ivu-form-item-label {
  font-size:  18px !important;
  font-weight: bold;
  font-family: "SF Regular", sans-serif;
}
.login-form .ivu-modal-footer button {
  font-size: 15px;
  font-weight: bold;
  height: 35px;
}

.align-checkboxes {
  .ivu-checkbox {
    margin-top: 0 !important;
  }
}
.tooltip {
  .ivu-poptip {
    margin-top: 5px;
    margin-left: -10px;
  }
}


.at-mr-ms {
  .ivu-select-selected-value,
  .ivu-select-placeholder{
    line-height: 42px !important;
    height: 42px !important;
  }
}

.at-mr-ms .ivu-select-selection{
  width: 100% !important;
}
.at-mr-ms .ivu-select-placeholder {
  font-size: 14px !important;
}
.at-mr-ms .ivu-form-item {
  padding-left: 0 !important;
}

#car-class .label {
  margin-right: 5px;
  line-height: 21px;
  font-size: 16px;
  height: 21px;
}

.d-block {
  display: block !important;
}
.ivu-poptip-body-content-word-wrap {
  text-align: left !important;
}

.policy-term-modal-trigger {
  margin: 0 3px;
}
.modal-content-text {
  font-size: 14px;
  font-family: 'SF Regular', sans-serif;
  max-height: 300px;
  overflow-y: auto;
}
.terms-and-policy {
  width: 100% !important;
}

.vertical-center-modal{
  display: flex;
  align-items: center;
  justify-content: center;

  .ivu-modal{
    top: 0;
  }
}


.return-distance-and-time {
  font-size: 16px;
  color: #9caac5;
  font-family: SF Regular, sans-serif;
  font-weight: normal;
}
.widget-locales {
  .ivu-select-prefix {
    margin-top: 3px;
  }
}
.different-pickup-on-return{
  flex-wrap: nowrap;
  .ivu-poptip {
    svg {
      margin-left: 0 !important;
    }
  }
  .custom-tooltip {
    position: relative;
    top: 5px;
  }
}

.baby-child {
  width: 50% !important;
  .s {

  }
}
.ivu-date-picker-cells-cell {
  width: 28px !important;
  height: 28px !important;
}

span.ivu-date-picker-cells-cell-disabled,
span.ivu-date-picker-cells-cell-disabled:hover,
span.ivu-date-picker-cells-cell-week-label,
span.ivu-date-picker-cells-cell-week-label:hover,
span.ivu-date-picker-cells-cell-week-label:hover em{
  background: #f7f7f7 !important;
  cursor: not-allowed !important;
  color: #c5c8ce;
}
.ivu-date-picker-cells span, .ivu-date-picker-cells span em{
  cursor: pointer;
}
.ivu-input-suffix,
.ivu-select-head-flex {
  line-height: 44px;
  height: 44px;
}
.mark {
  padding: 0;
  background-color: transparent;
}
.widget-locales {
  .ivu-select-prefix {
    display: inline-block;
  }
}
.ivu-select-single .ivu-select-prefix {
  padding-left: 4px;
}
.ivu-select-single .ivu-select-selection .ivu-select-placeholder, .ivu-select-single .ivu-select-selection .ivu-select-selected-value{
  display: block;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-left: 8px;
  padding-right: 24px;
}
.StripeElement {
  margin-top: 15px;
  background-color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  min-width: var(--stripe-elements-width, 300px);
  padding: var(--stripe-elements-element-padding, 14px);
}

.ivu-select-prefix .ivu-icon-md-plane {
  line-height: 44px !important;
}
.ivu-select-dropdown {
  width: auto !important;
}
.ivu-notice-icon-error,
.ivu-notice-icon{
  top: 0 !important;
}
.ivu-notice-title {
  padding-left: 25px;
}
.login-form-footer {
  .ivu-btn-primary {
    span {
      color: #fff !important;
    }
  }
}

.passenger-information {
  .ivu-poptip {
    display: flex;
    height: 20px;
    margin-top: 2px;
  }
}
.question-mark .ivu-poptip-rel {
  display: flex !important;
  margin-top: 2px;
  height: 20px;
}

.ivu-poptip-body {
  background-color: #D8F4FF;
  color: #65A1B8;
}

.ivu-poptip-arrow {
  display: none !important;
}

.ivu-checkbox-large .ivu-checkbox-checked .ivu-checkbox-inner::after {
  display: inline-block !important;
}

.ivu-btn-primary {
  span {
    color: #fff !important;
  }
}
.ivu-input-suffix i {
  line-height: 44px !important;
}
textarea {
  font-size: 16px !important;
  height: auto !important;
}
.ivu-input-number {
  &:hover {
    .ivu-input-number-handler-wrap {
      opacity: 1 !important;
    }
  }
}
.remove-element {
  margin-bottom: 0!important;
  .ivu-form-item {
    line-height: 44px !important;
  }
}
.ivu-radio-inner:after,
.ivu-checkbox-inner::after {
  display: inline-block !important;
}

.ivu-date-picker-header-label,
.ivu-date-picker-cells span em{
  color: #9caac5;
}
.ivu-picker-panel-icon-btn i{
  line-height: 25px;
}
.ivu-date-picker-cells span,
.ivu-date-picker-cells span em,
.ivu-time-picker-cells-cell {
  font-family: "SF Regular", sans-serif;
  font-size:  12px;
  font-weight: normal;
}
.mtop-25 {
  margin-top: 28px;
}
.ivu-date-picker-cells-focused {
  color: #fff !important;
}

.at-spin-container {
  .ivu-spin-large {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.at-spin-container {
  .ivu-spin-large {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.from-form-button {
  color: #9caac5;
}
.to-form-button {
  color: #fff;
}
#additional-phone,
#phone {
  background-color: #fff !important;
  border: none;
  padding: 0 !important;
}
.users--cards {
  color: #9caac5 !important;
  .ivu-btn:hover {
    color: #57a3f3 !important;
  }
}
.user-transfer-details{
  .ivu-poptip {
    position: relative;
    top: 8px;
  }
}
.ivu-icon-md-create {
  color: #fff !important;
}
.ivu-poptip-body-content-inner{
  font-family: 'SF Regular' ,sans-serif;
}
.change--tab {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 16px;
  border: none !important;
  background-color: transparent !important;
  outline: none !important;
  box-shadow: none !important;
}

.ivu-date-picker-cells-cell-selected {
  em {
    color: #fff !important;
  }
}

.add-stops, .add-animals {
  &__label {
    font-size: 16px;
    color: #9caac5;
    margin-top: 3px;
  }
}

.comment-block {
  textarea {
    overflow-y: auto !important;
    min-height: 106px !important;
  }
}

.nameplate-text {
  &__field {
    margin-top: 5px;
  }
}
.meet_greet_tooltip {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  right: 13px;
}
.print-document {
  svg {
    fill: #aab8d3;
  }
  &__label {
    color: #aab8d3;
  }
}

.arrow-line {
  height: 40px;
  svg {
    padding-top: 0;
  }
}
.ivu-form-item-error-tip {
  padding-top: 3px !important;
}

.journey-info {
  &__item {
    margin: 7px 2px;
  }
}
.toggle_map_button {
  display: none;
  position: absolute;
  right: 0;
  z-index: 2;
  &__text {
    font-family: 'SF Regular', sans-serif;
    font-size: 14px;
    color: #4dadfb !important;
    border: none !important;
    outline: 0 !important;
    background: transparent !important;
    padding-right: 0 !important;
    box-shadow: none !important;
    &:hover, &:focus, &:active {
      border: none !important;
      outline: 0 !important;
      background: transparent !important;
    }
  }
}
.map-container {
  margin-top: 30px;
}


.at-step-airports-content .ivu-btn {
  background-color: transparent;
  border-color: transparent;
}

.at-step-airports-content .transfer-type .ivu-btn:hover {
  color: #4dadfb !important;
  background-color: transparent;
  border-color: transparent;
}

.at-step-airports-content .transfer-type button:not(.bg-primary):hover {
  color: #4dadfb !important;
}

.at-step-airports-content .transfer-type button {
  border-right: 1px solid #d6deeb;
  border-radius: 0 !important;
  padding-right: 15px !important;
}

.at-step-airports-content .transfer-type button:last-child {
  padding-left: 15px !important;
  border-right: 0;
}

.at-step-airports-content .bg-primary {
  background-color: transparent !important;
  color: #4dadfb !important;
  fill: #fff !important;
}

.at-step-airports-content .ivu-btn-group:not(.ivu-btn-group-vertical) > .ivu-btn:first-child:not(:last-child),
.at-step-airports-content .ivu-btn-group:not(.ivu-btn-group-vertical) > .ivu-btn:last-child:not(:first-child) {
  padding: 7px 0;
}

.at-step-airports-content .from-airport-to {
  display: flex;
  margin-top: 20px !important;
}

.at-step-airports-content .from-airport-to button {
  text-transform: uppercase;
  width: 50%;
  padding: 0;
  border: 1px solid #dcdee2;
  border-radius: 4px;
  color: #9caac5;
  background-color: #fff;
  background-image: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.at-step-airports-content .from-airport-to button:first-child {
  border-right: none !important;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.at-step-airports-content .from-airport-to button i {
  font-size: 22px;
  margin-right: 5px;
  transform: rotate(0deg);
  line-height: 35px !important;
}

.at-step-airports-content .from-airport-to .to-airport_btn i {
  transform: rotate(180deg);
}

.at-step-airports-content .from-airport-to button:last-child {
  border-left: none !important;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}

.at-step-airports-content .from-airport-to button.active {
  background-color: #5a84d8;
  border: 1px solid #5a84d8;
  color: #fff;
}

.at-step-airports-content .from-airport-to button:focus {
  outline: none;
}

.at-step-airports-content .at-widget-booking .ivu-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.vpd-container .vpd-time .vpd-time-h,
.vpd-container .vpd-time .vpd-time-m {
  height: auto;
}

.at-step-airports-content {
  padding-top: 0;
}

.at-from-to {
  margin: 0 -25px 0 -30px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  overflow: hidden;
}

.ivu-btn-group {
  width: 100%;
}

.at-step-airports-content .transfer-type {
  display: flex;
}

.at-step-airports-content .transfer-type button {
  width: 100%;
  background: #4dadfb;
  color: #fff !important;
  padding: 15px 0 !important;
  border-right: none;
  border-left: none;
  text-transform: uppercase !important;
  border-bottom: 7px solid #4dadfb;
}

.at-step-airports-content .bg-primary {
  background-color: #4dadfb !important;
  border-bottom: 7px solid #0072d0 !important;
}

.at-step-airports-content .transfer-type button:not(.bg-primary):hover {
  color: #fff !important;
}

.at-step-airports-content .transfer-type .ivu-btn:hover {
  color: #fff !important;
  background-color: #4dadfb;
  border-bottom: 7px solid #0072d0;
}

.at-step-airports-content .from-airport-to button.active {
  background-color: #4dadfb;
  border: 1px solid #4dadfb;
}

.ivu-btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.share_taxi_checkbox, .share_taxi_checkbox label {
  position: relative;
  z-index: 2;
  padding-left: 0 !important;
}

.share_taxi_checkbox label::after {
  -webkit-animation: circle 1.5s infinite;
  animation: circle 1.5s infinite;
  border: 2px solid #55d56c;
  border-radius: 8px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 170px;
}

.share_taxi_checkbox label::before {
  -webkit-animation: circleTwo 1.5s infinite;
  animation: circleTwo 1.5s infinite;
  border: 2px solid #55d56c;
  border-radius: 8px;
  content: "";
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 170px;
}

.share_taxi_checkbox span.ivu-checkbox {
  height: 50px;
  background: #55d56c;
  padding-left: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.share_taxi_checkbox span.ivu-checkbox-inner {
  width: 15px;
  height: 15px;
  border-color: #55d56c;
  margin-top: 17px;
}

.share_taxi_checkbox label.ivu-checkbox-wrapper-checked::after, .share_taxi_checkbox label.ivu-checkbox-wrapper-checked::before {
  border: 2px solid #4dadfb;
}

.share_taxi_checkbox span.ivu-checkbox.ivu-checkbox-checked {
  background: #4dadfb;
}

.share_taxi_checkbox .ivu-checkbox-checked .ivu-checkbox-inner {
  border-color: #4dadfb;
  background: #4dadfb;
}

.share_taxi_checkbox .ivu-checkbox-wrapper > span:not(.ivu-checkbox) {
  background: #55d56c;
  color: #Fff;
  border-radius: 0 8px 8px 0;
  min-width: 145px;
  display: flex;
  height: 50px;
  align-items: center;
  padding: 0 0 0 20px !important;
  margin-left: 0;
}

.share_taxi_checkbox .ivu-checkbox-wrapper.ivu-checkbox-wrapper-checked>span:not(.ivu-checkbox) {
  background: #4dadfb;
}

.share_taxi_checkbox .ivu-poptip {
  position: relative;
  top: -6px;
}

#stm-booking-widget .at-widget-booking .transfer-details .ivu-checkbox-large .ivu-checkbox {
  margin-right: 0;
}

@-moz-keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@-o-keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@keyframes circle {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1.3);
    opacity: 0.7;
  }

  100% {
    transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes circleTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@-moz-keyframes circleTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@-o-keyframes circleTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }

  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes circleTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  50% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}
@media (max-width: 1200px) {
  .share_taxi_checkbox label:after, .share_taxi_checkbox label:before {
    border: 2px solid #4dadfb;
    border-radius: 8px;
    content: "";
    height: 95%;
    left: 7px;
    position: absolute;
    top: 0;
    width: 170px;
  }
}

.widget-booking__info_popup_wr {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 99999;
}
.widget-booking__info_popup {
  font-family: SF Regular,sans-serif;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #e2e7f0;
  border-radius: 12px;
  box-shadow: 0 19px 38px #e2e7f0;
  color: #242931;
  display: flex;
  font-size: 13px;
  max-width: 435px;
  transform: translateY(200%);
  transition: all 2s ease-in-out;
}
.widget-booking__info_left {
  width: 20%;
}
.widget-booking__info_right {
  width: calc(80% - 15px);
  margin-left: auto;
}
.widget-booking__info_left .user-img {
  width: 73px;
  height: 73px;
  border-radius: 50%;
  max-width: 100%;
  overflow: hidden;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #ff8100;
  font-weight: 700;
  font-size: 23px;
}
.widget-booking__info_left .user-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.widget-booking__info_left .user-name {
  margin-top: 5px;
  text-align: center;
  color: rgb(77, 173, 251);
  font-size: 14px;
  font-weight: 700;
}
.widget-booking__info_top {
  display: flex;
  justify-content: space-between;
}
.widget-booking__info_right .type {
  font-size: 14px;
  color: #50aefb;
}
.widget-booking__info_right .date {
  font-weight: 500;
  color: rgb(0 0 0 / 50%);
}
.widget-booking__info_popup_wr.show .widget-booking__info_popup {
  transform: translateY(0);
}
.widget-booking__copyright {
  padding-top: 15px;
}
