@import '~intl-tel-input/build/css/intlTelInput.min.css';
@import '~vue-tel-input/dist/vue-tel-input.css';
@import '~vue-img-inputer/dist/index.css';

@font-face {
  font-family: 'SF Regular';
  font-weight: 400;
  src: url('./fonts/sanfranciscodisplay-regular-webfont.woff');
}

@font-face {
  font-family: 'SF Semibold';
  font-weight: 600;
  src: url('./fonts/SF-UI-Display-Semibold.otf');
}

@font-face {
  font-family: 'SF Bold';
  font-weight: 700;
  src: url('./fonts/SF-UI-Display-Bold.otf');
}

@font-face {
  font-family: 'SF Medium';
  font-weight: 500;
  src: url('./fonts/SF-UI-Display-Medium.otf');
}


.at-widget-booking {
  display: block !important;
  @import 'custom.less';
  @import './iview/index';
}
//import responsive styles without root class
@import 'responsive.less';


