@media (min-width: 1200px) {
  .at-widget-booking {
    .at-sidebar {
      max-width: 280px;
      width: 100%;
    }

    .at-sidebar {
      width: 100%;
    }
    .flight-number {
      padding-right: 10px;
    }
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .at-widget-booking {
    .at-step-item .sidebar-title {
      font-size: 15px;
    }
  }
}

@media (max-width: 420px) {
  .at-widget-booking {
    .baby-child-seats {
      .baby-child-seats-qm {
        .ivu-poptip .ivu-poptip-popper {
          left: -50px !important;
        }
      }
    }
  }
}

@media (max-width: 450px) {
  .at-widget-booking {
    .ivu-col-span-12,
    .ivu-col-span-6 {
      width: 100% !important;
    }
  }
}

@media (min-width: 578px) {
  .at-widget-booking {
    .at-google-autocomplete {
      input {
        border-left: none !important;
      }
    }
  }
}

@media (max-width: 1200px) and (min-width: 992px) {
  .at-widget-booking {
    .flight-details .ivu-input-large {
      font-size: 14px !important;
    }

    #summary button span {
      font-size: 14px;
    }
  }
}

@media (max-width: 992px) {
  .at-widget-booking {
    .ivu-poptip-popper,
    .ivu-poptip-popper {
      left: 0 !important;
    }

    .h2 {
      h2 {
        margin-top: 5px;
        font-size: 16px !important;
        margin-bottom: 0 !important;
      }
    }

    .iview-container-at {
      padding: 0 15px;
    }

    .at-sidebar {
      display: none;
    }

    #summary {
      border-top-left-radius: 12px;
    }

    #summary h2,
    #car-class h2 {
      font-size: 18px;
    }

    #car-class {
      h3, h2, .vehicle_capacity , .vehicle-price {
        font-size: 15px;
      }
      .book-now {
        font-size: 16px;
      }
      .vehicle-type-title {
        font-size: 18px;
      }
    }
    #summary h3,
    #summary .sum-title,
    #summary table td {
      font-size: 15px;
    }

    .flight-details span {
      font-size: 15px;
    }

    #car-class .value,
    #car-class .label {
      font-size: 14px;
    }

    #car-class button h2,
    #car-class button .book-now {
      font-size: 16px;
    }

    .bg-primary.ivu-btn.ivu-btn-default.ivu-btn-long .ivu-col {
      padding: 0 6px 0 0 !important;
    }

    #summary button span {
      font-size: 15px;
    }

    .head-title h2 {
      margin-bottom: 10px;
    }

    .col-1,
    col-2 {
      margin-bottom: 15px;
    }
  }
}

@media (max-width: 767px) {
  .at-widget-booking {
    .ivu-poptip-popper,
    .ivu-poptip-popper {
      width: 190px !important;
    }
  }
}

@media (max-width: 768px) {
  .at-widget-booking {
    .bordered-left-side {
      border-radius: 12px 12px 0 0;
    }

    .bordered-right-side {
      border-radius: 0 0 12px 12px;
    }

    #summary {
      border-top-right-radius: 12px;
    }
    .payment-method {
      &__price-info {
        padding: 0 !important;
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 992px) {
  .at-widget-booking {
    .at-locale-select-original
    .ivu-select-head-with-prefix.ivu-select-selected-value {
      display: none !important;
    }

    .at-locale-select-original .ivu-select-selection {
      width: 70px;
    }
  }
}

@media (max-width: 700px) {
  .at-widget-booking {
    .at-locale-select-original {
      display: flex;
      justify-content: flex-end;
    }

    .at-from-to button span {
      font-size: 18px;
      font-weight: bold;
    }
  }
}

@media (max-width: 578px) {
  .at-widget-booking {
    .card-item {
      margin-bottom: 20px;
    }

    .toggle_text {
      display: none !important;
    }

    .extra-luggage {
      .at-google-autocomplete {
        input {
          border-left: 1px solid inherit !important;
          border-bottom-left-radius: 5px !important;
          border-top-left-radius: 5px !important;
        }
      }
    }

    .to-airport {
      .ivu-input.ivu-input-large {
        border-right: 1px solid #dcdee2;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        border-left: 0 !important;
      }
    }

    #toggle-drop-off-map span,
    .hide_xs,
    .at-google-autocomplete .ivu-input-group-prepend,
    #toggle-drop-off-map-to span {
      display: none;
    }

    .to-airport {
      .at-google-autocomplete {
        display: flex;
        flex-direction: row-reverse;

        .ivu-input-group-append {
          display: flex;
          justify-content: center;
          border-bottom-right-radius: 0;
          padding-left: 20px;
          border-bottom-left-radius: 5px !important;
          border-top-left-radius: 5px !important;
          border-left: 1px solid #dcdee2;
          border-top-right-radius: 0;
          border-right: 0 !important;
        }
      }

      #google-autocomplete-to,
      #google-autocomplete {
        border-right: 1px solid #dcdee2 !important;
        border-bottom-right-radius: 5px !important;
        border-top-right-radius: 5px !important;
      }
    }

    .ivu-form-item-error {
      #google-autocomplete-to,
      #google-autocomplete {
        border-right: 1px solid #ed4014 !important;
      }

      .ivu-input-group-append {
        border-left: 1px solid #ed4014 !important;
      }
    }

    #toggle-drop-off-map {
      padding-left: 15px;
    }

    .extra-luggage .additional-settings, .ivu-form-item{
      margin-bottom: 15px !important;
    }

    .toggle_map_button {
      display: block;
    }
  }
}

@media (min-width: 578px) {
  .at-widget-booking {
    .hide_sm {
      display: none;
    }

    .show_sm {
      display: block;
    }
  }
}

@media (max-width: 630px) {
  .at-widget-booking {
    .text-stops {
      display: none !important;
    }
  }
}

@media (max-width: 600px) {
  .at-widget-booking {
    #summary {
      width: 100% !important;
    }

    .at-from-to {
      .transfer-type {
        display: flex;

        button {
          padding: 10px 5px !important;
          line-height: 12px !important;

          span {
            font-size: 12px;
            font-weight: bold;
            white-space: normal;
          }
        }
      }
    }
    .at-step-airports-content {
      .from-airport-to button span {
        font-size: 12px;
      }

      .from-airport-to button i {
        font-size: 18px;
        margin-right: 3px;
        line-height: 31px !important;
      }
    }

    .ivu-btn-group:not(.ivu-btn-group-vertical) > .ivu-btn:first-child:not(:last-child),
    .ivu-btn-group:not(.ivu-btn-group-vertical) > .ivu-btn:last-child:not(:first-child) {
      padding: 10px;
    }

    .at-from-to {
      text-align: center;
    }

    .ivu-form-item {
      margin-bottom: 36px;
    }

    .login-form-footer {
      flex-direction: column !important;

      button {
        width: 100%;
        margin-bottom: 10px;

        + button {
          margin-left: 0 !important;
        }
      }
    }

  }
}

@media (min-width: 320px) and (max-width: 360px) {
  .at-widget-booking {
    .at-from-to {
      .transfer-type {
        button {
          line-height: 12px;

          span {
            font-size: 12px;
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  .at-widget-booking {
    .-confirm-color svg {
      display: none;
    }
  }
}

@media (max-width: 420px) {
  .at-widget-booking {
    .custom-wrap {
      display: flex;
      align-items: center;
      margin-bottom: 20px;

      .tooltip {
        display: flex;
        align-items: center;

        .ivu-poptip {
          margin-top: 2px;
        }
      }
    }
  }
}

@media (max-width: 360px) {
  .at-widget-booking {
    .total-price {
      font-size: 24px !important;
    }
  }
  .total-price, .order-evaluation {
    &__value {
      font-size: 24px !important;
    }
  }
}

@media (max-width: 378px){
  .at-widget-booking {
    .login-btn{
      margin-top: 10px;
    }
  }
}

@media (min-width: 768px) {
  .at-widget-booking {
    .bordered-left-side {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    .bordered-right-side {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }
  }
}

@media (min-width: 767px) {
  .at-widget-booking {
    .responsive {
      .ivu-poptip-popper {
        left: -63px !important;
      }
    }
  }
}

@media (max-width: 1200px) {
  .at-widget-booking {
    #car-class .label {
      margin-right: 5px;
    }

    .additional-settings {
      flex-direction: column;
      align-items: flex-start !important;
    }

    .flight-number {
      margin-bottom: -18px !important;
    }
  }
}

@media (min-width: 992px) {
  .at-widget-booking {
    #summary {
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
      max-width: 300px;
    }

    #car-class {
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    #car-class button {
      max-width: 132px;
    }

    #car-class .book-text {
      padding: 0 !important;
    }
  }
}

@media (max-width: 600px) {
  .at-widget-booking .at-from-to .transfer-type button {
    border-bottom: 4px solid #4dadfb;
  }
  .at-widget-booking .at-step-airports-content .bg-primary {
    border-bottom: 4px solid #0072d0 !important;
  }
}

@media (max-width: 800px) {
  .at-widget-booking .ivu-form-item-error-tip {
    position: initial;
  }
}
@media (max-width: 767px) {
  .widget-booking__info_popup_wr {
    bottom: 10px;
    left: 10px;
    max-width: calc(100% - 20px);
  }
}
