<template>
  <i-form
    ref="mainForm"
    @submit.native.prevent="$emit('on-submit')"
    style="margin-top: 1.2rem"
    :model="form"
    :rules="ruleValidate"
    label-position="top"
    key="fromFrom"
  >
    <i-form-item prop="pickupLocation">
      <question-mark
        class="field-label"
        :hint="$qm('step_airport_from__pickup_location').enabled"
        :label="$t('widget.step_booking.pickup_location')"
        :content="$qm('step_airport_from__pickup_location').text"
      ></question-mark>
      <i-select
        element-id="from-airport-select"
        size="large"
        :placeholder="$t('widget.step_booking.placeholder_pickup')"
        :data="autoCompleteData"
        v-model="form.pickupLocation"
        filterable
        clearable
        @on-open-change="onAirportSelectOpenChange"
      >
        <i-icon
          style="margin: 0 12px; font-size: 1.2em;"
          type="md-plane"
          slot="prefix"
          class="color-primary"
        ></i-icon>
        <!-- prettier-ignore -->
        <i-option
          v-for="airport in autoCompleteData"
          :key="airport"
          :value="airport"
          >{{ airport }}</i-option>
      </i-select>
    </i-form-item>

    <i-form-item :error="errors.address" prop="dropOffLocation" ref="addressItem" :show-message="false">
      <location-auto-complete
        v-model="form.dropOffLocation"
        :placeholder="$t('widget.step_booking.placeholder_location')"
        :show-map="isMapVisible"
        :geolocation="true"
        :specify-address="needSpecifyAddress"
        class="to-airport"
        @on-change="onDropOffLocationInputChange"
        @on-blur="() => setFieldError('address', null)"
        @place:changed="onPlaceChanged"
        :show-parent-error="true"
      >
        <template slot="autocomplete-label">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_from__drop_off_location').enabled"
            :label="$t('widget.step_booking.drop_off_location')"
            :content="$qm('step_airport_from__drop_off_location').text"
            :is-required="true"
          ></question-mark>
        </template>
      </location-auto-complete>
    </i-form-item>

    <i-row :gutter="16">
      <i-col v-bind="mediaProps">
        <i-form-item prop="dropOffDate" class="date-picker" :error="error">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_from__arrival_date').enabled"
            :label="$t('widget.step_1.arrival_date')"
            :content="$qm('step_airport_from__arrival_date').text"
          ></question-mark>
          <i-date-picker
            :options="$store.getters['datepickerOptions']"
            style="width: 100%"
            v-model="form.dropOffDate"
            :placeholder="$t('widget.step_booking.placeholder_date')"
            format="dd/MM/yyyy"
            size="large"
          ></i-date-picker>
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="dropOffTime">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_from__arrival_time').enabled"
            :label="$t('widget.step_1.arrival_time')"
            :content="$qm('step_airport_from__arrival_time').text"
          ></question-mark>
          <input-time-picker
            element-id="from-airport-time"
            v-model="form.dropOffTime"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            @input="onTimePickerChange"
          />
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item :error="errors.passengers" prop="passengers">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_from__passengers').enabled"
            :label="$t('widget.step_booking.passengers')"
            :content="$qm('step_airport_from__passengers').text"
          ></question-mark>
          <i-input-number
            style="width: 100%;"
            :placeholder="$t('widget.step_booking.placeholder_passengers')"
            size="large"
            v-model="form.passengers"
            :min="1"
            @on-blur="() => setFieldError('passengers', null)"
          ></i-input-number>
        </i-form-item>
      </i-col>
    </i-row>

    <i-form-item class="flex return-back">
      <i-checkbox size="large" v-model="form.returnJourney">
        <div class="field-label">
        <span style="padding-left: 10px;">{{
          $t('widget.step_booking.return_journey')
        }}</span>
        </div>
      </i-checkbox>
    </i-form-item>

    <i-row v-if="form.returnJourney" :gutter="16">
      <i-col v-bind="mediaProps">
        <i-form-item prop="returnDate" class="date-picker">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_from__pickup_date').enabled"
            :label="$t('widget.step_1.pickup_date')"
            :content="$qm('step_airport_from__pickup_date').text"
          ></question-mark>
          <i-date-picker
            :options="$store.getters['datepickerOptions']"
            style="width: 100%"
            v-model="form.returnDate"
            :placeholder="$t('widget.step_booking.placeholder_date')"
            format="dd/MM/yyyy"
            size="large"
          ></i-date-picker>
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="returnTime">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_from__pickup_time').enabled"
            :label="$t('widget.step_1.pickup_time')"
            :content="$qm('step_airport_from__pickup_time').text"
          ></question-mark>
          <input-time-picker
            element-id="from-airport-return-time"
            v-model="form.returnTime"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            @input="onReturnTimePickerChange"
          />
        </i-form-item>
      </i-col>
    </i-row>
    <input type="submit" style="display: none" />
  </i-form>
</template>

<script>
import { mapActions, mapGetters, mapMutations } from 'vuex'
import moment from 'moment'

import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import InputTimePicker from '../input/TimePicker'
import {
  checkNeedSpecifyAddress,
  EventBus,
  getAddressDetails,
  isValidAddressType,
} from '../../utils'


import FormMixin from '../../mixins/form-mixin'
import QuestionMark from '../QuestionMark.vue'

export default {
  name: 'FromAirportForm',

  components: {
    QuestionMark,
    LocationAutoComplete,
    InputTimePicker,
  },

  mixins: [FormMixin],

  created() {
    // don't fetch airports if already exists
    if (!this.airports || !this.airports.length) {
      this.fetchAirports()
        .then(this.mapStoreToFormData)
    } else {
      this.mapStoreToFormData()
    }

    EventBus.$on('locale:loaded', this.fetchAirports)
  },

  beforeDestroy() {
    EventBus.$off('locale:loaded', this.fetchAirports)
  },

  data() {
    return {
      errors: {},
      error: '',
      destination: null,
      addressDetails: null,
      types: null,
      form: {
        pickupLocation: '',
        dropOffLocation: '',
        dropOffDate: null,
        dropOffTime: null,
        passengers: null,
        returnJourney: false,
        returnDate: null,
        returnTime: null,
        returnPassengers: null,
      },
      needSpecifyAddress: false,
      validated: false,
    }
  },

  methods: {
    ...mapActions('airports', ['fetchAirports']),
    ...mapMutations('airports', ['setFromAirportInfo', 'setAirports', 'setSelectedTab',]),
    ...mapActions('steps', ['nextStep']),

    validateOrigin(rule, value, callback) {
      const { destination } = this
      if (!destination || !destination.length) {
        callback(new Error(this.$t('widget.messages.origin')))
      } else {
        callback()
      }
    },

    validateAddress(rule, value, callback) {
      const { types } = this
      if (!isValidAddressType(types)) {
        callback(new Error(this.$t('widget.messages.invalid_address_type')))
      } else {
        callback()
      }
    },

    async validate() {
      this.validated = true
      const { mainForm } = this.$refs
      const isFormValid = await mainForm.validate()

      // check form itself is valid
      if (!isFormValid) throw new Error('Form contains error')

      // check date offset
      const isDateValid = this.validateBookingTimeOffset()
      if (!isDateValid) throw new Error('Form contains error')

      this.mapFormDataToStore()
    },

    validateReturnDate(rule, value, cb) {
      // prettier-ignore
      /* eslint-disable */
      if (!this.form.dropOffDate ||
          !this.form.dropOffTime ||
          !this.form.returnTime ||
          !this.form.returnDate) {
        cb()
        return
      }

      const time = moment(this.form.returnTime, ['HH:mm'])
      const returnDate = new Date(this.form.returnDate.getTime())
      returnDate.setHours(time.hours())
      returnDate.setMinutes(time.minutes())

      try {
        const pickupDate = this.getPickupTime()
        if (returnDate < pickupDate) {
          cb(
            new Error(
              this.$t('widget.messages.pickup_date_offset', {
                date: moment(pickupDate).format('DD/MM/YYYY HH:mm'),
              }),
            ),
          )
          return
        }
      } catch (err) {
        console.error(err)
      }

      cb()
    },

    onReturnTimePickerChange() {
      const { mainForm } = this.$refs

      if (this.form.returnTime) {
        mainForm.validateField('returnTime')
        mainForm.validateField('returnDate')
      }
    },
    onTimePickerChange() {
      if (this.form.dropOffTime) {
        this.$refs.mainForm.validateField('dropOffTime')
      }
    },

    onAirportSelectOpenChange(shown) {
      if (shown) {
        const id = 'from-airport-select'
        const el = document.getElementById(id)
        setTimeout(() => el.focus(), 0)
      }
    },

    getPickupTime() {
      const time = moment(this.form.dropOffTime, ['HH:mm'])
      const actualTime = new Date(this.form.dropOffDate.getTime())
      actualTime.setHours(time.hours())
      actualTime.setMinutes(time.minutes())
      return actualTime
    },

    validateBookingTimeOffset() {
      this.error = ''
      /* eslint-disable camelcase */
      const { booking_date_term = 0 } = this.settings
      const timeWithOffset = new Date()
      timeWithOffset.setHours(timeWithOffset.getHours() + booking_date_term)

      const actualTime = this.getPickupTime()

      if (actualTime < timeWithOffset) {
        setTimeout(() => {
          this.error = this.$t('widget.messages.time_offset', {
            datetime: moment(timeWithOffset.getTime()).format(
              'DD/MM/YYYY HH:mm',
            ),
          })
        }, 0)

        return false
      }

      return true
    },

    validatePickupLocation(rule, value, cb) {
      const found = this.airports.find(airport => airport.name === value)
      if (found) {
        cb()
      } else {
        cb(new Error(this.$t('widget.messages.pick_up_location')))
      }
    },

    setFieldError(field, error) {
      this.$set(this.errors, field, error)
    },

    onDropOffLocationInputChange() {
      this.destination = null
    },

    onPlaceChanged(place, error) {
      if (error) {
        console.error(error)
        return
      }

      const types = place.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(place.types)

      this.addressDetails = getAddressDetails(place)
      const { lat, lng } = place.geometry.location
      // will be sent to backend
      this.destination = [lat(), lng()].join()
      this.types = types
      // uptade text box string
      this.form.dropOffLocation = place.formatted_address

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField('dropOffLocation', this.checkNeedSpecifyAddress)
    },

    // called from parent component
    mapFormDataToStore() {
      const { form, destination } = this
      const selectedAirport = this.airports.find(
        airport => airport.name === form.pickupLocation,
      )
      const formForMutate = {
        ...form,
        pickupLocation: selectedAirport,
        dropOffLocation: {
          ...this.addressDetails,
          destination,
          name: form.dropOffLocation,
          types: this.types,
        },
      }
      if (!form.returnJourney) {
        formForMutate.returnDate = null
        formForMutate.returnTime = null
        formForMutate.returnPassengers = null
      }

      this.setFromAirportInfo(formForMutate)
    },

    mapStoreToFormData() {
      const { pickupLocation, dropOffLocation } = this.fromAirportInfo

      if (pickupLocation && dropOffLocation) {
        this.destination = dropOffLocation.destination
        this.types = dropOffLocation.types
        this.form = {
          ...this.fromAirportInfo,
          pickupLocation: pickupLocation ? pickupLocation.name : null,
          dropOffLocation: dropOffLocation.name,
        }
      }
    },

    checkNeedSpecifyAddress(error) {
      if (error) {
        this.needSpecifyAddress = checkNeedSpecifyAddress(this.types)
        return
      }
      this.needSpecifyAddress = false
    },
  },

  computed: {
    ...mapGetters('airports', ['airports', 'fromAirportInfo', 'mediaProps', 'isMapVisible']),
    ...mapGetters('settings', ['settings']),

    autoCompleteData() {
      return this.airports.map(({ name }) => name)
    },

    ruleValidate() {
      const $t = this.$t.bind(this)

      return {
        pickupLocation: [
          {
            required: true,
            message: $t('widget.messages.pick_up_location'),
            trigger: 'change',
          },
          {
            validator: this.validatePickupLocation,
            trigger: 'blur',
          },
        ],
        dropOffLocation: [
          {
            required: true,
            message: $t('widget.messages.drop_off_location'),
            trigger: 'blur',
          },
          {
            validator: this.validateOrigin,
            trigger: 'blur',
          },
          {
            validator: this.validateAddress,
            trigger: 'blur',
          },
        ],
        dropOffDate: [
          {
            type: 'date',
            required: true,
            message: $t('widget.messages.pick_up_date'),
            trigger: 'change',
          },
        ],
        dropOffTime: [
          {
            required: true,
            type: 'string',
            message: $t('widget.messages.pick_up_time'),
            trigger: 'change',
          },
        ],
        passengers: [
          {
            type: 'number',
            required: true,
            message: $t('widget.messages.passengers'),
            trigger: 'change',
          },
        ],
        returnDate: [
          {
            type: 'date',
            required: true,
            message: $t('widget.messages.return_date'),
            trigger: 'change',
          },
          {
            validator: this.validateReturnDate,
            trigger: 'change',
          },
        ],
        returnTime: [
          {
            required: true,
            message: $t('widget.messages.return_time'),
            trigger: 'blur',
          },
        ],
        // returnPassengers: [
        //   {
        //     type: 'number',
        //     required: true,
        //     message: $t('widget.messages.passengers'),
        //     trigger: 'change',
        //   },
        // ],
      }
    },
  },
}
</script>
