<template>
  <i-card v-show="redirectHandled" style="background: #F8FBFF" class="at-card">
    <i-row class="at-step-airports-content">
      <i-col class="at-from-to">
        <i-button-group size="large" class="transfer-type">
          <i-button
            v-if="isVisible('transfer')"
            @click="setSelectedTab('from')"
            :class="{ 'bg-primary': component === tabComponentMap.from || component === tabComponentMap.to }"
          >
            {{ $t('widget.airport_transfer') }}
          </i-button>
          <i-button
            v-if="isVisible('cityTaxi')"
            @click="setSelectedTab('cityTaxi')"
            :class="{ 'bg-primary': component === tabComponentMap.cityTaxi }"
          >
            {{ $t('widget.city_taxi') }}
          </i-button>
          <i-button
            v-if="isVisible('delivery')"
            @click="setSelectedTab('delivery')"
            :class="{ 'bg-primary': component === tabComponentMap.delivery }"
          >
            {{ $t('widget.delivery') }}
          </i-button>
        </i-button-group>
      </i-col>
      <div v-if="isVisible('transfer')" v-show="component === tabComponentMap.from || component === tabComponentMap.to" class="from-airport-to">
          <i-button
            @click="setSelectedTab('from')"
            :class="{ 'active': component === tabComponentMap.from }"
            class="from-airport_btn"
          >
            <i class="ivu-icon ivu-icon-md-plane"></i>
            {{ $t('widget.tab_from') }}
          </i-button>
          <i-button
            @click="setSelectedTab('to')"
            :class="{ 'active': component === tabComponentMap.to }"
            class="to-airport_btn"
          >
            <i class="ivu-icon ivu-icon-md-plane"></i>
            {{ $t('widget.tab_to') }}
          </i-button>
      </div>
      <i-col v-if="errorMsg" style="margin-top: 16px">
        <i-alert
          type="error"
          show-icon
          closable
          banner
          @on-close="onErrorClose"
        >
          {{ errorMsg }}
        </i-alert>
      </i-col>
      <i-col ref="at-form-container">
        <keep-alive>
          <component :is="component" ref="tab" @on-submit="onClick"></component>
        </keep-alive>
      </i-col>
    </i-row>

    <i-button
      v-if="disabled"
      long
      size="large"
      type="warning"
      class="at-step-airports-content-search-button"
    >
      {{ $t('widget.service_unavailable') }}
    </i-button>
    <i-button
      v-else
      class="at-step-airports-content-search-button bg-primary"
      long
      size="large"
      :loading="loading"
      @click="onClick"
    >
      {{ $t('general.search') }}
    </i-button>
  </i-card>
</template>

<script>
/* eslint-disable no-underscore-dangle */
import qs from 'qs'
import debounce from 'lodash.debounce'
import notice from 'iview/src/components/notice'

// prettier-ignore
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'

import AirportsStepFromForm from './AirportsStepFromForm.vue'
import AirportsStepToForm from './AirportsStepToForm.vue'
import CityTaxiStepForm from './CityTaxiStepForm.vue'
import DeliveryStepForm from './DeliveryStepForm.vue'

export default {
  name: 'AirportsStepContent',

  components: {
    AirportsStepFromForm,
    AirportsStepToForm,
    CityTaxiStepForm,
    DeliveryStepForm,
  },

  data() {
    return {
      errorMsg: null,
      loading: false,
      tabComponentMap: {
        from: 'airports-step-from-form',
        to: 'airports-step-to-form',
        cityTaxi: 'city-taxi-step-form',
        delivery: 'delivery-step-form',
      }
    }
  },

  created() {
    this.onSizeChange = debounce(this.onResize, 500)
  },

  mounted() {
    const element = document.getElementById('at-component-layout')
    if (element) {
      const interval = setInterval(() => {
        const style = getComputedStyle(element)
        if (style.display !== 'none') {
          this.onSizeChange()
          clearInterval(interval)
        }
      }, 100)
    }
    window.addEventListener('resize', this.onSizeChange)
  },

  beforeDestroy() {
    window.removeEventListener('resize', this.onSizeChange)
  },

  computed: {
    ...mapState('airports', ['selectedTab', 'hiddenRideTypes']),
    ...mapGetters('airports', ['isFromAirport']),
    ...mapState(['disabled']),
    ...mapGetters(['redirect', 'blank', 'redirectHandled']),
    component() {
      return this.tabComponentMap[this.selectedTab]
    }
  },

  methods: {
    ...mapMutations(['setRedirectHandled']),
    ...mapActions('airports', ['setMediaProps']),
    ...mapActions('steps', ['nextStep']),
    ...mapActions('car-classes', ['fetchVehicles']),
    ...mapMutations('airports', [
      'setFromAirportInfo',
      'setToAirportForm',
      'setCityTaxiForm',
      'setDeliveryForm',
      'setSelectedTab',
    ]),

    onResize() {
      const { $el } = this.$refs['at-form-container']
      const { width } = getComputedStyle($el)
      this.setMediaProps(Number(width.replace('px', '')))
    },

    // todo: update uri params
    handleQueryParams(params) {
      const { tab } = params

      delete params.tab // eslint-disable-line
      delete params.locale // eslint-disable-line

      this.setSelectedTab(tab)
      if (tab === 'from') {
        this.setFromAirportInfo(params)
      } else if (tab === 'to') {
        this.setToAirportForm(params)
      } else if (tab === 'cityTaxi') {
        this.setCityTaxiForm(params)
      }  else if (tab === 'delivery') {
        this.setDeliveryForm(params)
      } else {
        this.setSelectedTab('to')
      }

      if (tab === 'from') {
        this.$nextTick( () => {
          this.$refs.tab.mapStoreToFormData()
        })
      }

      this.$store.commit('setRedirect', null)

      this.fetchVehicles()
        .then(() => this.nextStep())
        .catch(console.warn)
        .finally(() => {
          this.setRedirectHandled(true)
        })
    },

    onErrorClose() {
      this.errorMsg = null
    },

    onClick() {
      const form = this.$refs.tab
      form
        .validate()
        .then(() => {
          this.loading = true
          return this.fetchVehicles()
        })
        .then(vehicles => {
          if (this.redirect) {
            return this.handleRedirect(vehicles)
          }
          return this.nextStep()
        })
        .catch(err => {
          if (err.response && err.response.status === 422) {
            const { tab } = this.$refs
            if (err.response.data.errors) {
              const errMsg = err.response.data.errors['details.passengers'][0]
              tab.setFieldError('passengers', errMsg)
            } else {
              tab.setFieldError('address', err.response.data.message)
              if (err.response.data.message) {
                notice.error({ title: err.response.data.message, duration: 5 })
              }
            }
          }
          console.warn(err)
        })
        .finally(() => {
          this.loading = false
        })
    },

    openInNewTab(href, newTab) {
      const evLink = document.createElement('a')
      evLink.href = href
      if (newTab) evLink.target = '_blank'
      document.body.appendChild(evLink)
      evLink.click()
      // Now delete it
      evLink.parentNode.removeChild(evLink)
    },

    handleRedirect() {
      const { airports } = this.$store.state
      const { locale } = this.$i18n

      let data = null
      if (this.selectedTab === 'from') {
        data = airports.fromAirportInfo
      } else if (this.selectedTab === 'to') {
        data = airports.toAirportForm
      } else if (this.selectedTab === 'cityTaxi') {
        data = airports.cityTaxiForm
      } else if (this.selectedTab === 'delivery') {
        data = airports.deliveryForm
      }

      // determine absolute or relative url
      // prettier-ignore
      const isUrl = this.redirect.startsWith('http') || this.redirect.startsWith('/')

      if (isUrl) {
        const params = { ...data, tab: this.selectedTab, locale }
        const compressed = qs.stringify({ __at: params }, { encode: false })

        let url = null
        if (this.redirect.indexOf('?') > -1) {
          url = this.redirect.concat('&').concat(compressed)
        } else {
          url = this.redirect.concat('?').concat(compressed)
        }

        this.openInNewTab(url, this.blank)
      } else {
        // scroll down to widget
        this.setupHandlerEvent(locale, data, this.selectedTab)
      }
    },

    setupHandlerEvent(locale, data, tab) {
      // set global state object
      // JSON.stringify removes observers and passes plain object
      window.___AT_WIDGET_STATE___ = JSON.stringify({ locale, data, tab })

      // Create the event.
      const event = document.createEvent('Event')

      // Define that the event name is 'widget:show'.
      event.initEvent('widget:redirect', false, false)

      // Listen for the event.
      document.addEventListener(
        'widget:redirect',
        this.showHandleRedirectInPlace,
        false,
      )

      // target can be any Element or other EventTarget.
      document.dispatchEvent(event)
    },

    showHandleRedirectInPlace() {
      const container = document.getElementById(this.redirect)
      if (!container) {
        console.warn(`Can't find element with id ${this.redirect}`)
      } else {
        const widget = document.createElement('at-widget-booking')
        widget.setAttribute('locale', 'en2')
        container.appendChild(widget)
      }
    },

    isVisible(rideType) {
      return !this.hiddenRideTypes.includes(rideType)
    }
  },
}
</script>
