<template>
  <i-form
    ref="mainForm"
    style="margin-top: 1.2rem"
    label-position="top"
    :model="toAirportForm"
    :rules="rules"
    key="toForm"
    @submit.native.prevent="$emit('on-submit')"
  >
    <i-form-item prop="dropOffLocation.origin.address" :error="errors.address" ref="addressItem" :show-message="false">
      <location-auto-complete
        v-model="toAirportForm.dropOffLocation.origin.address"
        :placeholder="$t('widget.step_booking.placeholder_location')"
        :show-map="isMapVisible"
        :geolocation="true"
        :specify-address="needSpecifyAddress"
        :show-parent-error="true"
        class="to-airport"
        @place:changed="onPlaceChanged"
        @on-change="onDropOffLocationInputChange"
        @on-blur="() => setFieldError('address', null)"
      >
        <template slot="autocomplete-label">
          <question-mark
            class="field-label"
            :is-required="true"
            :hint="$qm('step_airport_to__pickup_location').enabled"
            :label="$t('widget.step_booking.pickup_location')"
            :content="$qm('step_airport_to__pickup_location').text"
          />
        </template>
      </location-auto-complete>
    </i-form-item>

    <i-form-item prop="pickupLocation.origin.address">
      <question-mark
        class="field-label"
        :hint="$qm('step_airport_to__drop_off_location').enabled"
        :label="$t('widget.step_booking.drop_off_location')"
        :content="$qm('step_airport_to__drop_off_location').text"
      ></question-mark>
      <i-select
        element-id="to-airport-select"
        size="large"
        :placeholder="$t('widget.step_booking.placeholder_pickup')"
        :data="autoCompleteData"
        v-model="toAirportForm.pickupLocation.origin.address"
        @on-change="onAirportInputChange"
        @on-open-change="onAirportSelectOpenChange"
        filterable
        clearable
      >
        <i-icon
          style="margin: 0 12px; font-size: 1.2em;"
          type="md-plane"
          slot="prefix"
          class="color-primary"
        ></i-icon>
        <!-- prettier-ignore -->
        <i-option
          v-for="airport in autoCompleteData"
          :key="airport"
          :value="airport"
        >{{ airport }}</i-option>
      </i-select>
    </i-form-item>

    <i-row :gutter="16" class="at-to-airport">
      <i-col v-bind="mediaProps">
        <i-form-item prop="date" :error="error">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__pickup_date').enabled"
            :label="$t('widget.step_1.pickup_date')"
            :content="$qm('step_airport_to__pickup_date').text"
          ></question-mark>
          <i-date-picker
            :options="$store.getters['datepickerOptions']"
            v-model="toAirportForm.date"
            style="width: 100%"
            :placeholder="$t('widget.step_booking.placeholder_date')"
            format="dd/MM/yyyy"
            size="large"
            class="date-picker"
          ></i-date-picker>
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="time">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__pickup_time').enabled"
            :label="$t('widget.step_1.pickup_time')"
            :content="$qm('step_airport_to__pickup_time').text"
          ></question-mark>
          <input-time-picker
            element-id="to-airport-time"
            v-model="toAirportForm.time"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            @input="onTimePickerChange"
          />
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="passengers" :error="errors.passengers">
          <question-mark
            :hint="$qm('step_airport_to__passengers').enabled"
            :label="$t('widget.step_booking.passengers')"
            :content="$qm('step_airport_to__passengers').text"
            class="responsive field-label"
          ></question-mark>
          <i-input-number
            style="width: 100%;"
            :placeholder="$t('widget.step_booking.placeholder_passengers')"
            size="large"
            v-model="toAirportForm.passengers"
            :min="1"
            @on-blur="() => setFieldError('passengers', null)"
          ></i-input-number>
        </i-form-item>
      </i-col>
    </i-row>

    <i-form-item class="flex return-back">
      <i-checkbox size="large" v-model="toAirportForm.returnJourney">
        <div class="field-label">
        <span style="padding-left: 10px;">{{
          $t('widget.step_booking.return_journey')
        }}</span>
        </div>
      </i-checkbox>
    </i-form-item>

    <i-row v-if="toAirportForm.returnJourney" :gutter="16">
      <i-col v-bind="mediaProps">
        <i-form-item prop="returnDate">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__arrival_date').enabled"
            :label="$t('widget.step_1.arrival_date')"
            :content="$qm('step_airport_to__arrival_date').text"
          ></question-mark>
          <i-date-picker
            :options="$store.getters['datepickerOptions']"
            style="width: 100%"
            v-model="toAirportForm.returnDate"
            :placeholder="$t('widget.step_booking.placeholder_date')"
            format="dd/MM/yyyy"
            size="large"
          ></i-date-picker>
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="returnTime">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__arrival_time').enabled"
            :label="$t('widget.step_1.arrival_time')"
            :content="$qm('step_airport_to__arrival_time').text"
          ></question-mark>
          <input-time-picker
            element-id="to-airport-return-time"
            v-model="toAirportForm.returnTime"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            @input="onReturnTimePickerChange"
          />
        </i-form-item>
      </i-col>
      <!--      <i-col v-bind="mediaProps">-->
      <!--        <i-form-item prop="returnPassengers">-->
      <!--          <question-mark-->
      <!--            :hint="$qm('step_airport_to__passengers').enabled"-->
      <!--            :label="$t('widget.step_booking.passengers')"-->
      <!--            :content="$qm('step_airport_to__passengers').text"-->
      <!--          ></question-mark>-->
      <!--          <i-input-number-->
      <!--            style="width: 100%;"-->
      <!--            :placeholder="$t('widget.step_booking.placeholder_passengers')"-->
      <!--            size="large"-->
      <!--            v-model="toAirportForm.returnPassengers"-->
      <!--            transfer="false"-->
      <!--            :min="1"-->
      <!--          ></i-input-number>-->
      <!--        </i-form-item>-->
      <!--      </i-col>-->
    </i-row>

    <input type="submit" style="display: none" />
  </i-form>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
import moment from 'moment'

import FormMixin from '../../mixins/form-mixin'
import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import InputTimePicker from '../input/TimePicker'
import {
  checkNeedSpecifyAddress,
  EventBus,
  getAddressDetails,
  isValidAddressType,
} from '../../utils'
import QuestionMark from '../QuestionMark.vue'

/**
 * NOTE:
 * In this form  drop off location and
 * pickup location values are changed
 */
export default {
  name: 'ToAirportForm',
  components: { QuestionMark, LocationAutoComplete, InputTimePicker },
  mixins: [FormMixin],

  data() {
    return {
      error: '',
      errors: {},
      needSpecifyAddress: false,
      validated: false,
    }
  },

  created() {
    // don't fetch airports if already exists
    if (!this.airports || !this.airports.length) {
      this.fetchAirports()
    }

    EventBus.$on('locale:loaded', this.fetchAirports)
  },

  computed: {
    ...mapState('airports', ['toAirportForm', 'mediaProps']),
    ...mapGetters('airports', ['airports', 'isMapVisible']),
    ...mapGetters('settings', ['settings']),

    autoCompleteData() {
      return this.airports.map(({ name }) => name)
    },

    rules() {
      const $t = this.$t.bind(this)
      return {
        'pickupLocation.origin.address': [
          {
            required: true,
            message: $t('widget.messages.drop_off_location'),
            trigger: 'blur',
          },
          {
            validator: this.validatePickupLocation,
            trigger: 'blur',
          },
        ],

        'dropOffLocation.origin.address': [
          {
            required: true,
            message: $t('widget.messages.to_pickup_location'),
            trigger: 'blur',
          },
          {
            validator: this.validateOrigin,
            trigger: 'blur',
          },
          {
            validator: this.validateAddress,
            trigger: 'blur',
          },
        ],

        date: [
          {
            required: true,
            type: 'date',
            message: $t('widget.messages.pick_up_date'),
            trigger: 'change',
          },
        ],

        time: [
          {
            required: true,
            message: $t('widget.messages.pick_up_time'),
            trigger: 'change',
          },
        ],

        passengers: [
          {
            required: true,
            type: 'number',
            message: $t('widget.messages.passengers'),
            trigger: 'blur',
          },
        ],

        returnDate: [
          {
            type: 'date',
            required: true,
            message: $t('widget.messages.return_date'),
            trigger: 'change',
          },
          {
            validator: this.validateReturnDate,
            trigger: 'change',
          },
        ],

        returnTime: [
          {
            required: true,
            message: $t('widget.messages.return_time'),
            trigger: 'change',
          },
        ],

        // returnPassengers: [
        //   {
        //     type: 'number',
        //     required: true,
        //     message: $t('widget.messages.passengers'),
        //     trigger: 'change',
        //   },
        // ],
      }
    },
  },

  methods: {
    ...mapActions('airports', ['fetchAirports']),
    ...mapMutations('airports', ['setSelectedTab',]),

    onAirportSelectOpenChange(shown) {
      if (shown) {
        const id = 'to-airport-select'
        const el = document.getElementById(id)
        setTimeout(() => el.focus(), 0)
      }
    },

    onReturnTimePickerChange() {
      const { mainForm } = this.$refs

      if (this.toAirportForm.returnTime) {
        mainForm.validateField('returnTime')
        mainForm.validateField('returnDate')
      }
    },

    onTimePickerChange() {
      if (this.toAirportForm.time) {
        this.$refs.mainForm.validateField('time')
      }
    },

    validateReturnDate(rule, value, cb) {
      // prettier-ignore
      /* eslint-disable */
      if (!this.toAirportForm.time ||
          !this.toAirportForm.date ||
          !this.toAirportForm.returnTime ||
          !this.toAirportForm.returnDate) {
        cb()
        return
      }
      /* eslint-enable */

      const time = moment(this.toAirportForm.returnTime, ['HH:mm'])
      const returnDate = new Date(this.toAirportForm.returnDate.getTime())
      returnDate.setHours(time.hours())
      returnDate.setMinutes(time.minutes())

      try {
        const pickupDate = this.getPickupTime()
        if (returnDate < pickupDate) {
          cb(
            new Error(
              this.$t('widget.messages.arrival_date_offset', {
                date: moment(pickupDate).format('DD/MM/YYYY HH:mm'),
              }),
            ),
          )
          return
        }
      } catch (err) {
        console.error(err)
      }

      cb()
    },

    getPickupTime() {
      const time = moment(this.toAirportForm.time, ['HH:mm'])
      const actualTime = new Date(this.toAirportForm.date.getTime())
      actualTime.setHours(time.hours())
      actualTime.setMinutes(time.minutes())
      return actualTime
    },

    setFieldError(field, error) {
      this.$set(this.errors, field, error)
    },

    validateBookingTimeOffset() {
      const { date, time: dropTime } = this.toAirportForm

      this.error = ''
      /* eslint-disable camelcase */
      const { booking_date_term = 0 } = this.settings
      const timeWithOffset = new Date()
      timeWithOffset.setHours(timeWithOffset.getHours() + booking_date_term)

      const time = moment.duration(dropTime)
      const actualTime = new Date(date.getTime())
      actualTime.setHours(time.hours())
      actualTime.setMinutes(time.minutes())

      if (actualTime < timeWithOffset) {
        setTimeout(() => {
          this.error = this.$t('widget.messages.time_offset', {
            datetime: moment(timeWithOffset.getTime()).format(
              'DD/MM/YYYY HH:mm',
            ),
          })
        }, 0)

        return false
      }

      return true
    },

    async validate() {
      this.validated = true
      const { mainForm } = this.$refs
      const isFormValid = await mainForm.validate()

      // check form itself is valid
      if (!isFormValid) throw new Error('Form contains error')

      // check date offset
      const isDateValid = this.validateBookingTimeOffset()
      if (!isDateValid) throw new Error('Invalid datetime')

      this.mapFormDataToStore()
    },

    validatePickupLocation(rule, value, cb) {
      const found = this.airports.find(airport => airport.name === value)
      if (found) {
        cb()
      } else {
        cb(new Error(this.$t('widget.messages.pick_up_location')))
      }
    },

    validateOrigin(rule, value, callback) {
      const { latlng } = this.toAirportForm.dropOffLocation.origin
      if (!latlng || !latlng.length) {
        callback(new Error(this.$t('widget.messages.origin')))
      } else {
        callback()
      }
    },

    validateAddress(rule, value, callback) {
      const { types } = this.toAirportForm.dropOffLocation.origin
      if (!isValidAddressType(types)) {
        callback(new Error(this.$t('widget.messages.invalid_address_type')))
      } else {
        callback()
      }
    },

    onAirportInputChange() {
      this.$nextTick(() => {
        const { address } = this.toAirportForm.pickupLocation.origin || {}
        const airport = this.airports.find(({ name }) => name === address)

        if (airport) {
          this.toAirportForm.pickupLocation = {
            id: airport.id,
            origin: {
              ...airport.location,
              address,
            },
          }
        }
      })

      // just validate field
      const { mainForm } = this.$refs

      setTimeout(
        () => mainForm.validateField('pickupLocation.origin.address'),
        0,
      )
    },

    mapFormDataToStore() {},

    onPlaceChanged(place, error) {
      if (error) {
        console.error(error)
        return
      }

      const addressDetails = getAddressDetails(place)
      const { lat, lng } = place.geometry.location
      // will be sent to backend
      const destination = [lat(), lng()].join()

      const types = place.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(place.types)

      this.toAirportForm.dropOffLocation = {
        origin: {
          address: place.formatted_address,
          latlng: destination,
          ...addressDetails,
          types,
        },
      }

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField('dropOffLocation.origin.address', this.checkNeedSpecifyAddress)
    },

    onDropOffLocationInputChange() {
      this.toAirportForm.dropOffLocation.origin.latlng = null
    },

    checkNeedSpecifyAddress(error) {
      if (error) {
        this.needSpecifyAddress = checkNeedSpecifyAddress(this.toAirportForm.dropOffLocation.origin.types)
        return
      }
      this.needSpecifyAddress = false
    },
  },
}
</script>
