<template>
  <i-form
    ref="mainForm"
    style="margin-top: 1.2rem"
    label-position="top"
    :model="cityTaxiForm"
    :rules="rules"
    key="cityTaxiForm"
    @submit.native.prevent="$emit('on-submit')"
  >
    <i-form-item prop="pickupLocation.origin.address" :error="errors.pickupAddress" ref="pickupAddressItem"
                 :show-message="false">
      <location-auto-complete
        v-model="cityTaxiForm.pickupLocation.origin.address"
        :placeholder="$t('widget.step_booking.placeholder_location')"
        :show-map="isMapVisible"
        :geolocation="true"
        :specify-address="needSpecifyAddress"
        :show-parent-error="true"
        class="to-airport"
        @place:changed="onPickupPlaceChanged"
        @on-change="onPickupLocationInputChange"
        @on-blur="() => setFieldError('pickupAddress', null)"
      >
        <template slot="autocomplete-label">
          <question-mark
            class="field-label"
            :is-required="true"
            :hint="$qm('step_airport_to__pickup_location').enabled"
            :label="$t('widget.step_booking.pickup_location')"
            :content="$qm('step_airport_to__pickup_location').text"
          />
        </template>
      </location-auto-complete>
    </i-form-item>

    <i-form-item prop="dropOffLocation.origin.address" :error="errors.dropOffAddress" ref="dropOffAddressItem"
                 :show-message="false">
      <location-auto-complete
        v-model="cityTaxiForm.dropOffLocation.origin.address"
        :placeholder="$t('widget.step_booking.placeholder_location')"
        :show-map="isMapVisible"
        :geolocation="true"
        :specify-address="false"
        :show-parent-error="true"
        class="to-airport"
        @place:changed="onDropOffPlaceChanged"
        @on-change="onDropOffLocationInputChange"
        @on-blur="() => setFieldError('dropOffAddress', null)"
      >
        <template slot="autocomplete-label">
          <question-mark
            class="field-label"
            :is-required="true"
            :hint="$qm('step_airport_to__drop_off_location').enabled"
            :label="$t('widget.step_booking.drop_off_location')"
            :content="$qm('step_airport_to__drop_off_location').text"
          />
        </template>
      </location-auto-complete>
    </i-form-item>

    <i-row :gutter="16" class="at-to-airport">
      <i-col v-bind="mediaProps">
        <i-form-item prop="date" :error="error">
          <question-mark
            class="field-label"
            :hint="$qm(originType === 'airport' ? 'step_airport_from__arrival_date' : 'step_airport_to__pickup_date').enabled"
            :label="$t(originType === 'airport' ? 'widget.step_1.arrival_date' : 'widget.step_1.pickup_date')"
            :content="$qm(originType === 'airport' ? 'step_airport_from__arrival_date' : 'step_airport_to__pickup_date').text"
          ></question-mark>
          <i-date-picker
            :options="$store.getters['datepickerOptions']"
            v-model="cityTaxiForm.date"
            style="width: 100%"
            :placeholder="$t('widget.step_booking.placeholder_date')"
            format="dd/MM/yyyy"
            size="large"
            class="date-picker"
          ></i-date-picker>
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="time">
          <question-mark
            class="field-label"
            :hint="$qm(originType === 'airport' ? 'step_airport_from__arrival_time' : 'step_airport_to__pickup_time').enabled"
            :label="$t(originType === 'airport' ? 'widget.step_1.arrival_time' : 'widget.step_1.pickup_time')"
            :content="$qm(originType === 'airport' ? 'step_airport_from__arrival_time' : 'step_airport_to__pickup_time').text"
          ></question-mark>
          <input-time-picker
            element-id="city-taxi-time"
            v-model="cityTaxiForm.time"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            @input="onTimePickerChange"
          />
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="passengers" :error="errors.passengers">
          <question-mark
            :hint="$qm('step_airport_to__passengers').enabled"
            :label="$t('widget.step_booking.passengers')"
            :content="$qm('step_airport_to__passengers').text"
            class="responsive field-label"
          ></question-mark>
          <i-input-number
            style="width: 100%;"
            :placeholder="$t('widget.step_booking.placeholder_passengers')"
            size="large"
            v-model="cityTaxiForm.passengers"
            :min="1"
            @on-blur="() => setFieldError('passengers', null)"
          ></i-input-number>
        </i-form-item>
      </i-col>
    </i-row>

    <i-form-item class="flex return-back">
      <i-checkbox size="large" v-model="cityTaxiForm.returnJourney">
        <div class="field-label">
        <span style="padding-left: 10px;">{{
            $t('widget.step_booking.return_journey')
          }}</span>
        </div>
      </i-checkbox>
    </i-form-item>

    <i-row v-if="cityTaxiForm.returnJourney" :gutter="16">
      <i-col v-bind="mediaProps">
        <i-form-item prop="returnDate">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__pickup_date').enabled"
            :label="$t('widget.step_1.pickup_date')"
            :content="$qm('step_airport_to__pickup_date').text"
          ></question-mark>
          <i-date-picker
            :options="$store.getters['datepickerOptions']"
            style="width: 100%"
            v-model="cityTaxiForm.returnDate"
            :placeholder="$t('widget.step_booking.placeholder_date')"
            format="dd/MM/yyyy"
            size="large"
          ></i-date-picker>
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="returnTime">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__pickup_time').enabled"
            :label="$t('widget.step_1.pickup_time')"
            :content="$qm('step_airport_to__pickup_time').text"
          ></question-mark>
          <input-time-picker
            element-id="city-taxi-return-time"
            v-model="cityTaxiForm.returnTime"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            @input="onReturnTimePickerChange"
          />
        </i-form-item>
      </i-col>
    </i-row>

    <input type="submit" style="display: none"/>
  </i-form>
</template>

<script>
import { mapGetters, mapMutations, mapState } from 'vuex'
import moment from 'moment'

import FormMixin from '../../mixins/form-mixin'
import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import InputTimePicker from '../input/TimePicker'

import { checkNeedSpecifyAddress, getAddressDetails, isValidAddressType } from '../../utils'
import QuestionMark from '../QuestionMark.vue'
import axios from 'axios'

export default {
  name: 'CityTaxiForm',
  components: { QuestionMark, LocationAutoComplete, InputTimePicker },
  mixins: [FormMixin],

  data() {
    return {
      error: '',
      errors: {},
      needSpecifyAddress: false,
      validated: false,
    }
  },

  computed: {
    ...mapState('airports', ['cityTaxiForm', 'mediaProps', 'originType']),
    ...mapGetters('airports', ['airports', 'isMapVisible']),
    ...mapGetters('settings', ['settings']),
    ...mapState('environment', ['VUE_APP_API_ENDPOINT']),

    rules() {
      const $t = this.$t.bind(this)
      return {
        'pickupLocation.origin.address': [
          {
            required: true,
            message: $t('widget.messages.to_pickup_location'),
            trigger: 'blur',
          },
          {
            validator: this.validatePickupLocation,
            trigger: 'blur',
          },
        ],

        'dropOffLocation.origin.address': [
          {
            required: true,
            message: $t('widget.messages.drop_off_location'),
            trigger: 'blur',
          },
          {
            validator: this.validateDropOffLocation,
            trigger: 'blur',
          },
        ],

        date: [
          {
            required: true,
            type: 'date',
            message: $t('widget.messages.pick_up_date'),
            trigger: 'change',
          },
        ],

        time: [
          {
            required: true,
            message: $t('widget.messages.pick_up_time'),
            trigger: 'change',
          },
        ],

        passengers: [
          {
            required: true,
            type: 'number',
            message: $t('widget.messages.passengers'),
            trigger: 'blur',
          },
        ],

        returnDate: [
          {
            type: 'date',
            required: true,
            message: $t('widget.messages.return_date'),
            trigger: 'change',
          },
          {
            validator: this.validateReturnDate,
            trigger: 'change',
          },
        ],

        returnTime: [
          {
            required: true,
            message: $t('widget.messages.return_time'),
            trigger: 'change',
          },
        ],
      }
    },
  },

  watch: {
    "cityTaxiForm.pickupLocation.origin.latlng": {
      handler(newVal, oldVal) {
        if (!newVal || newVal === oldVal) {
          return
        }

        axios
          .post(
            this.VUE_APP_API_ENDPOINT + `/booking-process/location-type`,
            {
              locations: {
                origin: {
                  latlng: newVal,
                },
              },
            },
          )
          .then(({ data }) => {
            this.setOriginType(data.origin)
          })
      },
    },
  },

  methods: {
    ...mapMutations('airports', ['setSelectedTab', 'setOriginType']),

    onReturnTimePickerChange() {
      const { mainForm } = this.$refs

      if (this.cityTaxiForm.time) {
        mainForm.validateField('returnTime')
        mainForm.validateField('returnDate')
      }
    },

    onTimePickerChange() {
      if (this.cityTaxiForm.time) {
        this.$refs.mainForm.validateField('time')
      }
    },

    validateReturnDate(rule, value, cb) {
      // prettier-ignore
      /* eslint-disable */
      if (!this.cityTaxiForm.time ||
          !this.cityTaxiForm.date ||
          !this.cityTaxiForm.returnTime ||
          !this.cityTaxiForm.returnDate) {
        cb()
        return
      }
      /* eslint-enable */

      const time = moment(this.cityTaxiForm.returnTime, ['HH:mm'])
      const returnDate = new Date(this.cityTaxiForm.returnDate.getTime())
      returnDate.setHours(time.hours())
      returnDate.setMinutes(time.minutes())

      try {
        const pickupDate = this.getPickupTime()
        if (returnDate < pickupDate) {
          cb(
            new Error(
              this.$t('widget.messages.arrival_date_offset', {
                date: moment(pickupDate).format('DD/MM/YYYY HH:mm'),
              }),
            ),
          )
          return
        }
      } catch (err) {
        console.error(err)
      }

      cb()
    },

    getPickupTime() {
      const time = moment(this.cityTaxiForm.time, ['HH:mm'])
      const actualTime = new Date(this.cityTaxiForm.date.getTime())
      actualTime.setHours(time.hours())
      actualTime.setMinutes(time.minutes())
      return actualTime
    },

    setFieldError(field, error) {
      this.$set(this.errors, field, error)
    },

    validateBookingTimeOffset() {
      const { date, time: dropTime } = this.cityTaxiForm

      this.error = ''
      /* eslint-disable camelcase */
      const { booking_date_term_city_taxi = 0 } = this.settings
      const timeWithOffset = new Date()
      timeWithOffset.setHours(timeWithOffset.getHours() + booking_date_term_city_taxi)

      const time = moment.duration(dropTime)
      const actualTime = new Date(date.getTime())
      actualTime.setHours(time.hours())
      actualTime.setMinutes(time.minutes())

      if (actualTime < timeWithOffset) {
        setTimeout(() => {
          this.error = this.$t('widget.messages.time_offset', {
            datetime: moment(timeWithOffset.getTime()).format(
              'DD/MM/YYYY HH:mm',
            ),
          })
        }, 0)

        return false
      }

      return true
    },

    async validate() {
      this.validated = true
      const { mainForm } = this.$refs
      const isFormValid = await mainForm.validate()

      // check form itself is valid
      if (!isFormValid) throw new Error('Form contains error')

      // check date offset
      const isDateValid = this.validateBookingTimeOffset()
      if (!isDateValid) throw new Error('Invalid datetime')

      this.mapFormDataToStore()
    },

    validatePickupLocation(rule, value, cb) {
      if (!this.validateOrigin(rule, this.cityTaxiForm.pickupLocation)) {
        cb(new Error(this.$t('widget.messages.origin')))
        return;
      }
      if (!this.validateAddress(rule, this.cityTaxiForm.pickupLocation)) {
        cb(new Error(this.$t('widget.messages.invalid_address_type')))
        return;
      }
      cb();
    },
    validateDropOffLocation(rule, value, cb) {
      if (!this.validateOrigin(rule, this.cityTaxiForm.dropOffLocation)) {
        cb(new Error(this.$t('widget.messages.origin')))
        return;
      }
      if (!this.validateAddress(rule, this.cityTaxiForm.dropOffLocation)) {
        cb(new Error(this.$t('widget.messages.invalid_address_type')))
        return;
      }
      cb();
    },

    validateOrigin(rule, value) {
      const { latlng } = value.origin
      return !!(latlng && latlng.length);

    },

    validateAddress(rule, value) {
      const { types } = value.origin
      return !!(types && isValidAddressType(types));
    },

    mapFormDataToStore() {},

    onPickupPlaceChanged(place, error) {
      if (error) {
        console.error(error)
        return
      }
      this.updateLocation(place, this.cityTaxiForm.pickupLocation)

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField('pickupLocation.origin.address', this.checkNeedSpecifyAddress)
    },

    onDropOffPlaceChanged(place, error) {
      if (error) {
        console.error(error)
        return
      }
      this.updateLocation(place, this.cityTaxiForm.dropOffLocation)

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField('dropOffLocation.origin.address')
    },

    updateLocation(newPlace, location) {
      const addressDetails = getAddressDetails(newPlace)
      const { lat, lng } = newPlace.geometry.location
      // will be sent to backend
      const destination = [lat(), lng()].join()

      const types = newPlace.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(newPlace.types)

      location.origin = {
        address: newPlace.formatted_address,
        latlng: destination,
        ...addressDetails,
        types,
      }
    },

    onDropOffLocationInputChange() {
      this.cityTaxiForm.dropOffLocation.origin.latlng = null
    },
    onPickupLocationInputChange() {
      this.cityTaxiForm.pickupLocation.origin.latlng = null
    },

    checkNeedSpecifyAddress(error) {
      if (error) {
        this.needSpecifyAddress = checkNeedSpecifyAddress(this.cityTaxiForm.pickupLocation.origin.types)
        return
      }
      this.needSpecifyAddress = false
    },
  },
}
</script>
