<template>
  <i-form
    ref="mainForm"
    style="margin-top: 1.2rem"
    label-position="top"
    :model="deliveryForm"
    :rules="rules"
    key="deliveryForm"
    @submit.native.prevent="$emit('on-submit')"
  >
    <i-form-item prop="pickupLocation.origin.address" :error="errors.pickupAddress" ref="pickupAddressItem" :show-message="false">
      <location-auto-complete
        v-model="deliveryForm.pickupLocation.origin.address"
        :placeholder="$t('widget.step_booking.placeholder_location')"
        :show-map="isMapVisible"
        :geolocation="true"
        :specify-address="needSpecifyAddress"
        :show-parent-error="true"
        class="to-airport"
        @place:changed="onPickupPlaceChanged"
        @on-change="onPickupLocationInputChange"
        @on-blur="() => setFieldError('pickupAddress', null)"
      >
        <template slot="autocomplete-label">
          <question-mark
            class="field-label"
            :is-required="true"
            :hint="$qm('step_airport_to__pickup_location').enabled"
            :label="$t('widget.step_booking.pickup_location')"
            :content="$qm('step_airport_to__pickup_location').text"
          />
        </template>
      </location-auto-complete>
    </i-form-item>

    <i-form-item prop="dropOffLocation.origin.address" :error="errors.dropOffAddress" ref="dropOffAddressItem" :show-message="false">
      <location-auto-complete
        v-model="deliveryForm.dropOffLocation.origin.address"
        :placeholder="$t('widget.step_booking.placeholder_location')"
        :show-map="isMapVisible"
        :geolocation="true"
        :specify-address="false"
        :show-parent-error="true"
        class="to-airport"
        @place:changed="onDropOffPlaceChanged"
        @on-change="onDropOffLocationInputChange"
        @on-blur="() => setFieldError('dropOffAddress', null)"
      >
        <template slot="autocomplete-label">
          <question-mark
            class="field-label"
            :is-required="true"
            :hint="$qm('step_airport_to__drop_off_location').enabled"
            :label="$t('widget.step_booking.drop_off_location')"
            :content="$qm('step_airport_to__drop_off_location').text"
          />
        </template>
      </location-auto-complete>
    </i-form-item>

    <i-row :gutter="16" class="at-to-airport">
      <i-col v-bind="mediaProps">
        <i-form-item prop="date" :error="error">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__pickup_date').enabled"
            :label="$t('widget.step_1.pickup_date')"
            :content="$qm('step_airport_to__pickup_date').text"
          ></question-mark>
          <i-date-picker
            :options="$store.getters['datepickerOptions']"
            v-model="deliveryForm.date"
            style="width: 100%"
            :placeholder="$t('widget.step_booking.placeholder_date')"
            format="dd/MM/yyyy"
            size="large"
            class="date-picker"
          ></i-date-picker>
        </i-form-item>
      </i-col>
      <i-col v-bind="mediaProps">
        <i-form-item prop="time">
          <question-mark
            class="field-label"
            :hint="$qm('step_airport_to__pickup_time').enabled"
            :label="$t('widget.step_1.pickup_time')"
            :content="$qm('step_airport_to__pickup_time').text"
          ></question-mark>
          <input-time-picker
            element-id="delivery-time"
            v-model="deliveryForm.time"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            @input="onTimePickerChange"
          />
        </i-form-item>
      </i-col>
    </i-row>
    <input type="submit" style="display: none" />
  </i-form>
</template>

<script>
import { mapState, mapGetters, mapActions, mapMutations } from 'vuex'
import moment from 'moment'

import FormMixin from '../../mixins/form-mixin'
import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import InputTimePicker from '../input/TimePicker'

import {
  checkNeedSpecifyAddress,
  EventBus,
  getAddressDetails,
  isValidAddressType,
} from '../../utils'
import QuestionMark from '../QuestionMark.vue'

export default {
  name: 'deliveryForm',
  components: { QuestionMark, LocationAutoComplete, InputTimePicker },
  mixins: [FormMixin],

  data() {
    return {
      error: '',
      errors: {},
      needSpecifyAddress: false,
      validated: false,
    }
  },

  computed: {
    ...mapState('airports', ['deliveryForm', 'mediaProps']),
    ...mapGetters('airports', ['isMapVisible']),
    ...mapGetters('settings', ['settings']),

    rules() {
      const $t = this.$t.bind(this)
      return {
        'pickupLocation.origin.address': [
          {
            required: true,
            message: $t('widget.messages.to_pickup_location'),
            trigger: 'blur',
          },
          {
            validator: this.validatePickupLocation,
            trigger: 'blur',
          },
        ],

        'dropOffLocation.origin.address': [
          {
            required: true,
            message: $t('widget.messages.drop_off_location'),
            trigger: 'blur',
          },
          {
            validator: this.validateDropOffLocation,
            trigger: 'blur',
          },
        ],

        date: [
          {
            required: true,
            type: 'date',
            message: $t('widget.messages.pick_up_date'),
            trigger: 'change',
          },
        ],

        time: [
          {
            required: true,
            message: $t('widget.messages.pick_up_time'),
            trigger: 'change',
          },
        ],
      }
    },
  },

  methods: {
    ...mapMutations('airports', ['setSelectedTab',]),

    onTimePickerChange() {
      if (this.deliveryForm.time) {
        this.$refs.mainForm.validateField('time')
      }
    },

    getPickupTime() {
      const time = moment(this.deliveryForm.time, ['HH:mm'])
      const actualTime = new Date(this.deliveryForm.date.getTime())
      actualTime.setHours(time.hours())
      actualTime.setMinutes(time.minutes())
      return actualTime
    },

    setFieldError(field, error) {
      this.$set(this.errors, field, error)
    },

    validateBookingTimeOffset() {
      const { date, time: dropTime } = this.deliveryForm

      this.error = ''
      /* eslint-disable camelcase */
      const { booking_date_term_delivery = 0 } = this.settings
      const timeWithOffset = new Date()
      timeWithOffset.setHours(timeWithOffset.getHours() + booking_date_term_delivery)

      const time = moment.duration(dropTime)
      const actualTime = new Date(date.getTime())
      actualTime.setHours(time.hours())
      actualTime.setMinutes(time.minutes())

      if (actualTime < timeWithOffset) {
        setTimeout(() => {
          this.error = this.$t('widget.messages.time_offset', {
            datetime: moment(timeWithOffset.getTime()).format(
              'DD/MM/YYYY HH:mm',
            ),
          })
        }, 0)

        return false
      }

      return true
    },

    async validate() {
      this.validated = true
      const { mainForm } = this.$refs
      const isFormValid = await mainForm.validate()

      // check form itself is valid
      if (!isFormValid) throw new Error('Form contains error')

      // check date offset
      const isDateValid = this.validateBookingTimeOffset()
      if (!isDateValid) throw new Error('Invalid datetime')

      this.mapFormDataToStore()
    },

    validatePickupLocation(rule, value, cb) {
      if (!this.validateOrigin(rule, this.deliveryForm.pickupLocation)) {
        cb(new Error(this.$t('widget.messages.origin')))
        return;
      }
      if (!this.validateAddress(rule, this.deliveryForm.pickupLocation)) {
        cb(new Error(this.$t('widget.messages.invalid_address_type')))
        return;
      }
      cb();
    },
    validateDropOffLocation(rule, value, cb) {
      if (!this.validateOrigin(rule, this.deliveryForm.dropOffLocation)) {
        cb(new Error(this.$t('widget.messages.origin')))
        return;
      }
      if (!this.validateAddress(rule, this.deliveryForm.dropOffLocation)) {
        cb(new Error(this.$t('widget.messages.invalid_address_type')))
        return;
      }
      cb();
    },

    validateOrigin(rule, value) {
      const { latlng } = value.origin
      return !!(latlng && latlng.length);

    },

    validateAddress(rule, value) {
      const { types } = value.origin
      return !!(types && isValidAddressType(types));
    },

    mapFormDataToStore() {},

    onPickupPlaceChanged(place, error) {
      if (error) {
        console.error(error)
        return
      }
      this.updateLocation(place, this.deliveryForm.pickupLocation)

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField('pickupLocation.origin.address', this.checkNeedSpecifyAddress)
    },

    onDropOffPlaceChanged(place, error) {
      if (error) {
        console.error(error)
        return
      }
      this.updateLocation(place, this.deliveryForm.dropOffLocation)

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField('dropOffLocation.origin.address')
    },

    updateLocation(newPlace, location) {
      const addressDetails = getAddressDetails(newPlace)
      const { lat, lng } = newPlace.geometry.location
      // will be sent to backend
      const destination = [lat(), lng()].join()

      const types = newPlace.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(newPlace.types)

      location.origin = {
        address: newPlace.formatted_address,
        latlng: destination,
        ...addressDetails,
        types,
      }
    },

    onDropOffLocationInputChange() {
      this.deliveryForm.dropOffLocation.origin.latlng = null
    },
    onPickupLocationInputChange() {
      this.deliveryForm.pickupLocation.origin.latlng = null
    },

    checkNeedSpecifyAddress(error) {
      if (error) {
        this.needSpecifyAddress = checkNeedSpecifyAddress(this.deliveryForm.pickupLocation.origin.types)
        return
      }
      this.needSpecifyAddress = false
    },
  },
}
</script>
