<template>
  <i-card style="background: #F8FBFF" :padding="0" class="payment-method">
    <div style="padding: 35px 30px;">
      <div class="payment-method__title">{{ $t('general.payment') }}</div>
      <i-row :gutter="16">
        <i-col v-if="!shouldSkipPayment" :xs="24" :md="12" :xl="12">
          <br />
          <i-row style="margin-bottom: 12px">
            <i-radio-group v-model="payment.method">
              <i-radio v-for="method in allowedMethods" :key="method" :label="method">
                {{ $t('enums.payment_method.' + method) }}
              </i-radio>
            </i-radio-group>
          </i-row>
          <i-row v-if="payment.method === 'cash'" style="margin-bottom: 12px">
            <!--suppress XmlInvalidId -->
            <div class="deposit-value" v-if="deposit > 0">
              {{ $t('widget.step_3.deposit') }} {{ currency.symbol }}
              {{ deposit }}
            </div>
          </i-row>
          <div v-if="!isAdmin">
            <stripe-element v-show="isStripeElementShow" ref="stripeElement" />
            <br />
            <i-row v-if="isCardSwitchShown" type="flex" align="middle">
              <i-switch
                v-model="useExistingCard"
                size="small"
                style="margin-right: 16px"
                @on-change="selectedCard = null"
              ></i-switch>
              <label>{{ $t('widget.step_3.use_existing_cards') }}</label>
            </i-row>
            <i-row v-if="isCardSwitchShown && useExistingCard" type="flex" align="middle">
              <i-button
                v-for="card in userCards"
                :key="card.id"
                style="margin-right: 12px; margin-top: 12px"
                :type="card === selectedCard ? 'primary' : 'default'"
                @click="selectedCard = card"
                class="users--cards"
              >
                <img
                  style="width: 30px; margin-right: 12px"
                  :src="cardImage"
                  :alt="card.id"
                />
                {{ `**** **** **** **** ${card.last4}` }}
              </i-button>
            </i-row>
            <br />
          </div>
          <i-alert
            v-if="paymentStatus"
            :type="paymentStatus.variant"
            closable
            @on-close="cancelPayment"
          >
            {{ paymentStatus.message }}
            <span v-if="paymentStatus && paymentStatus.recheck">
              <i-button
                type="primary"
                size="small"
                style="margin-right: 0.5rem"
                @click="checkOrder"
              >
                {{ $t('orders.recheck_payment_status') }}
              </i-button>
              <i-button
                v-if="paymentStatus && paymentStatus.recheck"
                type="default"
                size="small"
                @click="cancelPayment"
              >
                {{ $t('general.cancel') }}
              </i-button>
            </span>
          </i-alert>
        </i-col>
        <i-col :xs="24" :md="12" :xl="12">
          <price-info class="payment-method__price-info" :payment-fees="getPaymentFees" />
        </i-col>
      </i-row>
    </div>
    <i-button
      class="at-step-airports-content-search-button bg-primary"
      long
      size="large"
      :loading="loading"
      :disabled="loading || paid"
      @click="pay"
    >
      <b>{{ submitButtonText }}</b>
    </i-button>
  </i-card>
</template>

<script>
// eslint-disable-next-line
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'
import defaultCardImage from 'payment-icons/min/flat/default.svg'

import PriceInfo from '../PriceInfo.vue'
import StripeElement from '../StripeElement.vue'
import payWithCard from 'taxi-payments-js/card'
import payWithBancontact from 'taxi-payments-js/bancontact'
import orderChecker from '../../utils'

export default {
  name: 'PaymentStepContent',

  components: {
    StripeElement,
    PriceInfo,
  },

  data() {
    return {
      bookData: null,
      userCards: [],
      selectedCard: null,
      useExistingCard: false,
      loading: false,
      paid: false,
      paymentStatus: null,
    }
  },

  created() {
    this.setBookResponse(null)

    // fetch user cards
    if (!this.isAdmin) {
      this.fetchUserCards()
        .then(({ data }) => {
          this.userCards = data.data
        })
        .catch(err => console.error(err))
    }

    if (this.allowedMethods.indexOf('cash') !== -1) {
      this.$store.state['transfer-details'].payment.method = 'cash';
    } else {
      this.$store.state['transfer-details'].payment.method =
        this.allowedMethods.length > 0 ? this.allowedMethods[0] : null
    }
  },

  computed: {
    ...mapState('transfer-details', [
      'payment',
      'priceDetails',
      'passengerInformation',
      'luggage',
    ]),
    ...mapState('payment', ['order']),
    ...mapGetters('payment', ['shouldSkipPayment']),
    ...mapState('environment', ['VUE_APP_STRIPE_KEY']),
    ...mapGetters('transfer-details', ['getPaymentFees', 'hasPrice', 'isShared']),
    ...mapState(['isAdmin', 'paymentRedirect']),
    ...mapGetters(['currency']),
    ...mapGetters('settings', ['settings', 'paymentMethods']),

    cardImage() {
      return defaultCardImage
    },

    deposit() {
      /* eslint-disable camelcase */
      const { calculated_ride = {} } = this.priceDetails || {}
      const { calculated_return_ride = {} } = this.priceDetails || {}

      const { deposit: depositFirst = 0.0 } = calculated_ride || {}
      const { deposit: depositSecond = 0.0 } = calculated_return_ride || {}

      return depositFirst + depositSecond
      /* eslint-enable camelcase */
    },

    payingDeposit() {
      return this.payment.method === 'cash' && this.deposit > 0
    },

    showCreditCard() {
      return this.payment.method === 'card' || this.payingDeposit
    },

    isStripeElementShow() {
      return this.showCreditCard && !this.useExistingCard
    },

    isCardSwitchShown() {
      return this.showCreditCard && this.userCards.length
    },

    submitButtonText() {
      if (!this.hasPrice) {
        return  this.$t('widget.request_price')
      }

      if (this.payment.method === 'cash') {
        return this.$t('widget.step_2.book_now')
      }

      return this.$t('widget.step_3.pay_now')
    },

    allowedMethods() {
      if (this.isShared) {
        return ['cash']
      }
      if (this.priceDetails.payment_methods && this.priceDetails.payment_methods.length) {
        return this.priceDetails.payment_methods
      }
      return this.paymentMethods
    }
  },

  methods: {
    ...mapActions('transfer-details', [
      'book',
      'fetchUserCards',
      'sendTokenToServer',
      'startPayment',
      'uploadMeetImage',
      'fetchOrder',
    ]),
    ...mapActions('steps', ['nextStep']),
    ...mapMutations('payment', ['setInvoiceUrl', 'setInvoiceUrlReturn']),
    ...mapMutations('transfer-details', [
      'setPassengerInformation',
      'setBookResponse',
    ]),

    async pay() {
      /* eslint-disable camelcase */
      this.loading = true
      this.paymentStatus = null

      try {
        await this.uploadMeetImage()
      } catch (err) {
        const $t = this.$t.bind(this)
        this.$Notice.error({
          title: $t('general.error'),
          desc: $t('widget.messages.upload_error_message'),
        })
        this.loading = false
        return
      }

      // prettier-ignore
      if (this.shouldSkipPayment || (this.payment.method === 'cash' && this.deposit === 0)) {
        this.startBooking()
          .then(() => {
            if (this.hasPrice) {
              return this.startPayment({
                order_id: this.order.id,
                method: this.payment.method,
              })
            }
          })
          .then(() => {
            if (window.gtag_report_conversion) {
              window.gtag_report_conversion(window.location.href);
            }
          })
          .then(() => {
            if (this.paymentRedirect) {
              window.location.href = this.paymentRedirect
              return
            }
            this.nextStep()
          })
          .catch(console.error)

        return
      }

      if (this.payment.method === 'card' && this.useExistingCard && !this.selectedCard) {
        this.paymentStatus = {
          variant: 'error',
          message: 'Please select a card',
        }
        this.loading = false
        return
      }

      if ((this.payment.method === 'card' || this.payingDeposit) && !this.useExistingCard) {
        try {
          await this.requestStripeToken()
        } catch (error) {
          this.paymentStatus = {
            variant: 'error',
            message: error.message,
          }
          this.loading = false
          return
        }
      }

      this.startBooking()
        .then(() => {
          let promise

          if (this.payment.method === 'card' || this.payingDeposit) {
            promise = this.startPayment({
                order_id: this.order.id,
                method: this.payment.method,
                card_id: this.selectedCard.id,
              })
              .then(intent => payWithCard(intent, this.selectedCard.id, window.Stripe(this.VUE_APP_STRIPE_KEY)))
          } else if (this.payment.method === 'bancontact') {
            promise = this.startPayment({
                order_id: this.order.id,
                method: this.payment.method,
              })
              .then(source => payWithBancontact(source))
          }

          return promise
        })
        .then(() => {
          this.paid = true

          return this.checkOrder()
        })
        .then(() => {
          if (window.gtag_report_conversion) {
            window.gtag_report_conversion(window.location.href);
          }
        })
        .catch(error => {
          if (error.message) {
            this.paymentStatus = {
              variant: 'error',
              message: error.message,
            }
          }

          return Promise.reject(error)
        })
        .finally(() => {
          this.loading = false
        })
    },

    checkOrder() {
      this.paymentStatus = {
        variant: 'info',
        message: this.$t('orders.messages.checking_payment'),
      }

      const orderFetcher = () => {
        if (this.paid) {
          return this.fetchOrder(this.bookData.order.id)
        }
        return Promise.reject()
      }

      return orderChecker(orderFetcher, ['completed', 'partial'])
        .then(() => {
          if (this.paymentRedirect) {
            window.location.href = this.paymentRedirect
            return
          }
          this.nextStep()
        })
        .catch(() => {
          if (this.paid) {
            this.paymentStatus = {
              variant: 'warning',
              recheck: true,
              message: this.$t('orders.messages.unable_check_payment'),
            }
          }
          return Promise.reject({})
        })
    },

    startBooking() {
      // to prevent repeating booking orders
      // return previously saved booking data
      if (this.bookData) {
        return Promise.resolve(this.bookData)
      }

      return this.book()
        .then(result => {
          this.bookData = result

          const user = result.data.details
          const passenger = {
            title: user.client_appeal,
            name: user.client_first_name,
            lastname: user.client_last_name,
            email: user.client_email,
            confirmEmail: user.client_email,
            phone: user.client_phone,
            additionalPhone: user.client_phone_2,
            additionalEmail: user.client_email_2,
            token: this.passengerInformation.token,
          }

          this.setPassengerInformation(passenger)

          return result
        })
    },

    requestStripeToken() {
      return this.$refs.stripeElement.token()
        // this line will save user
        // entered card for future use card
        .then(({token}) => {
          return this.sendTokenToServer(token)
            .then(({data}) => {
              this.selectedCard = data.data
            })
        })
    },

    cancelPayment() {
      this.paymentStatus = null
      this.paid = false
      this.loading = false
    },
  },
}
</script>
