<template>
  <i-card style="background: #F8FBFF" :padding="0">
    <i-row :gutter="0" type="flex">
      <i-col
        :sm="24"
        :md="8"
        :lg="8"
        :xl="8"
        :xxl="8"
        id="summary"
        style="padding: 32px; background: white;"
        class="title"
      >
        <journey-summary></journey-summary>
      </i-col>
      <i-col
        :sm="24"
        :md="16"
        :lg="16"
        :xl="16"
        :xxl="16"
        id="car-class"
        style="padding: 32px;"
      >
        <div v-for="(vehicle, index) in availableVehicles" :key="index">
          <car-class-step-car-details
            :details="vehicle"
            @on:book="onBook"
          ></car-class-step-car-details>
          <br />
          <br />
        </div>
      </i-col>
    </i-row>
  </i-card>
</template>

<script>
import { mapGetters, mapActions, mapMutations } from 'vuex'

import CarClassStepCarDetails from './CarClassStepCarDetails.vue'
import JourneySummary from '../JourneySummary.vue'
import { EventBus } from '../../utils'
import { Tabs } from '../../utils/constants'

export default {
  name: 'CarClassStepContent',

  components: {
    JourneySummary,
    CarClassStepCarDetails,
  },

  created() {
    this.fetchVehicles()
    EventBus.$on('locale:loaded', this.fetchVehicles)
  },

  beforeDestroy() {
    EventBus.$off('locale:loaded', this.fetchVehicles)
  },

  computed: {
    ...mapGetters('car-classes', ['vehicles']),
    ...mapGetters('airports', ['selectedTab']),

    availableVehicles() {
      return this.vehicles.map(vehicle => ({
        ...vehicle,
        options: vehicle.features,
        // todo: refactor to do not override features
        features: this.extractVehicleFeatures(vehicle),
        price: `$${vehicle.calculated.total}`,
      }))
    },
  },

  methods: {
    ...mapActions('car-classes', ['setVehicle', 'fetchVehicles']),
    ...mapMutations('car-classes', ['setVehicles']),
    ...mapActions('steps', ['nextStep']),

    extractVehicleFeatures(vehicle) {
      const features = []

      if (this.selectedTab === Tabs.DELIVERY) {
        if (! vehicle.attributes) {
          return []
        }

        return [
          {
            name: this.$t('widget.vehicle.height'),
            value: vehicle.attributes.height,
            icon: 'icon-height',
          },
          {
            name: this.$t('widget.vehicle.width'),
            value: vehicle.attributes.width,
            icon: 'icon-width',
          },
          {
            name: this.$t('widget.vehicle.length'),
            value: vehicle.attributes.length,
            icon: 'icon-diagonal',
            iconStyle: { width: 19 },
          },
          {
            name: this.$t('widget.vehicle.lifting_weight'),
            value: vehicle.attributes.lifting_weight,
            icon: 'icon-weight',
            iconStyle: { width: 22 },
          },
          {
            name: this.$t('widget.vehicle.pallets'),
            value: vehicle.attributes.pallets,
            icon: 'icon-pallets',
            iconStyle: { width: 22 },
          },
        ]
      }

      if (vehicle.seats) {
        features.push({
          name: this.$t('widget.vehicle.passengers'),
          value: vehicle.seats,
          icon: 'icon-passenger',
        })
      }

      if (vehicle.luggage) {
        features.push({
          name: this.$t('widget.vehicle.medium_luggage'),
          icon: 'icon-suitcase',
          value: vehicle.luggage,
        })
      }

      if (vehicle.small_luggage) {
        features.push({
          name: this.$t('widget.vehicle.small_luggage'),
          icon: 'icon-suitcase',
          value: vehicle.small_luggage,
        })
      }

      return features
    },

    onBook(vehicle) {
      this.setVehicle(vehicle)
      this.nextStep()
    },
  },
}
</script>
