<template>
  <i-row type="flex" align="top" :gutter="16" id="car-class">
    <i-col :xs="24" :sm="8" :md="8" :lg="8" :xxl="8" class="card-item">
      <div class=" vehicle-type-title color-primary">{{ details.name }}</div>
      <img
        v-if="details.image"
        style="width: 100%;"
        :src="details.image.url"
        :alt="details.name"
      />
    </i-col>
    <i-col :xs="24" :sm="8" :md="8" :lg="8" :xxl="8" class="card-item">
      <div class="vehicle_capacity" v-text="featuresHeader"></div>
      <i-row
        v-for="(feature, index) in details.features"
        :key="index"
        :style="[muted]"
        style="min-height: 35px"
        type="flex"
        align="top"
        :gutter="12"
      >
        <i-col v-if="feature.value !== null && feature.value">
          <i-row
            :gutter="12"
            type="flex"
            align="middle"
            style="flex-wrap: nowrap;"
          >
            <i-col class="car-icons">
              <component
                :is="feature.icon"
                :style="featureIconStyle(feature)"
              ></component>
            </i-col>
            <div :style="black" class="label">{{ typeof feature.value === 'boolean' ? '' : feature.value }}</div>
            <div class="value">{{ feature.name }}</div>
          </i-row>
        </i-col>
      </i-row>
    </i-col>
    <i-col :xs="24" :sm="8" :md="8" :lg="8" :xxl="8" class="card-item">
      <div class="vehicle-price" >{{ $t('widget.step_2.total_price') }}</div>
      <div class="vehicle_currency vehicle-full-price color-primary" v-if="hasPrice && fullPrice !== price">{{ currency.symbol }} {{ fullPrice }}</div>
      <div class="vehicle_currency color-primary" v-if="hasPrice">{{ currency.symbol }} {{ price }}</div>

      <i-row type="flex" align="middle" v-if="isNotDelivery">
        <icon-car-booking
          :style="[muted]"
          style="height: 1.3rem; vertical-align: middle; margin-right: 4px"
        ></icon-car-booking>
        <div :style="[muted]" style="font-weight: bold">{{ roundText }}</div>
      </i-row>
    </i-col>

    <i-col :xs="24" :md="{ span: 8, offset: 16 }" class="card-item">
      <i-button
        @click="$emit('on:book', details)"
        long
        style="margin-bottom: 1rem"
        class="bg-primary"
      >
        <i-row type="flex" align="middle" justify="center" :gutter="12">
          <i-col>
            <icon-car-booking
              style="height: 1.5rem; vertical-align: middle"
            ></icon-car-booking>
          </i-col>
          <i-col class="book-text">
            <div class="book-now" v-if="hasPrice">{{ $t('widget.step_1.book_now') }}</div>
            <div class="book-now" v-else>{{ $t('widget.request_price') }}</div>
          </i-col>
        </i-row>
      </i-button>
    </i-col>
    <i-col span="24">
      <i-card
        :padding="8"
        :shadow="false"
        style="text-align: center; background: #DCEFFF;"
        class="-confirm-color"
      >
        <i-row type="flex" align="middle" justify="center">
          <icon-completed style="height: 2rem; fill: #55D56C;"></icon-completed>
          <span>{{ $t('widget.step_1.cancellation', { hour: 24 }) }}</span>
        </i-row>
      </i-card>
    </i-col>
  </i-row>
</template>

<script>
import { mapGetters, mapState } from 'vuex'

import IconCompleted from '../icons/IconCompleted.vue'
import IconPassenger from '../icons/IconPassenger.vue'
import IconSuitcase from '../icons/IconSuitcase.vue'
import IconHandbag from '../icons/IconHandbag.vue'
import IconCarBooking from '../icons/IconCar.vue'
import IconMapPointer from '../icons/IconMapPointer'
import IconDiagonal from '../icons/IconDiagonal'
import IconHeight from '../icons/IconHeight'
import IconPallets from '../icons/IconPallets'
import IconWeight from '../icons/IconWeight'
import IconWidth from '../icons/IconWidth'

import { Tabs } from '@/utils/constants'

export default {
  name: 'CarClassStepCarDetails',

  props: {
    details: {
      type: Object,
      default() {
        return {}
      },
    },
  },

  components: {
    IconCarBooking,
    IconDiagonal,
    IconHandbag,
    IconHeight,
    IconSuitcase,
    IconPassenger,
    IconCompleted,
    IconMapPointer,
    IconPallets,
    IconWeight,
    IconWidth,
  },

  computed: {
    ...mapState('airports', [
      'fromAirportInfo',
      'toAirportForm',
      'cityTaxiForm',
      'deliveryForm',
    ]),
    ...mapGetters(['currency']),
    ...mapGetters('airports', ['selectedTab']),

    price() {
      /* eslint-disable camelcase */
      const { calculated = {} } = this.details || {}
      let { calculated_return = {} } = this.details || {}

      const { total: first = 0.0 } = calculated
      if (!calculated_return) calculated_return = {}
      const { total: second = 0.0 } = calculated_return
      /* eslint-enable camelcase */

      return (first + second).toFixed(2)
    },

    hasPrice() {
      const { calculated = {} } = this.details || {}
      const { calculated_return = {} } = this.details || {}

      return calculated.total !== null && (calculated_return || {}).total !== null
    },

    fullPrice() {
      /* eslint-disable camelcase */
      const { calculated = {} } = this.details || {}
      let { calculated_return = {} } = this.details || {}

      const { full_price: first } = calculated
      if (!calculated_return) calculated_return = {}
      const { full_price: second = 0 } = calculated_return
      /* eslint-enable camelcase */

      return first
        ? (first + second).toFixed(2)
        : this.price
    },

    muted() {
      return {
        color: '#D6DEEB',
        fill: '#D6DEEB',
      }
    },

    black() {
      return { color: '#5B6E9A' }
    },

    roundText() {
      if (this.selectedTab === Tabs.DELIVERY) {
        return ''
      }

      let form;
      if (this.selectedTab === 'from') {
        form = this.fromAirportInfo
      } else if (this.selectedTab === 'to') {
        form = this.toAirportForm
      } else if (this.selectedTab === 'cityTaxi') {
        form = this.cityTaxiForm
      } else {
        throw new Error('Unsupported selected tab')
      }

      if (form.returnJourney) {
        return this.$t('widget.step_1.round_trip')
      }
      return this.$t('widget.step_1.one_way')
    },

    featuresHeader() {
      return this.$t('widget.step_1.vehicle_capacity')
    },

    isNotDelivery() {
      return this.selectedTab !== Tabs.DELIVERY
    }
  },

  methods: {
    featureIconStyle(feature) {
      if (feature.iconStyle) {
        return feature.iconStyle
      }

      if (feature.name === this.$t('widget.vehicle.small_luggage')) {
        return {
          width: '20px',
        }
      }

      return {
        width: '25px',
        height: '25px',
      }
    },
  },
}
</script>
