<template>
  <i-row>
    <i-col span="24">
      <i-row type="flex" align="middle" :gutter="8">
        <i-col span="3" class="arrow-line">
          <icon-arrow-left
            v-if="back"
            class="fill-primary"
            style="width: 30px; padding-top: 4px"
          ></icon-arrow-left>
          <icon-arrow-right
            v-else
            class="fill-primary arrow-line"
            style="width: 30px; padding-top: 4px;"
          ></icon-arrow-right>
        </i-col>
        <i-col span="21">
          <hr />
        </i-col>
      </i-row>
    </i-col>
    <i-col>
      <table>
        <tr
          style="padding: .2rem 0"
          v-for="(value, key) in details"
          :key="value"
        >
          <td valign="top">
            <div class="sum-title">{{ key }}</div>
          </td>
          <td width="20px"></td>
          <td valign="top">{{ value }}</td>
        </tr>
      </table>
    </i-col>
  </i-row>
</template>

<script>
import IconArrowLeft from '../icons/IconArrowLeft.vue'
import IconArrowRight from '../icons/IconArrowRight.vue'

export default {
  name: 'CarClassStepJourneyDetails',

  components: {
    IconArrowRight,
    IconArrowLeft,
  },

  props: {
    details: {
      type: Object,
      default() {
        return {
          from: 'Amsterdam',
          to: 'New York',
          date: '17.12.2019',
          time: '12:00',
          passengers: '1',
        }
      },
    },

    back: {
      type: Boolean,
      default: false,
    },
  },
}
</script>
