@import "~iview/src/styles/custom";
@import "~iview/src/styles/mixins/index";
@import './base';
@import "~iview/src/styles/common/iconfont/ionicons";
@import "~iview/src/styles/common/layout";
@import "~iview/src/styles/common/article";
@import "~iview/src/styles/animation/index";

@import "~iview/src/styles/components/button";
@import "~iview/src/styles/components/affix";
@import "~iview/src/styles/components/back-top";
@import "~iview/src/styles/components/badge";
@import "~iview/src/styles/components/circle";
@import "~iview/src/styles/components/spin";
@import "~iview/src/styles/components/alert";
@import "~iview/src/styles/components/collapse";
@import "~iview/src/styles/components/card";
@import "~iview/src/styles/components/message";
@import "~iview/src/styles/components/notice";
@import "~iview/src/styles/components/radio";
@import "~iview/src/styles/components/checkbox";
@import "~iview/src/styles/components/switch";
@import "~iview/src/styles/components/input-number";
@import "~iview/src/styles/components/layout";
@import "~iview/src/styles/components/loading-bar";
@import "~iview/src/styles/components/progress";
@import "~iview/src/styles/components/timeline";
@import "~iview/src/styles/components/page";
@import "~iview/src/styles/components/steps";
@import "~iview/src/styles/components/modal";
@import "./components/select.less";
@import "~iview/src/styles/components/select-dropdown";
@import "~iview/src/styles/components/split";
@import "~iview/src/styles/components/tooltip";
@import "~iview/src/styles/components/poptip";
@import "~iview/src/styles/components/input";
@import "~iview/src/styles/components/slider";
@import "~iview/src/styles/components/transfer";
@import "~iview/src/styles/components/table";
@import "~iview/src/styles/components/dropdown";
@import "~iview/src/styles/components/tabs";
@import "~iview/src/styles/components/date-picker";
@import "~iview/src/styles/components/time-picker";
@import "~iview/src/styles/components/form";
@import "~iview/src/styles/components/upload";
@import "~iview/src/styles/components/tree";
@import "~iview/src/styles/components/avatar";
@import "~iview/src/styles/components/auto-complete";
@import "~iview/src/styles/components/divider";
@import "~iview/src/styles/components/anchor";
@import "~iview/src/styles/components/time";
@import "~iview/src/styles/components/cell";
@import "~iview/src/styles/components/list";
@import "./components/menu.less";

@primaryColor: #4dadfb;
@dimmedText: #aab8d3;
@input-height-large: 44px;
@font-size-base: 16px;
@base-color: #607296;
@title-color: #607296;
@text-color: #9caac5;
@input-padding-horizontal: 16px;
@font-family: 'SF Regular', sans-serif;