<template>
  <div>
    <i-row :gutter='16'>
      <i-col :xs='24' :md='12'>
        <i-form-item
          prop='recipient.name'
          :rules="{
              required: true,
              message: $t('widget.messages.recipient_name_required'),
              trigger: 'blur',
            }"
        >
          <question-mark
            :hint="$qm('step_transfer_details__recipient_name').enabled"
            :content="$qm('step_transfer_details__recipient_name').text"
            :label="$t('widget.step_2.recipient_name')"
            :is-required='true'
          />
          <i-input v-model='luggage.recipient.name' size='large' />
        </i-form-item>
      </i-col>
      <i-col :xs='24' :md='12'>
        <i-form-item
          class='user-phone-number'
          prop='recipient.phone'
          :rules="{
              required: true,
              message: $t('widget.messages.recipient_phone_required'),
              trigger: 'manual',
            }"
        >
          <question-mark
            :hint="$qm('step_transfer_details__recipient_phone').enabled"
            :content="$qm('step_transfer_details__recipient_phone').text"
            :label="$t('widget.step_2.recipient_phone')"
            :is-required='true'
          />
          <vue-tel-input
            v-model='luggage.recipient.phone'
            input-id='recipient-phone'
            :dropdown-options='{ disabledDialCode: false }'
            :input-options='{ showDialCode: true, required: true }'
            :preferred-countries="['be', 'nl', 'fr', 'gb', 'ie', 'us', 'de', 'es', 'it']"
            placeholder=''
            valid-characters-only
            disabled-formatting
            @input="$emit('change', 'recipient.phone')"
          >
            <template slot='arrow-icon' slot-scope='{ open }'>
              <i-icon v-if='open' type='ios-arrow-up'></i-icon>
              <i-icon v-else type='ios-arrow-down'></i-icon>
            </template>
          </vue-tel-input>
        </i-form-item>
      </i-col>
    </i-row>

    <i-row v-if="vehicleHas('door_to_door')" type='flex' class='pos-relative'>
      <i-checkbox size='large' v-model='luggage.door_to_door'>
          <span style='padding-left: .4rem'>
            {{ $t('widget.step_2.door_to_door') }}
          </span>
      </i-checkbox>
      <span class='mtop-13'>
          <question-mark
            :hint="$qm('step_transfer_details__door_to_door').enabled"
            :content="$qm('step_transfer_details__door_to_door').text"
          />
        </span>
    </i-row>

    <i-row :gutter='16' v-show='luggage.door_to_door'>
      <i-col :xs='24' :md='12'>
        <i-form-item>
          <question-mark
            :hint="$qm('step_transfer_details__door_to_door_details_entrance').enabled"
            :content="$qm('step_transfer_details__door_to_door_details_entrance').text"
            :label="$t('widget.step_2.door_to_door_details_entrance')"
          />
          <i-input v-model='luggage.door_to_door_details.entrance' size='large' />
        </i-form-item>
      </i-col>
      <i-col :xs='24' :md='12'>
        <i-form-item>
          <question-mark
            :hint="$qm('step_transfer_details__door_to_door_details_floor').enabled"
            :content="$qm('step_transfer_details__door_to_door_details_floor').text"
            :label="$t('widget.step_2.door_to_door_details_floor')"
          />
          <i-input v-model='luggage.door_to_door_details.floor' size='large'></i-input>
        </i-form-item>
      </i-col>
      <i-col :xs='24' :md='12'>
        <i-form-item>
          <question-mark
            :hint="$qm('step_transfer_details__door_to_door_details_apartment').enabled"
            :content="$qm('step_transfer_details__door_to_door_details_apartment').text"
            :label="$t('widget.step_2.door_to_door_details_apartment')"
          />
          <i-input v-model='luggage.door_to_door_details.apartment' size='large'></i-input>
        </i-form-item>
      </i-col>
      <i-col :xs='24' :md='12'>
        <i-form-item>
          <question-mark
            :hint="$qm('step_transfer_details__door_to_door_details_intercom').enabled"
            :content="$qm('step_transfer_details__door_to_door_details_intercom').text"
            :label="$t('widget.step_2.door_to_door_details_intercom')"
          />
          <i-input v-model='luggage.door_to_door_details.intercom' size='large'></i-input>
        </i-form-item>
      </i-col>
    </i-row>

    <i-row>
      <i-col :xs="6" v-if="vehicleHas('loaders')">
        <i-form-item>
          <question-mark
            :hint='$qm(`step_transfer_details__loaders`).enabled'
            :content='$qm(`step_transfer_details__loaders`).text'
            :label='$t(`widget.step_2.loaders`)'
          />
          <i-input-number v-model='luggage.loaders' :min='0' size='large' style="width: 100%" />
        </i-form-item>
      </i-col>

      <i-col :xs="{span: 16, offset: 2}">
        <i-form-item :prop="luggage.waiting_time">
          <question-mark
            :hint="$qm(`step_transfer_details__waiting_time`).enabled"
            :content="$qm(`step_transfer_details__waiting_time`).text"
            :label="$t(`widget.step_2.waiting_time`)"
            :class="'baby-child-seats-qm'"
          ></question-mark>
          <i-time-picker
            v-model="luggage.waiting_time"
            style="width: 100%"
            :steps="[1,5]"
            size="large"
            :minutes-step="5"
            :placeholder="$t('widget.step_booking.placeholder_time')"
            format="HH:mm"
          ></i-time-picker>
        </i-form-item>
      </i-col>
    </i-row>
  </div>
</template>

<script>
import { mapGetters, mapState } from 'vuex'
import VueTelInput from 'vue-tel-input'

import QuestionMark from '../QuestionMark.vue'

export default {
  name: 'DeliveryDetailsForm',

  components: { QuestionMark, VueTelInput },

  computed: {
    ...mapState('transfer-details', ['luggage']),
    ...mapState('airports', ['deliveryForm']),
    ...mapGetters('car-classes', ['vehicleHas']),
  },
}
</script>
