<template>
  <i-form
    ref="mainForm"
    label-position="top"
    :model="luggage"
    :rules="rules"
    @submit.native.prevent
  >
    <div class="main-title">{{ header }}</div>
    <i-row type="flex" class="align-checkboxes pos-relative" v-if="isNotDelivery">
      <br />
      <i-checkbox size="large" v-model="luggage.handbagOnly">
        <span style="padding-left: .4rem;">
          {{ $t('widget.step_2.handbag_only') }}
        </span>
      </i-checkbox>
      <span class="mtop-13">
        <question-mark
          :hint="$qm('step_transfer_details__handbag_only').enabled"
          :content="$qm('step_transfer_details__handbag_only').text"
        ></question-mark>
      </span>
    </i-row>

    <div v-if="!luggage.handbagOnly">
      <i-row v-if="vehicleHas('ski_equipment')" type="flex" class="pos-relative">
        <i-checkbox size="large" v-model="luggage.ski_equipment_fee">
          <span style="padding-left: .4rem">
            {{ $t('widget.step_2.ski_equipment') }}
          </span>
        </i-checkbox>
        <span class="mtop-13">
          <question-mark
            :hint="$qm('step_transfer_details__ski_equipment').enabled"
            :content="$qm('step_transfer_details__ski_equipment').text"
          ></question-mark>
        </span>
      </i-row>

      <delivery-details-form v-if="isDelivery" class='mtop-13' @change="validateDeliveryField" />

      <i-form-item v-if="extras && extras.length" />
      <i-form-item prop="extras" style="margin-bottom: 0px" class="baby-child-seats">
        <i-row
          :gutter="16"
          class="additional-settings"
          style="display: block !important;"
        >
          <i-col
            v-for="(extra, index) in extras"
            :xs="12"
            :sm="6"
            :md="6"
            :lg="6"
            :xl="6"
            :key="`extra_${index}`"
            class="baby-child"
          >
            <i-form-item :prop="'extras.' + index + '.quantity'">
              <question-mark
                :hint="$qm(`step_transfer_details__${extra.qm_prop}`).enabled"
                :content="$qm(`step_transfer_details__${extra.qm_prop}`).text"
                :label="$t(`widget.step_2.${extra.prop}`)"
                :class="'baby-child-seats-qm'"
              ></question-mark>
              <i-input-number
                v-model="extra.quantity"
                style="width: 100%"
                :min="0"
                :max="extra.quantity + availableEmptySeats"
                :value="0"
              ></i-input-number>
            </i-form-item>
          </i-col>
        </i-row>
      </i-form-item>
    </div>

    <div v-if="vehicleHas('animals') && !luggage.handbagOnly">
      <i-row
        v-for="(animal, index) in animals"
        :key="`animal_luggage_${index}`"
        :gutter="16"
        class="animal"
        :class="{ 'first-animal': !index }"
      >
        <i-col :xs="12" :md="18" :lg="12" :xl="12">
          <i-form-item
            :prop="'animals.' + index + '.animal'"
            :rules="{
              required: true,
              message: $t('widget.messages.animal_required'),
              trigger: 'blur',
            }"
          >
            <question-mark
              v-if="index === 0 && $qm('step_transfer_details__animal').enabled"
              :content="$qm('step_transfer_details__animal').text"
              :label="index ? '' : $t('widget.step_2.animal')"
            ></question-mark>
            <i-input v-model="animal.animal" size="large"></i-input>
          </i-form-item>
        </i-col>
        <i-col :xs="8" :md="5" :lg="10" :xl="6">
          <i-form-item
            :prop="'animals.' + index + '.qty'"
            :rules="[
              {
                required: true,
                message: $t('widget.messages.quantity_required'),
              },
              {
                type: 'number',
                message: $t('widget.messages.quantity_less_than_1'),
              },
            ]"
          >
            <question-mark
              v-if="
                index === 0 &&
                  $qm('step_transfer_details__animal_quantity').enabled
              "
              :content="$qm('step_transfer_details__animal_quantity').text"
              :label="index ? '' : $t('widget.step_2.quantity')"
            ></question-mark>
            <i-input-number
              v-model="animal.qty"
              style="width: 100%"
              size="large"
              :min="1"
            ></i-input-number>
          </i-form-item>
        </i-col>
        <i-col :xs="1" class="icon">
          <div
            @click="luggage.animals = luggage.animals.filter(a => a !== animal)"
          >
            <i-form-item :label="index ? '' : ' '">
              <i-icon type="ios-remove-circle" color="red" :size="24" />
            </i-form-item>
          </div>
        </i-col>
      </i-row>
      <a>
        <div
          class="add-animals"
          @click="animals.push({ animal: '', qty: 1 })"
          :style="animals.length ? {} : { 'margin-top': '16px' }"
        >
          <span class="add-animals__label" style="float: left;">{{ $t('widget.step_2.add_animal') }}</span>
        </div>
        <span>
          <question-mark
            :hint="$qm('step_transfer_details__animal_quantity').enabled"
            :content="$qm('step_transfer_details__animal_quantity').text"
          ></question-mark>
        </span>
      </a>
      <br />
    </div>
    <i-row
      v-for="(stop, index) in stops"
      :key="`stop_luggage_${index}`"
      :gutter="16"
      type="flex"
      algin="middle"
    >
      <i-col :xs="22" class="no-flex">
        <i-form-item
          :prop="'stops.' + index + '.address'"
          :label="`${index + 1} ${$t('widget.step_2.stop')}`"
          :rules="[
            {
              required: true,
              message: $t('widget.messages.stop_required'),
              trigger: 'blur',
            },
            {
              validator(rule, value, cb) {
                const { latlng } = stop
                if (!latlng || !latlng.length)
                  cb({ message: $t('widget.messages.origin') })
                else cb()
              },
              trigger: 'blur',
            },
            {
              validator(rule, value, cb) {
                const { types } = stop
                if (!isValidAddress(types)) {
                  cb({
                    message: $t('widget.messages.invalid_address_type'),
                  })
                } else {
                  cb()
                }
              },
              trigger: 'blur',
            },
          ]"
        >
          <location-auto-complete
            v-model="stop.address"
            :placeholder="$t('widget.step_booking.placeholder_location')"
            :map-options="mapOptions"
            @on-change="stop.latlng = null"
            @place:changed="
              onStopPlaceChanged(stop, $event, `stops.${index}.address`)
            "
          />
        </i-form-item>
      </i-col>
      <i-col :xs="2">
        <div @click="luggage.stops = luggage.stops.filter(s => s !== stop)">
          <i-form-item class="mtop-25">
            <i-icon type="ios-remove-circle" color="red" :size="24" />
          </i-form-item>
        </div>
      </i-col>
    </i-row>
    <i-row>
      <i-col>
        <a>
          <div class="add-stops" @click="stops.push({ address: '' })">
            <span class="add-stops__label" style="float: left;">{{ $t('widget.step_2.add_stop') }}</span>
          </div>
          <span>
            <question-mark
              :hint="$qm('step_transfer_details__add_stop').enabled"
              :content="$qm('step_transfer_details__add_stop').text"
            ></question-mark>
          </span>
        </a>
      </i-col>
      <br />
    </i-row>

    <i-form-item :prop="luggage.waiting_time" v-if="isNotDelivery">
      <question-mark
        :hint="$qm(`step_transfer_details__waiting_time`).enabled"
        :content="$qm(`step_transfer_details__waiting_time`).text"
        :label="$t(`widget.step_2.waiting_time`)"
        :class="'baby-child-seats-qm'"
      ></question-mark>
      <i-time-picker
        v-model="luggage.waiting_time"
        style="width: 100%"
        :steps="[1,5]"
        size="large"
        :minutes-step="5"
        :placeholder="$t('widget.step_booking.placeholder_time')"
        format="HH:mm"
      ></i-time-picker>
    </i-form-item>

    <i-row type="flex" align="middle" class="align-checkboxes pos-relative" v-if="isAirportTabs">
     <i-col class="custom-wrap" style="display: flex;" :xl="12">
       <i-checkbox size="large" v-model="luggage.meet_greet" class="mt-0">
        <span style="padding-left: .4rem">
          {{ $t('widget.step_2.meet_greet') }}
        </span>
       </i-checkbox>
       <question-mark
         class="meet_greet_tooltip"
         :hint="$qm('step_transfer_details__meet_greet').enabled"
         :content="$qm('step_transfer_details__meet_greet').text"
       ></question-mark>
     </i-col>
    </i-row>
    <i-row v-if="luggage.meet_greet" :gutter="16" class="nameplate-text__field">
      <i-col :xl="12">
        <i-form-item prop="nameplateText">
          <question-mark
            :hint="$qm('step_transfer_details__nameplate').enabled"
            :content="$qm('step_transfer_details__nameplate').text"
            :label="$t('widget.step_2.nameplate_text')"
          />
          <i-input
            v-model="luggage.nameplateText"
            type="textarea"
            size="large"
            :rows="4"
          ></i-input>
        </i-form-item>
      </i-col>
      <i-col :xl="12">
        <i-form-item>
          <question-mark
            label=" "
            :hint="$qm('step_transfer_details__upload').enabled"
            :content="$qm('step_transfer_details__upload').text"
          />
          <img-inputer
            ref="imgInput"
            v-model="luggage.meet_image"
            theme="light"
            size="small"
            :img-src="meetImageSrc"
            :bottom-text="$t('widget.step_2.change_image')"
            :placeholder="$t('widget.step_2.upload_image')"
            accept="image/png,image/jpeg,image/bmp,image/gif"
          ></img-inputer>
          <a v-if="luggage.meet_image" type="text" @click="onRemoveImageClick">
            <strong>{{ $t('widget.step_2.remove_image') }}</strong>
          </a>
        </i-form-item>
      </i-col>
    </i-row>
  </i-form>
</template>

<script>
import debounce from 'lodash.debounce'
import { mapActions, mapGetters, mapState } from 'vuex'
import ImgInputer from 'vue-img-inputer'

import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import QuestionMark from '../QuestionMark.vue'
import { isValidAddressType } from '../../utils'
import DeliveryDetailsForm from '@/components/step-transfer-details/DeliveryDetailsForm'

export default {
  name: 'LuggageAndExtrasForm',

  components: {
    DeliveryDetailsForm,
    QuestionMark,
    LocationAutoComplete,
    ImgInputer,
  },

  props: {
    header: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      stopByRoad: false,
      recalculatePrice: null,
      recalculateRoute: null,
      meetImageSrc: null,
    }
  },

  mounted() {
    try {
      this.loadImgSrcIfExists()
      this.recalculate()
      this.fetchRoutePolyline()
    } catch (err) {
      console.log(err)
    }

    this.recalculatePrice = debounce(this.recalculate, 1000)
    this.recalculateRoute = debounce(this.fetchRoutePolyline, 1000)
  },

  methods: {
    ...mapActions('transfer-details', [
      'recalculate',
      'fetchRoutePolyline',
      'clearMeetPhoto',
    ]),

    isValidAddress(types) {
      return isValidAddressType(types)
    },

    onRemoveImageClick() {
      this.luggage.meet_image = null
      this.meetImageSrc = null
      this.clearMeetPhoto()
    },

    loadImgSrcIfExists() {
      if (!this.luggage.meet_image) return

      // this.$refs.imgInput.value = this.luggage.meet_image
      if (!window.FileReader) {
        console.warn("FileReader API doesn't supported")
        return
      }

      const self = this
      const fileReader = new FileReader()
      // eslint-disable-next-line
      fileReader.onload = function(fileLoadedEvent) {
        self.meetImageSrc = fileLoadedEvent.target.result
      }
      fileReader.readAsDataURL(this.luggage.meet_image)
    },

    validate() {
      return new Promise((resolve, reject) => {
        if (this.luggage.handbagOnly) {
          this.mapFormDataToStore()
          resolve()
        } else {
          this.$refs.mainForm.validate(valid => {
            if (valid) {
              this.mapFormDataToStore()
              resolve()
            } else {
              reject(new Error('Validation cancelled'))
            }
          })
        }
      })
    },

    mapFormDataToStore() {
      // do nothing
    },

    onStopPlaceChanged(stop, place, prop) {
      const types = place.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(place.types)
      /* eslint-disable */
      const { lat, lng } = place.geometry.location
      // will be sent to backend
      const destination = [lat(), lng()].join()
      // update text box string
      stop.address = place.formatted_address
      stop.latlng = destination
      stop.types = types
      /* eslint-enable */

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField(prop)
    },

    onMapVisibilityChanged(val, ref) {
      // eslint-disable-next-line
      ref.innerHTML = val
        ? this.$t('widget.hide_map')
        : this.$t('widget.show_on_map')
    },

    validateDeliveryField(field) {
      this.$refs.mainForm.validateField(field)
    },
  },

  computed: {
    ...mapState('transfer-details', ['luggage']),
    ...mapState('airports', [
      'fromAirportInfo',
      'toAirportForm',
      'cityTaxiForm',
      'deliveryForm',
    ]),
    ...mapState('car-classes', ['vehicle']),
    ...mapGetters('airports', ['mapOptions', 'selectedTab', 'isNotDelivery', 'isDelivery', 'isAirportTabs']),
    ...mapGetters('car-classes', ['vehicleHas']),

    mapToggleText: {
      get() {
        return this.toggleText
      },
      set(val) {
        this.toggleText = val
      },
    },

    availableEmptySeats() {
      // eslint-disable-next-line
      const { extras = [], fromAirportInfo, toAirportForm, cityTaxiForm, deliveryForm } = this
      const busySeats = extras.reduce((total, curr) => total + curr.quantity, 0)
      let form = 0
      if (this.selectedTab === 'from') {
        form = fromAirportInfo
      } else if (this.selectedTab === 'to') {
        form = toAirportForm
      } else if (this.selectedTab === 'cityTaxi') {
        form = cityTaxiForm
      } else if (this.selectedTab === 'delivery') {
        form = deliveryForm
      }
      const { passengers } = form

      return passengers - busySeats
    },

    animals() {
      return this.luggage.animals
    },

    stops() {
      return this.luggage.stops
    },

    extras() {
      const { extras } = this.luggage
      let result = extras

      if (!this.vehicleHas('booster_seat')) {
        result = result.filter(({ prop }) => prop !== 'booster_seats')
      }

      if (!this.vehicleHas('baby_seat')) {
        result = result.filter(({ prop }) => prop !== 'baby_seats')
      }

      return result
    },

    rules() {
      const $t = this.$t.bind(this)
      return {
        nameplateText: [
          {
            required: true,
            message: $t('widget.messages.nameplate_required'),
            trigger: 'blur',
          },
          {
            type: 'string',
            min: 5,
            message: $t('widget.messages.nameplate_length'),
            trigger: 'blur',
          },
        ],
        extras: [
          {
            validator: (rule, value, callback) => {
              if (this.availableEmptySeats < 0) {
                callback(new Error($t('widget.messages.passenger_count_exceed')))
              }
              else {
                callback()
              }
            },
            trigger: 'blur',
          }
        ],
      }
    },
  },

  watch: {
    luggage: {
      handler() {
        this.recalculatePrice()
        this.$refs.mainForm.validateField('extras')
      },
      deep: true,
    },
  },
}
</script>
<style lang="scss">
.no-flex .ivu-form-item-content > div {
  display: block !important;
}
</style>
