<template>
  <div>
    <i-form
      ref="mainForm"
      label-position="top"
      :model="passengerInformation"
      :rules="rules"
    >
      <i-row
        type="flex"
        align="middle"
        style="margin-bottom: 10px;"
        class="head-title"
      >
        <div style="float: left; margin-right: 16px" class="main-title">
          {{ header }}
        </div>
        <div v-if="!(isAdmin || isPersonal)">
          <i-button
            v-if="!passengerInformation.token"
            class="bg-primary login-btn"
            @click="showLoginModal = true"
          >
            {{ $t('general.login') }}
          </i-button>
          <i-button v-else class="bg-primary login-btn" @click="onLogoutClick">
            {{ $t('general.logout') }}
          </i-button>
        </div>
      </i-row>
      <div
        v-if="isSignedIn && !(isAdmin && isPersonal)"
        class="login-text"
      >
        {{ $t('widget.messages.warn_login') }}
      </div>
      <i-form-item />
      <i-row :gutter="16">
        <i-col :sm="5" :md="5" :lg="6" class="at-mr-ms">
          <i-form-item>
            <question-mark
              :hint="$qm('step_transfer_details__title').enabled"
              :content="$qm('step_transfer_details__title').text"
              :label="$t('widget.step_2.appeal')"
            ></question-mark>
            <i-select
              :placeholder="$t('general.select')"
              v-model="passengerInformation.title"
              size="large"
            >
              <i-option value="mr">Mr</i-option>
              <i-option value="ms">Ms</i-option>
              <i-option value="mrs">Mrs</i-option>
            </i-select>
          </i-form-item>
        </i-col>
        <i-col :sm="9">
          <i-form-item prop="name">
            <question-mark
              :hint="$qm('step_transfer_details__first_name').enabled"
              :content="$qm('step_transfer_details__first_name').text"
              :label="$t('general.name')"
            >
            </question-mark>
            <i-input v-model="passengerInformation.name" size="large"></i-input>
          </i-form-item>
        </i-col>
        <i-col :sm="9">
          <i-form-item prop="lastname">
            <question-mark
              :hint="$qm('step_transfer_details__last_name').enabled"
              :content="$qm('step_transfer_details__last_name').text"
              :label="$t('general.last_name')"
            ></question-mark>
            <i-input
              v-model="passengerInformation.lastname"
              size="large"
            ></i-input>
          </i-form-item>
        </i-col>
      </i-row>

      <i-row :gutter="16">
        <i-col :sm="12">
          <i-form-item prop="email">
            <question-mark
              :hint="$qm('step_transfer_details__email').enabled"
              :content="$qm('step_transfer_details__email').text"
              :label="$t('general.email')"
            ></question-mark>
            <i-input
              type="email"
              v-model="passengerInformation.email"
              size="large"
            ></i-input>
          </i-form-item>
        </i-col>
        <i-col :sm="12">
          <i-form-item prop="confirmEmail">
            <question-mark
              :hint="$qm('step_transfer_details__confirm_email').enabled"
              :content="$qm('step_transfer_details__confirm_email').text"
              :label="$t('general.confirm_email')"
            ></question-mark>
            <i-input
              type="email"
              v-model="passengerInformation.confirmEmail"
              size="large"
            ></i-input>
          </i-form-item>
        </i-col>
      </i-row>

      <i-row :gutter="16">
        <i-col :sm="12">
          <i-form-item prop="phone" class="user-phone-number">
            <question-mark
              :hint="$qm('step_transfer_details__phone').enabled"
              :content="$qm('step_transfer_details__phone').text"
              :label="$t('general.phone')"
            />
            <vue-tel-input
              v-model="passengerInformation.phone"
              input-id="phone"
              :dropdown-options="phoneDropdownOptions"
              :input-options="phoneInputOptions"
              :preferred-countries="['be', 'nl', 'fr', 'gb', 'ie', 'us', 'de', 'es', 'it']"
              placeholder=""
              valid-characters-only
              disabled-formatting
              @input="validatePhoneInput('phone')"
            >
              <template slot="arrow-icon" slot-scope="{ open }">
                <i-icon v-if="open" type="ios-arrow-up"></i-icon>
                <i-icon v-else type="ios-arrow-down"></i-icon>
              </template>
            </vue-tel-input>
          </i-form-item>
        </i-col>
        <i-col :sm="12">
          <i-form-item prop="additionalPhone" class="user-phone-number">
            <question-mark
              :hint="$qm('step_transfer_details__additional_phone').enabled"
              :content="$qm('step_transfer_details__additional_phone').text"
              :label="$t('widget.step_2.additional_phone')"
            ></question-mark>
            <vue-tel-input
              v-model="passengerInformation.additionalPhone"
              input-id="additional-phone"
              :dropdown-options="phoneDropdownOptions"
              :input-options="phoneInputOptions"
              :disabled-fetching-country="false"
              :preferred-countries="['be', 'nl', 'fr', 'gb', 'ie', 'us', 'de', 'es', 'it']"
              placeholder=""
              valid-characters-only
              disabled-formatting
              @input="validatePhoneInput('additionalPhone')"
            >
              <template slot="arrow-icon" slot-scope="{ open }">
                <i-icon v-if="open" type="ios-arrow-up"></i-icon>
                <i-icon v-else type="ios-arrow-down"></i-icon>
              </template>
            </vue-tel-input>
          </i-form-item>
        </i-col>
        <i-col :sm="12">
          <i-form-item prop="additionalEmail">
            <question-mark
              :hint="$qm('step_transfer_details__additional_email').enabled"
              :content="$qm('step_transfer_details__additional_email').text"
              :label="$t('widget.step_2.additional_email')"
            />
            <i-input
              v-model="passengerInformation.additionalEmail"
              type="email"
              size="large"
            ></i-input>
          </i-form-item>
        </i-col>
      </i-row>
    </i-form>

    <i-modal
      v-model="showLoginModal"
      :title="$t('widget.messages.credentials')"
      :closable="false"
      :transfer="false"
      :mask-closable="false"
      class-name="vertical-center-modal"
      class="login-form"
    >
      <i-form
        @submit.native.prevent="onLogin"
        ref="loginForm"
        :model="loginModel"
        :rules="loginRules"
      >
        <i-form-item :label="$t('general.email')" prop="email">
          <i-input
            v-model="loginModel.email"
            size="large"
            type="email"
          ></i-input>
        </i-form-item>
        <i-form-item
          :label="$t('general.password')"
          prop="password"
          :error="loginError"
        >
          <i-input
            v-model="loginModel.password"
            size="large"
            type="password"
          ></i-input>
        </i-form-item>
        <input type="submit" hidden />
      </i-form>

      <template slot="footer">
        <i-row type="flex" justify="space-between" class="login-form-footer">
          <a :href="passwordResetLink" target="_blank">
            <i-button style="float: left;">
              {{ $t('general.forgot_password') }}
            </i-button>
          </a>
          <div>
            <i-button @click="onLoginCancel">{{ $t('general.cancel') }}</i-button>
            <i-button @click="onLogin" type="primary" :loading="isLoginInProcess">
              {{ $t('general.login') }}
            </i-button>
          </div>
        </i-row>
      </template>
    </i-modal>

  </div>
</template>

<script>
/* globals intlTelInputUtils */
import { mapActions, mapGetters, mapState } from 'vuex'
import 'intl-tel-input/build/js/utils'
import VueTelInput from 'vue-tel-input'

import FormMixin from '../../mixins/form-mixin'
import { AT_TOKEN_CREDENTIALS } from '../../utils/constants'
import QuestionMark from '../QuestionMark.vue'

export default {
  name: 'PassengerInformationForm',
  components: { QuestionMark, VueTelInput },
  mixins: [FormMixin],

  props: {
    header: {
      type: String,
      default: '',
    },
  },

  data() {
    return {
      loginError: '',
      showLoginModal: false,
      isLoginInProcess: false,
      phoneDropdownOptions: {
        disabledDialCode: false,
      },
      phoneInputOptions: {
        showDialCode: true,
      },

      loginModel: {
        email: null,
        password: null,
      },
      showPrivacyModal: false,
      showTermConditionModal: false,
    }
  },

  created() {
    // prettier-ignore
    this.checkForLogin()
      .catch((/* err */) => localStorage.removeItem(AT_TOKEN_CREDENTIALS))
  },

  mounted() {
    const { classList } = document.querySelector('.v-transfer-dom') || {}
    if (classList && !classList.contains('iview-container-at')) {
      classList.add('iview-container-at')
    }
  },

  methods: {
    ...mapActions('transfer-details', ['login', 'checkForLogin', 'logout']),

    onLogoutClick() {
      this.logout()
    },

    validatePhoneInput(fieldName) {
      const { mainForm } = this.$refs
      mainForm.validateField(fieldName)
    },

    isValidPhoneCode(code) {
      return !code || (code.startsWith('+') && code.length < 4)
    },

    validatePhone(rule, value, cb) {
      const { phone } = this.passengerInformation
      if (intlTelInputUtils.isValidNumber(phone)) {
        cb()
      } else {
        const err = intlTelInputUtils.getValidationError(phone)
        cb(new Error(this.errorMap[err]))
      }
    },

    validatePhone2(rule, value, cb) {
      const { additionalPhone } = this.passengerInformation
      const validPhoneCode = this.isValidPhoneCode(value)
      // prettier-ignore
      if (!value || intlTelInputUtils.isValidNumber(additionalPhone) || validPhoneCode) {
        cb()
      } else {
        const err = intlTelInputUtils.getValidationError(additionalPhone)
        cb(new Error(this.errorMap[err]))
      }
    },

    onLoginCancel() {
      const { loginForm } = this.$refs
      loginForm.resetFields()
      this.showLoginModal = false
      this.loginModel = {
        email: '',
        password: '',
      }
    },

    validateEmail(rule, value, callback) {
      if (value === '') {
        callback(new Error(this.$t('widget.messages.email_required')))
      } else {
        callback()
      }
    },

    validateConfirmEmail(rule, value, callback) {
      if (value === '') {
        callback(new Error(this.$t('widget.messages.email_again')))
      } else if (value !== this.passengerInformation.email) {
        callback(new Error(this.$t('widget.messages.email_dont_match')))
      } else {
        callback()
      }
    },

    onLogin() {
      const { loginForm } = this.$refs
      this.loginError = ''
      loginForm.validate(valid => {
        if (valid) {
          this.isLoginInProcess = true

          const body = {
            email: this.loginModel.email,
            password: this.loginModel.password,
          }

          /* eslint-disable */
          this.login(body)
            .then(() => {
              this.showLoginModal = false
            })
            .catch(err => {
              this.loginError = err.response.data.message
            })
            .finally(() => {
              this.isLoginInProcess = false
            })
        }
      })
    },

    mapFormDataToStore() {
      if (this.isValidPhoneCode(this.passengerInformation.additionalPhone))
        this.passengerInformation.additionalPhone = null
    },
  },

  computed: {
    ...mapState('transfer-details', ['passengerInformation']),
    ...mapState(['isAdmin', 'isPersonal', 'privacyPolicy', 'termsAndConditions', 'settings']),
    ...mapGetters('settings', ['privacyPolicyText', 'termsAndConditionsText']),


    passwordResetLink() {
      return process.env.VUE_APP_API_ENDPOINT.replace('/api', '').concat(
        `/my?lang=${this.$i18n.locale}/#/forgot-password`,
      )
    },

    isPrivacyPolicyAccepted: {
      get() {
        return this.$store.state['transfer-details'].isPrivacyPolicyAccepted
      },

      set(val) {
        this.$store.state['transfer-details'].isPrivacyPolicyAccepted = val
      },
    },

    isSignedIn() {
      return !this.passengerInformation.token
    },

    rules() {
      const $t = this.$t.bind(this)
      return {
        name: [
          {
            required: true,
            message: $t('widget.messages.firstname_required'),
            trigger: 'blur',
          },
        ],
        lastname: [
          {
            required: true,
            message: $t('widget.messages.lastname_required'),
            trigger: 'blur',
          },
        ],
        email: [
          {
            required: true,
            type: 'email',
            message: $t('widget.messages.invalid_email'),
            trigger: 'blur',
          },
          {
            validator: this.validateEmail,
            trigger: 'blur',
          },
        ],
        confirmEmail: [
          {
            required: true,
            type: 'email',
            message: $t('widget.messages.invalid_confirm_email'),
            trigger: 'blur',
          },
          {
            validator: this.validateConfirmEmail,
            trigger: 'blur',
          },
        ],
        phone: [
          {
            required: true,
            message: $t('widget.messages.invalid_phone_number'),
            trigger: 'blur',
          },
          {
            validator: this.validatePhone,
            trigger: 'change',
          },
        ],
        additionalPhone: [
          {
            validator: this.validatePhone2,
            trigger: 'change',
          },
        ],
        additionalEmail: [
          {
            required: false,
            message: $t('widget.messages.invalid_email'),
            type: 'email',
            trigger: 'blur',
          },
        ],
      }
    },

    errorMap() {
      const $t = this.$t.bind(this)
      return [
        $t('widget.messages.invalid_phone_number'),
        $t('widget.messages.invalid_country_code'),
        $t('widget.messages.too_short'),
        $t('widget.messages.too_long'),
        $t('widget.messages.invalid_phone_number'),
      ]
    },

    loginRules() {
      const $t = this.$t.bind(this)
      return {
        email: [
          {
            required: true,
            type: 'email',
            message: $t('widget.messages.invalid_email'),
            trigger: 'blur',
          },
        ],
        password: [
          {
            required: true,
            message: $t('widget.messages.password_required'),
            trigger: 'blur',
          },
        ],
      }
    },
  },
}
</script>
