<template>
  <div>
    <div class="main-title" style="margin-bottom: 30px !important">
      {{ $t('widget.step_2.payment_details') }}
    </div>

    <i-card
      class="bordered"
      style="background-color: #E1F5FF"
      :bordered="false"
      dis-hover
    >
      <price-info />
    </i-card>
  </div>
</template>

<script>
import PriceInfo from '../PriceInfo.vue'

export default {
  name: 'PaymentDetails',
  components: {
    PriceInfo,
  },
}
</script>
