<template>
  <div>
    <i-row
      type="flex"
      style="margin-bottom: 24px"
    >
      <i-checkbox
        v-model="formTransferDetails.isDifferentPickupAddress"
        size="large"
      >
        <span style="padding-left: .4rem">
          {{ $t('widget.step_2.different_pickup') }}
        </span>
        <question-mark
          :hint="
            $qm('step_transfer_details__different_pickup_on_return').enabled
          "
          :content="
            $qm('step_transfer_details__different_pickup_on_return').text
          "
        ></question-mark>
      </i-checkbox>
    </i-row>
    <i-row v-if="formTransferDetails.isDifferentPickupAddress">
        <i-col>
          <i-form-item prop="pickupAddress.origin.address">
            <question-mark
              v-if="
                $qm('step_transfer_details__departing_pickup_location').enabled
              "
              :content="
                $qm('step_transfer_details__departing_pickup_location').text
              "
              :label="$t('widget.step_2.return_pickup_address')"
            />
            <location-auto-complete
              v-model="returnTransferDetails.pickupAddress.origin.address"
              :map-options="mapOptions"
              :placeholder="$t('widget.step_booking.placeholder_location')"
              @place:changed="onOriginChanged"
              @on-change="onPickupAddressChange"
            />
          </i-form-item>
        </i-col>
      </i-row>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import QuestionMark from '../QuestionMark.vue'
import { getAddressDetails } from '../../utils'

export default {
	name: 'ReturnDifferentPickup',

  components: {
    QuestionMark,
    LocationAutoComplete,
  },

  computed: {
    ...mapState('transfer-details', [
      'formTransferDetails',
      'returnTransferDetails',
    ]),
    ...mapGetters('airports', ['mapOptions']),
  },

  methods: {
    onOriginChanged(place, error) {
      this.onPlaceChanged(place, error, 'origin')
    },

    onPlaceChanged(place, error, field) {
      if (error) {
        console.log(error)
        return
      }
      const types = place.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(place.types)
      const { lat, lng } = place.geometry.location
      // will be sent to backend
      // update text box string
      const addressDetails = getAddressDetails(place)
      this.returnTransferDetails.pickupAddress[field] = {
        latlng: [lat(), lng()].join(),
        address: place.formatted_address,
        ...addressDetails,
        types,
      }
    },

    onPickupAddressChange() {
      this.returnTransferDetails.pickupAddress.origin.latlng = null
    },
  },
}
</script>
