<template>
  <i-row :gutter="16" type="flex">
    <i-col :xs="24" :xl="12">
      <i-form-item prop="planeDepartingFrom">
        <question-mark
          :hint="$qm('step_transfer_departing_details__plane_departing_from').enabled"
          :content="$qm('step_transfer_departing_details__plane_departing_from').text"
          :label="$t('widget.step_2.plane_departing_from')"
        ></question-mark>
        <i-input
          v-model="returnTransferDetails.planeDepartingFrom"
          style="width: 100%"
          size="large"
          transfer
        ></i-input>
      </i-form-item>
    </i-col>
    <i-col :xs="24" :xl="12">
      <i-form-item prop="airlineName">
        <question-mark
          :hint="$qm('step_transfer_details__airline_name').enabled"
          :content="$qm('step_transfer_details__airline_name').text"
          :label="$t('widget.step_2.airline_name')"
        ></question-mark>
        <i-input
          v-model="returnTransferDetails.airlineName"
          style="width: 100%"
          size="large"
          transfer
        ></i-input>
      </i-form-item>
    </i-col>
    <i-col :xs="24" :xl="12">
      <i-form-item prop="departureFlightNumber" class="flight-number">
        <question-mark
          :hint="
            $qm('step_transfer_details__departing_flight_number').enabled
          "
          :content="
            $qm('step_transfer_details__departing_flight_number').text
          "
          :label="$t('widget.step_2.flight_number')"
        />
        <i-input
          v-model="returnTransferDetails.departureFlightNumber"
          size="large"
        ></i-input>
      </i-form-item>
    </i-col>
    <i-col :xs="24" :xl="12">
      <question-mark />
      <div style="color: #5f7196; font-weight: 600; margin-bottom: 8px">
        <small>{{ $t('widget.messages.flight_number_wait') }}</small>
      </div>
    </i-col>
  </i-row>
</template>

<script>
import { mapState } from 'vuex'
import QuestionMark from '../QuestionMark.vue'

export default {
	name: 'ReturnFlightArrivalDetails',

  components: {
    QuestionMark,
  },

  computed: {
    ...mapState('transfer-details', [
      'returnTransferDetails',
    ]),
  },
}
</script>
