<template>
  <i-row :gutter="16" type="flex">
    <i-col :xs="24" :xl="12">
      <i-form-item prop="planeDepartingTo">
        <question-mark
          :hint="$qm('step_transfer_details__plane_departing_to').enabled"
          :content="$qm('step_transfer_details__plane_departing_to').text"
          :label="$t('widget.step_2.plane_departing_to')"
        ></question-mark>
        <i-input
          v-model="returnTransferDetails.planeDepartingTo"
          style="width: 100%"
          size="large"
          transfer
        ></i-input>
      </i-form-item>
    </i-col>
    <i-col :xs="24" :xl="12">
      <i-form-item prop="airlineName">
        <question-mark
          :hint="$qm('step_transfer_details__airline_name').enabled"
          :content="$qm('step_transfer_details__airline_name').text"
          :label="$t('widget.step_2.airline_name')"
        ></question-mark>
        <i-input
          v-model="returnTransferDetails.airlineName"
          style="width: 100%"
          size="large"
          transfer
        ></i-input>
      </i-form-item>
    </i-col>
    <i-col :xs="24" :xl="12">
      <i-form-item prop="departureFlightNumber" class="flight-number">
        <question-mark
          :hint="
            $qm('step_transfer_details__departing_flight_number').enabled
          "
          :content="
            $qm('step_transfer_details__departing_flight_number').text
          "
          :label="$t('widget.step_2.departure_flight_number')"
        />
        <i-input
          v-model="returnTransferDetails.departureFlightNumber"
          size="large"
        ></i-input>
      </i-form-item>
    </i-col>
    <i-col :xs="24" :xl="12">
      <i-form-item prop="flightDepartureTime">
        <question-mark
          :hint="
            $qm('step_transfer_details__departing_flight_time').enabled
          "
          :content="
            $qm('step_transfer_details__departing_flight_time').text
          "
          :label="$t('widget.step_2.flight_departure_time')"
        ></question-mark>
        <i-time-picker
          v-model="returnTransferDetails.flightDepartureTime"
          style="width: 100%"
          size="large"
          :placeholder="$t('widget.step_booking.placeholder_time')"
          format="HH:mm"
          transfer
        ></i-time-picker>
      </i-form-item>
    </i-col>
  </i-row>
</template>

<script>
import { mapState } from 'vuex'
import QuestionMark from '../QuestionMark.vue'

export default {
	name: 'ReturnFlightDepartureDetails',

  components: {
    QuestionMark,
  },

  computed: {
    ...mapState('transfer-details', [
      'returnTransferDetails',
    ]),
  },
}
</script>
