<template>
  <div class="extra-luggage">
    <i-form
      ref="mainForm"
      label-position="top"
      :model="returnTransferDetails"
      :rules="rules"
    >
      <br />
      <hr />
      <br />
      <div class="main-title">{{ header }}</div>
      <br />

      <return-different-pickup v-if="selectedTab === 'from' || selectedTab === 'cityTaxi'" />
      <return-different-drop-off v-else />

      <return-flight-arrival-details v-if="showArrivalDetails" />

      <div>
        <i-row :gutter="16">
          <i-col
            v-for="(extra, index) in extras"
            :xs="12"
            :md="6"
            :lg="6"
            :key="index"
          >
            <i-form-item :prop="'extras.' + index + '.name'">
              <question-mark
                :hint="$qm(`step_transfer_details__${extra.qm_prop}`).enabled"
                :content="$qm(`step_transfer_details__${extra.qm_prop}`).text"
                :label="$t(`widget.step_2.${extra.prop}`)"
              >
              </question-mark>
              <i-input-number
                v-model="extra.quantity"
                style="width: 100%"
                :min="0"
                :value="0"
              ></i-input-number>
            </i-form-item>
          </i-col>
        </i-row>
      </div>

      <div v-if="vehicleHas('animals')">
        <i-row
          v-for="(animal, index) in animals"
          :key="`animal_${index}`"
          :gutter="16"
          type="flex"
          align="middle"
          class="first-animal"
        >
          <i-col :xs="12" :md="18" :lg="12" :xl="12">
            <i-form-item
              :prop="'animals.' + index + '.animal'"
              :rules="{
                required: true,
                message: $t('widget.messages.animal_required'),
                trigger: 'blur',
              }"
            >
              <question-mark
                v-if="
                  index === 0 &&
                    $qm('step_transfer_details__return_animal').enabled
                "
                :content="$qm('step_transfer_details__return_animal').text"
                :label="index ? '' : $t('widget.step_2.animal')"
              ></question-mark>
              <i-input v-model="animal.animal" size="large"></i-input>
            </i-form-item>
          </i-col>
          <i-col :xs="8" :md="5" :lg="10" :xl="6">
            <i-form-item
              :prop="'animals.' + index + '.qty'"
              :rules="[
                {
                  required: true,
                  message: $t('widget.messages.quantity_required'),
                },
                {
                  type: 'number',
                  message: $t('widget.messages.quantity_less_than_1'),
                },
              ]"
            >
              <question-mark
                v-if="
                  index === 0 &&
                    $qm('step_transfer_details__return_animal_quantity').enabled
                "
                :content="
                  $qm('step_transfer_details__return_animal_quantity').text
                "
                :label="index ? '' : $t('widget.step_2.quantity')"
              ></question-mark>
              <i-input-number
                style="width: 100%"
                v-model="animal.qty"
                size="large"
                :min="1"
              ></i-input-number>
            </i-form-item>
          </i-col>
          <i-col :xs="1">
            <!-- prettier-ignore -->
            <div @click="returnTransferDetails.animals = returnTransferDetails.animals.filter(a => a !== animal)">
                <i-form-item :label="index ? '' : ' '">
                  <i-icon type="ios-remove-circle" color="red" :size="24" />
                </i-form-item>
              </div>
          </i-col>
        </i-row>
        <a>
          <div
            class="add-animals"
            @click="animals.push({ animal: '', qty: 1 })"
          >
            <span class="add-animals__label" style="float: left;">
              {{ $t('widget.step_2.add_animal') }}
            </span>
          </div>
          <span>
            <question-mark
              :hint="$qm('step_transfer_details__return_add_animal').enabled"
              :content="$qm('step_transfer_details__return_add_animal').text"
            ></question-mark>
          </span>
        </a>
      </div>
      <br />
      <i-row
        v-for="(stop, index) in stops"
        :key="`stop_${index}`"
        :gutter="16"
        type="flex"
        align="middle"
      >
        <i-col :xs="22">
          <i-form-item
            :prop="'stops.' + index + '.address'"
            :label="`${index + 1} ${$t('widget.step_2.stop')}`"
            :rules="[
              {
                required: true,
                message: $t('widget.messages.stop_required'),
                trigger: 'blur',
              },
              {
                validator(rule, value, cb) {
                  const { latlng } = stop
                  if (!latlng || !latlng.length)
                    cb({ message: $t('widget.messages.origin') })
                  else cb()
                },
                trigger: 'blur',
              },
              {
                validator(rule, value, cb) {
                  const { types } = stop
                  if (!isValidAddress(types)) {
                    cb({
                      message: $t('widget.messages.invalid_address_type'),
                    })
                  } else {
                    cb()
                  }
                },
                trigger: 'blur',
              },
            ]"
          >
            <location-auto-complete
              v-model="stop.address"
              :placeholder="$t('widget.step_booking.placeholder_location')"
              :map-options="mapOptions"
              style="display: block"
              @on-change="stop.latlng = null"
              @place:changed="
                onStopPlaceChanged(stop, $event, `stops.${index}.address`)
              "
              @visibility:changed="
                onVisibilityChanged($event, $refs[`stop_return_${index}`][0])
              "
            />
          </i-form-item>
        </i-col>
        <i-col :xs="2">
          <div
            @click="
              returnTransferDetails.stops = returnTransferDetails.stops.filter(
                s => s !== stop,
              )
            "
          >
            <i-form-item label=" ">
              <i-icon type="ios-remove-circle" color="red" :size="24" />
            </i-form-item>
          </div>
        </i-col>
      </i-row>
      <i-row>
        <i-col>
          <a>
            <div class="add-stops" @click="stops.push({ address: '' })">
              <span class="add-stops__label" style="float: left;">
                {{ $t('widget.step_2.add_stop') }}
              </span>
            </div>
            <span>
              <question-mark
                :hint="$qm('step_transfer_details__return_add_stop').enabled"
                :content="$qm('step_transfer_details__return_add_stop').text"
              ></question-mark>
            </span>
          </a>
        </i-col>
      </i-row>
    <br/>

    <i-form-item :prop="returnTransferDetails.waiting_time">
      <question-mark
        :hint="true || $qm(`step_transfer_details__return_waiting_time`).enabled"
        :content="$qm(`step_transfer_details__return_waiting_time`).text"
        :label="$t(`widget.step_2.waiting_time`)"
        :class="'baby-child-seats-qm'"
      ></question-mark>
      <i-time-picker
        v-model="returnTransferDetails.waiting_time"
        style="width: 100%"
        :steps="[1,5]"
        size="large"
        :minutes-step="5"
        :placeholder="$t('widget.step_booking.placeholder_time')"
        format="HH:mm"
      ></i-time-picker>
    </i-form-item>

    <i-row type="flex" v-if="isAirportTabs">
      <i-col>
        <i-checkbox size="large" v-model="returnTransferDetails.isShared">
        <span style="padding-left: .4rem;">
          {{ $t('widget.step_2.shared_taxi') }}
        </span>
          <question-mark
            :hint="$qm('step_transfer_details__shared_taxi').enabled"
            :content="$qm('step_transfer_details__shared_taxi').text"
          />
        </i-checkbox>
      </i-col>
    </i-row>
    </i-form>
  </div>
</template>

<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import debounce from 'lodash.debounce'

import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import FormMixin from '../../mixins/form-mixin'
import QuestionMark from '../QuestionMark.vue'
import { isValidAddressType } from '../../utils'
import ReturnDifferentDropOff from './ReturnDifferentDropOff'
import ReturnDifferentPickup from './ReturnDifferentPickup'
import ReturnFlightArrivalDetails from './ReturnFlightArrivalDetails'

export default {
  name: 'ReturnTransferDetailsForm',

  components: {
    QuestionMark,
    LocationAutoComplete,
    ReturnDifferentDropOff,
    ReturnDifferentPickup,
    ReturnFlightArrivalDetails,
  },

  props: {
    header: {
      type: String,
      default: '',
    },
  },

  mixins: [FormMixin],

  data() {
    return {
    }
  },

  mounted() {
    this.recalculate()
    this.fetchRoutePolyline()

    this.recalculatePrice = debounce(this.recalculate, 1000)
    this.recalculateRoute = debounce(this.fetchRoutePolyline, 1000)
  },

  computed: {
    ...mapState('transfer-details', [
      'formTransferDetails',
      'returnTransferDetails',
      'luggage',
    ]),
    ...mapGetters('airports', ['mapOptions', 'isFromAirport', 'selectedTab', 'isAirportTabs']),
    ...mapState('airports', ['destinationType']),
    ...mapGetters('car-classes', ['vehicleHas']),

    animals() {
      return this.returnTransferDetails.animals
    },

    stops() {
      return this.returnTransferDetails.stops
    },

    extras() {
      // let result = this.returnTransferDetails.extras
      //
      // if (!this.vehicleHas('booster_seat')) {
      //   result = result.filter(({ prop }) => prop !== 'booster_seats')
      // }
      //
      // if (!this.vehicleHas('baby_seat')) {
      //   result = result.filter(({ prop }) => prop !== 'baby_seats')
      // }
      //
      // return result

      // uncomment above lines if you need to enable
      // baby and booster seats fields in return transfer
      return []
    },

    rules() {
      const $t = this.$t.bind(this)
      return {
        departureFlightNumber: [
          {
            required: true,
            type: 'string',
            message: $t('widget.messages.flight_number_required'),
            trigger: 'blur',
          },
        ],
        'pickupAddress.origin.address': [
          {
            required: true,
            message: $t('widget.messages.pickup_address_required'),
          },
          {
            validator: (...args) => this.validateAddress('origin', ...args),
            trigger: 'change',
          },
        ],
        'pickupAddress.destination.address': [
          {
            required: true,
            message: $t('widget.messages.pickup_address_required'),
          },
          {
            validator: (...args) => this.validateAddress('destination', ...args),
            trigger: 'change',
          },
        ],
        flightDepartureTime: [
          {
            required: true,
            message: $t('widget.messages.time_required'),
            trigger: 'blur',
          },
        ],
        planeDepartingFrom: [
          {
            required: true,
            message: $t('widget.messages.plane_departing_from_required'),
            trigger: 'blur',
          },
        ],
        planeDepartingTo: [
          {
            required: true,
            message: $t('widget.messages.plane_departing_to_required'),
            trigger: 'blur',
          },
        ],
        airlineName: [
          {
            required: true,
            message: $t('widget.messages.airline_required'),
            trigger: 'blur',
          },
        ],
      }
    },
    showArrivalDetails() {
      return this.selectedTab === 'to' || this.destinationType === 'airport'
    }
  },

  methods: {
    ...mapActions('transfer-details', ['recalculate', 'fetchRoutePolyline']),

    // called from FormMixin validate() method
    mapFormDataToStore() {
      // do nothing
    },

    isValidAddress(types) {
      return isValidAddressType(types)
    },

    onStopPlaceChanged(stop, place, prop) {
      const types = place.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(place.types)
      /* eslint-disable */
      const { lat, lng } = place.geometry.location
      // will be sent to backend
      const destination = [lat(), lng()].join()
      // update text box string
      stop.address = place.formatted_address
      stop.latlng = destination
      stop.types = types
      /* eslint-enable */

      // validate field again
      const { mainForm } = this.$refs
      mainForm.validateField(prop)
    },

    validateAddress(field, rule, value, callback) {
      const { latlng, types } = this.returnTransferDetails.pickupAddress[field]
      if (!latlng || !latlng.length) {
        callback(this.$t('widget.messages.origin'))
      } else if (!isValidAddressType(types)) {
        callback(new Error(this.$t('widget.messages.invalid_address_type')))
      } else {
        callback()
      }
    },

    onVisibilityChanged(val, ref) {
      /* eslint-disable no-param-reassign */
      ref.innerHTML = val
        ? this.$t('widget.hide_map')
        : this.$t('widget.show_on_map')
      /* eslint-enable no-param-reassign */
    },
  },

  watch: {
    /* eslint-disable object-shorthand */
    'returnTransferDetails.stops': {
      handler() {
        this.recalculatePrice()
        this.recalculateRoute()
      },
      deep: true,
    },

    'returnTransferDetails.animals': {
      handler() {
        this.recalculatePrice()
      },
      deep: true,
    },

    'returnTransferDetails.extras': {
      handler() {
        this.recalculatePrice()
      },
      deep: true,
    },

    'returnTransferDetails.waiting_time': {
      handler() {
        this.recalculatePrice()
      },
      deep: true,
    },

    'formTransferDetails.isDifferentPickupAddress': {
      handler() {
        this.recalculatePrice()
        this.recalculateRoute()
      },
      deep: true,
    },

    'returnTransferDetails.pickupAddress.origin'(newVal, oldVal) {
      const {
        latlng: latlng1 = null,
      } = newVal || {}
      const {
        latlng: latlng2 = null,
      } = oldVal || {}

      this.recalculateRoute()

      if (latlng1 && latlng1 !== latlng2) this.recalculatePrice()
    },

    'returnTransferDetails.pickupAddress.destination'(newVal, oldVal) {
      const {
        latlng: latlng1 = null,
      } = newVal || {}
      const {
        latlng: latlng2 = null,
      } = oldVal || {}

      this.recalculateRoute()

      if (latlng1 && latlng1 !== latlng2) this.recalculatePrice()
    },
  },
}
</script>
