<template>
  <div>
    <i-row
      type="flex"
      style="margin-bottom: 24px; flex-wrap: nowrap"
      class="pos-relative different-pickup-on-return"
    >
      <i-checkbox
        v-model="formTransferDetails.isDifferentPickupAddress"
        size="large"
        style="display:flex; align-items:center;"
      >
        <span style="padding-left: .4rem">
          {{ $t('widget.step_2.different_drop_off') }}
        </span>
      </i-checkbox>
      <question-mark
        class="custom-tooltip"
        style="display:flex;"
        :hint="
            $qm('step_transfer_details__different_drop_off_on_return').enabled
          "
        :content="
            $qm('step_transfer_details__different_drop_off_on_return').text
          "
      ></question-mark>
    </i-row>
    <i-row>
        <i-col>
          <i-form-item
            v-if="formTransferDetails.isDifferentPickupAddress"
            prop="pickupAddress.destination.address"
          >
            <question-mark
              v-if="
                $qm('step_transfer_details__another_dropoff_location').enabled
              "
              :content="
                $qm('step_transfer_details__another_dropoff_location').text
              "
              :label="$t('widget.step_2.return_dropoff_address')"
            />
            <location-auto-complete
              v-model="returnTransferDetails.pickupAddress.destination.address"
              :map-options="mapOptions"
              :placeholder="$t('widget.step_booking.placeholder_location')"
              @place:changed="onDestChanged"
              @on-change="onPickupAddressChange"
            />
          </i-form-item>
        </i-col>
      </i-row>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import LocationAutoComplete from '../LocationAutoCompleteWithThrottling.vue'
import QuestionMark from '../QuestionMark.vue'
import { getAddressDetails } from '../../utils'

export default {
	name: 'ReturnDifferentDropOff',

  components: {
    QuestionMark,
    LocationAutoComplete,
  },

  computed: {
    ...mapState('transfer-details', [
      'formTransferDetails',
      'returnTransferDetails',
    ]),
    ...mapGetters('airports', ['mapOptions']),
  },

  methods: {

    onDestChanged(place, error) {
      this.onPlaceChanged(place, error, 'destination')
    },

    onPlaceChanged(place, error, field) {
      if (error) {
        console.log(error)
        return
      }
      const types = place.address_components
        .reduce((acc, curr) => acc.concat(curr.types), [])
        .concat(place.types)
      const { lat, lng } = place.geometry.location
      // will be sent to backend
      // update text box string
      const addressDetails = getAddressDetails(place)
      this.returnTransferDetails.pickupAddress[field] = {
        latlng: [lat(), lng()].join(),
        address: place.formatted_address,
        ...addressDetails,
        types,
      }
    },

    onPickupAddressChange() {
      this.returnTransferDetails.pickupAddress.destination.latlng = null
    },

  },
}
</script>
