<template>
  <i-form
    ref="mainForm"
    label-position="top"
    :model="formTransferDetails"
    :rules="rules"
    class="flight-details"
  >
    <div class="main-title">{{ header }}</div>
    <br />

    <i-row :gutter="16" type="flex" class="user-transfer-details">
      <i-col :xs="24" :xl="12">
        <i-form-item prop="planeArrivingFrom">
          <question-mark
            :hint="$qm('step_transfer_details__plane_arriving_from').enabled"
            :label="$t('widget.step_2.plane_arriving_from')"
            :content="$qm('step_transfer_details__plane_arriving_from').text"
          ></question-mark>
          <i-input
            v-model="formTransferDetails.planeArrivingFrom"
            size="large"
          ></i-input>
        </i-form-item>
      </i-col>
      <i-col :xs="24" :xl="12">
        <i-form-item prop="airlineName">
          <question-mark
            :hint="$qm('step_transfer_details__airline_name').enabled"
            :label="$t('widget.step_2.airline_name')"
            :content="$qm('step_transfer_details__airline_name').text"
          ></question-mark>
          <i-input
            v-model="formTransferDetails.airlineName"
            size="large"
          ></i-input>
        </i-form-item>
      </i-col>

      <i-col :xs="24" :xl="12" >
        <i-form-item prop="flightNumber" class="flight-number ">
          <question-mark
            :hint="$qm('step_transfer_details__flight_number').enabled"
            :label="$t('widget.step_2.flight_number')"
            :content="$qm('step_transfer_details__flight_number').text"
          ></question-mark>
          <i-input
            v-model="formTransferDetails.flightNumber"
            size="large"
          ></i-input>
        </i-form-item>
      </i-col>
      <i-col :xs="24" :xl="12">
        <question-mark />
        <div style="color: #5f7196; font-weight: 600;">
          <small>{{ $t('widget.messages.flight_number_wait') }}</small>
        </div>
      </i-col>
    </i-row>
  </i-form>
</template>

<script>
import { mapState } from 'vuex'

import FormMixin from '../../mixins/form-mixin'
import QuestionMark from '../QuestionMark.vue'

export default {
  name: 'TransferDetailsForm',
  components: { QuestionMark },
  props: {
    header: {
      type: String,
      default: '',
    },
  },

  mixins: [FormMixin],

  methods: {
    // called from FormMixin validate() method
    mapFormDataToStore() {
      // do nothing
    },
  },

  computed: {
    ...mapState('transfer-details', ['formTransferDetails']),
    ...mapState('airports', ['fromAirportInfo']),

    rules() {
      const $t = this.$t.bind(this)

      return {
        planeArrivingFrom: [
          {
            required: true,
            type: 'string',
            message: $t('widget.messages.plane_arriving_required'),
            trigger: 'blur',
          },
        ],
        airlineName: [
          {
            required: true,
            type: 'string',
            message: $t('widget.messages.airline_required'),
            trigger: 'blur',
          },
        ],
        flightNumber: [
          {
            required: true,
            type: 'string',
            message: $t('widget.messages.flight_number_required'),
            trigger: 'blur',
          },
        ],
        pickupAddress: [
          {
            required: true,
            message: $t('widget.messages.pickup_address_required'),
            trigger: 'change',
          },
        ],
      }
    },
  },
}
</script>
