<template>
  <i-card style="background: #F8FBFF" :padding="0">
    <i-row type="flex" >
      <i-col
        :sm="24"
        :md="8"
        :lg="10"
        :xl="10"
        :xxl="8"
        :gutter="0"
        id="summary"
        style="padding: 32px; background: white"
      >
        <journey-summary></journey-summary>
      </i-col>
      <i-col
        :sm="24"
        :md="16"
        :lg="14"
        :xl="14"
        :xxl="16"
        style="padding: 32px;"
        class="transfer-details"
      >
        <template v-if="isFromAirport">
          <transfer-details-form
            ref="transferDetailsForm"
            :header="$t('widget.step_2.transfer_details')"
          ></transfer-details-form>
          <hr />
          <br />
        </template>
        <luggage-and-extras-form
          class="extra-luggage"
          ref="luggageAndExtrasForm"
          :header="extrasBlockHeader"
        ></luggage-and-extras-form>

        <return-transfer-details-form
          v-if="hasReturnJourney"
          ref="returnTransferDetails"
          :header="$t('widget.step_2.return_transfer_details')"
        ></return-transfer-details-form>

        <br />
        <hr />
        <br />
        <passenger-information-form
          class="extra-luggage"
          v-if="!isAdmin"
          ref="passengerInformationForm"
          :header="clientBlockHeader"
        ></passenger-information-form>

        <br />
        <hr />
        <br />
        <i-row class="extra-luggage">
          <i-col class="comment-block">
            <question-mark
              :hint="$qm('step_transfer_details__comments').enabled"
              :content="$qm('step_transfer_details__comments').text"
              :label="$t('widget.step_2.comments')"
            />
            <i-input
              v-model="passengerInformation.notes"
              type="textarea"
              :autosize="{ minRows: 4 }"
              class="comment-block__field"
            ></i-input>
          </i-col>
        </i-row>

        <br />
        <hr />
        <br />
        <i-row v-if="showCouponField">
          <question-mark
            :hint="$qm('coupon_code').enabled"
            :content="$qm('coupon_code').text"
            :label="$t('widget.coupon_code')"
          />
        </i-row>
        <i-row class="extra-luggage" v-if="showCouponField">
          <i-col :xs="24" :md="18" :class="{'ivu-form-item-error': !!couponError }">
            <i-input
              v-model="couponCode"
              @on-keydown.passive="couponError = null"
            >
            </i-input>
            <div
              v-if="couponError"
              class="ivu-form-item-error-tip"
              v-text="couponError"
            ></div>
          </i-col>
          <i-col :xs="24" :md="6">
            <i-button long
                      type="primary"
                      v-text="$t('widget.coupon_apply')"
                      @click="applyCouponCode"

            />
          </i-col>
          <br />
          <hr />
          <br />
        </i-row>
        <payment-details></payment-details>

        <br />
        <hr />
        <br />
        <PolicyAndTerms :buttonText="buttonText" />
      </i-col>
    </i-row>
    <i-button
      class="at-step-airports-content-search-button bg-primary"
      long
      size="large"
      :loading="isBookingInProgress"
      @click="onBookNowButtonClick"
    >
      <b>{{ buttonText }}</b>
    </i-button>
  </i-card>
</template>

<script>
// prettier-ignore
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'
import notice from 'iview/src/components/notice'
import JourneySummary from '../JourneySummary.vue'
import TransferDetailsForm from './TransferDetailsForm.vue'
import LuggageAndExtrasForm from './LuggageAndExtrasForm.vue'
import ReturnTransferDetailsForm from './ReturnTransferDetails.vue'
import PassengerInformationForm from './PassengerInformationForm.vue'
import PaymentDetails from './PaymentDetails.vue'
import PolicyAndTerms from './../PolicyAndTerms.vue'
import { AT_TOKEN_CREDENTIALS, Tabs } from '../../utils/constants'
import QuestionMark from '../QuestionMark'

export default {
  name: 'TransferDetailsStepContent',

  data() {
    return {
      isBookingInProgress: false,
      couponCode: null,
      couponError: null,
    }
  },

  components: {
    PaymentDetails,
    PassengerInformationForm,
    PolicyAndTerms,
    ReturnTransferDetailsForm,
    LuggageAndExtrasForm,
    TransferDetailsForm,
    JourneySummary,
    QuestionMark,
  },

  methods: {
    ...mapActions('steps', ['nextStep']),
    ...mapActions('transfer-details', ['book', 'register', 'recalculate']),
    ...mapMutations('payment', ['setInvoiceUrl']),
    ...mapMutations('steps', ['setStep']),
    ...mapMutations('transfer-details', ['setPassengerInformation']),

    applyCouponCode() {
      this.isBookingInProgress = true
      this.couponError = null
      this.$store.commit('setCouponCode', this.couponCode)
      this.recalculate()
        .catch(error => {
          this.couponError = error.response.data.message
          this.$Message.error(error.response.data.message)
          if (error.response.data.code === 'invalid_coupon_code') {
            this.$store.commit('setCouponCode', null)
            if (this.couponCode) {
              return this.recalculate()
            }
          }
        })
        .finally(() => {
          this.isBookingInProgress = false
      })
    },

    async onBookNowButtonClick() {
      let formHasError = false

      const keys = Object.keys(this.$refs)

      // eslint-disable-next-line
      for (const key of keys) {
        try {
          // eslint-disable-next-line
          await this.$refs[key].validate()
        } catch (error) {
          formHasError = true
          console.warn(error)
        }
      }

      if (formHasError) {
        notice.error({ title: this.$t('widget.step_2.form_has_error') })
      } else if (this.isAdmin) {
        // if token is not empty user has been signed up
        // just go to next step
        this.nextStep()
      } else if (this.passengerInformation.token) {
        this.nextStep()
      } else {
        this.register(false)
          .then(token => {
            localStorage.setItem(AT_TOKEN_CREDENTIALS, token)
            this.nextStep()
          })
          .catch(error => {
            const { errors } = error.response.data

            const msg = Object.keys(errors)
              .reduce((acc, key) => acc.concat([errors[key]]), [])
              .join('. ')

            notice.error({ title: msg })
          })
      }
    },
  },

  computed: {
    ...mapGetters('airports', [
      'fromAirportInfo',
      'toAirportForm',
      'isFromAirport',
      'hasReturnJourney',
      'selectedTab',
    ]),
    ...mapState('transfer-details', [
      'passengerInformation',
      'priceDetails',
      'isShared',
    ]),
    ...mapState(['isAdmin', 'isPersonal']),

    clientBlockHeader() {
      if (this.isDelivery) {
        return this.$t('widget.step_2.customer_information')
      }
      return this.$t('widget.step_2.passenger_information')
    },
    extrasBlockHeader() {
      if (this.isDelivery) {
        return this.$t('widget.step_2.delivery_extras')
      }
      return this.$t('widget.step_2.luggage_and_extras')
    },
    isDelivery: function() {
      return this.selectedTab === Tabs.DELIVERY
    },

    hasPrice() {
      const { calculated_ride = {} } = this.priceDetails || {}
      const { calculated_return_ride = {} } = this.priceDetails || {}

      return calculated_ride.total !== null && (calculated_return_ride || {}).total !== null
    },

    /** @returns { string } */
    buttonText() {
      return this.hasPrice ? this.$t('widget.step_2.book_now') : this.$t('widget.request_price')
    },

    showCouponField() {
      return !this.isShared
    }
  },

  watch: {
    "passengerInformation.token": function() {
      if (this.couponCode) {
        this.applyCouponCode()
      }
    }
  }
}
</script>
