<template>
  <div>
    <div style="text-align: right">
    <i-button size="large" class="bg-primary " style="font-weight: bold" @click="showModal">{{ $t('widget.email_quote')}}</i-button>
    </div>
    <i-modal
      v-model="modal"
      :transfer="false"
      :loading="true"
      class-name="vertical-center-modal"
      :title="$t('widget.enter_your_email')"
      @on-ok="sendQuote"
      @on-cancel="hideModal"
    >
      <i-input type="email" v-model="email">
        <span slot="prepend">@</span>
      </i-input>
      <div slot="footer">
        <Button type="primary" size="large" long :loading="loading" @click="sendQuote">{{ $t('widget.email_quote') }}
        </Button>
      </div>
    </i-modal>
  </div>
</template>

<script>
  import axios from "axios";
  import qs from "qs";
  import {prepareBody} from "../utils";
  import {mapState} from "vuex";

  export default {
    name: "EmailQuote",

    data() {
      return {
        modal: false,
        email: '',
        loading: false,
      }
    },

    computed: {
      ...mapState('environment', ['VUE_APP_API_ENDPOINT',])
    },

    methods: {
      showModal() {
        this.modal = true;
      },
      hideModal() {
        this.modal = false;
      },
      sendQuote() {
        if (this.loading) {
          return;
        }
        this.loading = true
        const API_ENDPOINT = this.VUE_APP_API_ENDPOINT
        const body = {...prepareBody(this.$store.state), email: this.email, link: this.createLink()}

        return axios
          .post(
            `${API_ENDPOINT}/booking-process/email-quote`,
            body
          )
          .then(({data}) => {
            this.$Message.info(data.message)
            this.hideModal()
          })
          .catch(({response}) => {
            if (response.data.errors && response.data.errors.email) {
              this.$Message.error(this.$t('widget.messages.invalid_email'))
              return;
            }
            this.$Message.error(this.$t('widget.step_2.form_has_error'))
          })
          .finally(() => {
            this.loading = false
          })
      },

      createLink() {
        const {airports} = this.$store.state
        const {locale} = this.$i18n

        let data = null
        if (airports.selectedTab === 'from') {
          data = airports.fromAirportInfo
        } else if (airports.selectedTab === 'to') {
          data = airports.toAirportForm
        } else if (airports.selectedTab === 'cityTaxi') {
          data = airports.cityTaxiForm
        } else if (airports.selectedTab === 'delivery') {
          data = airports.deliveryForm
        }
        let path = "/"
        if (window && window.location) {
          path = window.location.pathname
        }

        const params = {tab: airports.selectedTab, ...data, locale}
        return path + '?' + qs.stringify({__at: params}, {encode: false})
      }
    }
  }
</script>
