<template>
  <div ref="mapContainer" :style="mapStyle"></div>
</template>

<script>
/* global google */

import { loadGoogleMapJs } from '../utils'

export default {
  name: 'GoogleMap',

  props: {
    disableDefaultUi: {
      type: Boolean,
      default: false,
    },
    mapStyle: {
      type: [Object, String],
      default: '',
    },
    center: {
      type: Object,
      default: null,
    },
    zoom: {
      type: Number,
      default: 8,
    },
  },

  data() {
    return {
      map: null,
      polyline: null,
    }
  },

  mounted() {
    const VUE_APP_GOOGLE_MAP_KEY = this.$store.getters['environment/get'](
      'VUE_APP_GOOGLE_MAP_KEY',
    )

    loadGoogleMapJs(['places'], VUE_APP_GOOGLE_MAP_KEY)
      .then(() => {
        if (this.center) {
          this.renderMap()
        }
      })
      .catch(console.error)
  },

  methods: {
    renderMap() {
      if (this.map) {
        return
      }
      /* eslint-enable */
      this.map = new google.maps.Map(this.$refs.mapContainer, {
        center: this.center,
        zoom: this.zoom,
        disableDefaultUI: this.disableDefaultUi,
      })
    },

    drawPolyline(coords) {
      const polyline = new google.maps.Polyline({
        path: coords,
        geodesic: true,
        strokeColor: '#FF0000',
        strokeOpacity: 1.0,
        strokeWeight: 2,
      })

      polyline.setMap(this.map)
      this.zoomToObject(polyline)
      this.polyline = polyline

      this.drawMarkers(coords)
    },

    drawMarkers(coords) {
      this.markerA = new google.maps.Marker({
        position: coords[0],
        map: this.map,
        label: {
          text: 'A',
          color: 'white',
        },
      })

      this.markerB = new google.maps.Marker({
        position: coords[coords.length - 1],
        map: this.map,
        label: {
          text: 'B',
          color: 'white',
        },
      })
    },

    zoomToObject(obj) {
      const bounds = new google.maps.LatLngBounds()
      const points = obj.getPath().getArray()
      for (let n = 0; n < points.length; n += 1) {
        bounds.extend(points[n])
      }
      this.map.fitBounds(bounds)
    },

    clearPolyline() {
      if (this.polyline) {
        this.polyline.setMap(null)
        this.polyline = null
      }
    },

    clearMarkers() {
      if (this.markerA) this.markerA.setMap(null)
      if (this.markerB) this.markerA.setMap(null)

      this.markerA = null
      this.markerB = null
    },
  },
}
</script>
