<template>
  <div>
    <i-row type="flex" justify="space-between">
      <div class="summary-info" style="margin-bottom: 8px">
        {{ $t('general.summary') }}
      </div>
      <i-button
        @click="previousStep()"
        icon="md-create"
        style="word-wrap: break-word;"
        class="at-bg-success"
      >
        {{ $t('general.edit') }}
      </i-button>
    </i-row>

    <br />
    <car-class-step-journey-details
      :details="fromInfo"
    ></car-class-step-journey-details>

    <i-row class="journey-info">
      <div class="journey-info__item">
        <div class="estimated-time">{{ $t('widget.time_estimated') }}</div>
        <div class="return-distance-and-time">~ {{ estimated }}</div>
      </div>
      <div class="journey-info__item">
        <div class="distance">{{ $t('widget.distance') }}</div>
        <div class="return-distance-and-time">~ {{ distance }} km</div>
      </div>
    </i-row>

    <i-row >

    </i-row>
    <br />

    <template v-if="hasReturnJourney">
    <car-class-step-journey-details
      :details="returnInfo"
      back
    ></car-class-step-journey-details>

    <i-row class="journey-info">
      <div class="journey-info__item">
        <div class="estimated-time">{{ $t('widget.time_estimated') }}</div>
        <div class="return-distance-and-time">~ {{ returnEstimated }}</div>
      </div>
     <div class="journey-info__item">
       <div class="distance">{{ $t('widget.distance') }}</div>
       <div class="return-distance-and-time">~ {{ returnDistance }} km</div>
     </div>
    </i-row>

    <br /><br />
    </template>

    <google-map
      ref="map"
      map-style="height: 200px; border-radius: 10px"
      disable-default-ui
    ></google-map>
  </div>
</template>
<script>
import { mapActions, mapGetters, mapState } from 'vuex'
import moment from 'moment'
import GoogleMap from './GoogleMap.vue'
import CarClassStepJourneyDetails from './step-car-class/CarClassStepJourneyDetails.vue'
import { loadGoogleMapJs } from '../utils'

export default {
  components: {
    CarClassStepJourneyDetails,
    GoogleMap,
  },

  mounted() {
    const VUE_APP_GOOGLE_MAP_KEY = this.$store.getters['environment/get'](
      'VUE_APP_GOOGLE_MAP_KEY',
    )

    loadGoogleMapJs(['places'], VUE_APP_GOOGLE_MAP_KEY)
      .then(() => this.fetchRoutePolyline())
      .then(() => this.drawRoute())
      .catch(err => console.error(err))
  },

  methods: {
    ...mapActions('steps', ['previousStep']),
    ...mapActions('transfer-details', ['fetchRoutePolyline']),

    drawRoute() {
      const { map } = this.$refs
      if (!map) {
        return
      }
      map.renderMap()
      map.clearPolyline()
      map.clearMarkers()
      const points = this.route.polyline_points.map(([x, y]) => ({
        lat: x,
        lng: y,
      }))
      map.drawPolyline(points)
    },
  },

  computed: {
    ...mapState('transfer-details', [
      'formTransferDetails',
      'returnTransferDetails',
    ]),
    ...mapGetters('airports', [
      'fromAirportInfo',
      'toAirportForm',
      'cityTaxiForm',
      'deliveryForm',
      'hasReturnJourney',
      'selectedTab',
    ]),
    ...mapGetters('car-classes', ['route', 'returnRoute']),
    ...mapState('airports', ['originType']),

    fromInfo() {
      if (this.selectedTab === 'from') {
        const { fromAirportInfo: info } = this
        return {
          [`${this.$t('general.from')}`]: info.pickupLocation.name,
          [`${this.$t('general.to')}`]: info.dropOffLocation.name,
          [`${this.$t('widget.step_1.arrival_date')}`]: moment(
            info.dropOffDate,
          ).format('DD/MM/YYYY'),
          [`${this.$t('widget.step_1.arrival_time')}`]: info.dropOffTime,
          [`${this.$t('widget.vehicle.passengers')}`]: info.passengers,
        }
      }

      let info
      if (this.selectedTab === 'to') {
        info = this.toAirportForm
        return {
          [`${this.$t('general.from')}`]: info.dropOffLocation.origin.address,
          [`${this.$t('general.to')}`]: info.pickupLocation.origin.address,
          [`${this.$t('widget.step_1.pickup_date')}`]: moment(info.date).format(
            'DD/MM/YYYY',
          ),
          [`${this.$t('widget.step_1.pickup_time')}`]: info.time,
          [`${this.$t('widget.vehicle.passengers')}`]: info.passengers,
        }
      }
      if (this.selectedTab === 'cityTaxi') {
        info = this.cityTaxiForm
        const dateTitle = this.originType === 'airport'
          ? this.$t('widget.step_1.arrival_date')
          : this.$t('widget.step_1.pickup_date')
        const timeTitle = this.originType === 'airport'
          ? this.$t('widget.step_1.arrival_time')
          : this.$t('widget.step_1.pickup_time');
        return {
          [`${this.$t('general.from')}`]: info.pickupLocation.origin.address,
          [`${this.$t('general.to')}`]: info.dropOffLocation.origin.address,
          [dateTitle]: moment(info.date).format('DD/MM/YYYY'),
          [timeTitle]: info.time,
          [`${this.$t('widget.vehicle.passengers')}`]: info.passengers,
        }
      }
      if (this.selectedTab === 'delivery') {
        info = this.deliveryForm
        return {
          [`${this.$t('general.from')}`]: info.pickupLocation.origin.address,
          [`${this.$t('general.to')}`]: info.dropOffLocation.origin.address,
          [`${this.$t('widget.step_1.pickup_date')}`]: moment(info.date).format(
            'DD/MM/YYYY',
          ),
          [`${this.$t('widget.step_1.pickup_time')}`]: info.time,
        }
      }
      throw new Error('Unsupported journey type')
    },

    distance() {
      return (this.route.distance_value / 1000).toFixed(1)
    },

    returnDistance() {
      return (this.returnRoute.distance_value / 1000).toFixed(1)
    },

    estimated() {
      const { duration_value: value } = this.route
      return moment.duration(value, 'seconds').humanize()
    },

    returnEstimated() {
      const { duration_value: value } = this.returnRoute
      return moment.duration(value, 'seconds').humanize()
    },

    returnInfo() {
      const {
        fromAirportInfo: from,
        toAirportForm: to,
        cityTaxiForm: cityTaxi,
        deliveryForm: delivery,
        formTransferDetails,
        returnTransferDetails,
      } = this

      if (this.selectedTab === 'from') {
        const result = {
          [`${this.$t('general.from')}`]: from.dropOffLocation.name,
          [`${this.$t('general.to')}`]: from.pickupLocation.name,
          [`${this.$t('widget.step_1.pickup_date')}`]: moment(
            from.returnDate,
          ).format('DD/MM/YYYY'),
          [`${this.$t('widget.step_1.pickup_time')}`]: from.returnTime,
          [`${this.$t('widget.vehicle.passengers')}`]: from.passengers,
        }

        if (formTransferDetails.isDifferentPickupAddress && returnTransferDetails.pickupAddress.origin) {
          if (returnTransferDetails.pickupAddress.origin.latlng) {
            // prettier-ignore
            result[`${this.$t('general.from')}`] = returnTransferDetails.pickupAddress.origin.address
          }
        }

        return result
      }

      let form
      if (this.selectedTab === 'to') {
        form = to
        const result = {
          [`${this.$t('general.from')}`]: form.pickupLocation.origin.address,
          [`${this.$t('general.to')}`]: form.dropOffLocation.origin.address,
          [`${this.$t('widget.step_1.arrival_date')}`]: moment(
            form.returnDate,
          ).format('DD/MM/YYYY'),
          [`${this.$t('widget.step_1.arrival_time')}`]: form.returnTime,
          [`${this.$t('widget.vehicle.passengers')}`]: form.passengers,
        }

        if (formTransferDetails.isDifferentPickupAddress && returnTransferDetails.pickupAddress.destination) {
          if (returnTransferDetails.pickupAddress.destination.latlng) {
            // prettier-ignore
            result[`${this.$t('general.to')}`] = returnTransferDetails.pickupAddress.destination.address
          }
        }
        return result
      }
      if (this.selectedTab === 'cityTaxi') {
        form = cityTaxi
        const result = {
          [`${this.$t('general.from')}`]: form.dropOffLocation.origin.address,
          [`${this.$t('general.to')}`]: form.pickupLocation.origin.address,
          [`${this.$t('widget.step_1.pickup_date')}`]: moment(
            form.returnDate,
          ).format('DD/MM/YYYY'),
          [`${this.$t('widget.step_1.pickup_time')}`]: form.returnTime,
          [`${this.$t('widget.vehicle.passengers')}`]: form.passengers,
        }

        if (formTransferDetails.isDifferentPickupAddress && returnTransferDetails.pickupAddress.origin) {
          if (returnTransferDetails.pickupAddress.origin.latlng) {
            // prettier-ignore
            result[`${this.$t('general.from')}`] = returnTransferDetails.pickupAddress.origin.address
          }
        }
        return result

      }

      if (this.selectedTab === 'delivery') {
        form = delivery
        return {
          [`${this.$t('general.from')}`]: form.dropOffLocation.origin.address,
          [`${this.$t('general.to')}`]: form.pickupLocation.origin.address,
          [`${this.$t('widget.step_1.pickup_date')}`]: moment(
            form.returnDate,
          ).format('DD/MM/YYYY'),
          [`${this.$t('widget.step_1.pickup_time')}`]: form.returnTime,
        }
      }
      throw new Error('Unsupported journey type')
    },
  },

  watch: {
    route() {
      this.drawRoute()
    },
  },
}
</script>
