<template>
  <i-select
    ref="langSelect"
    class="at-locale-select-original"
    transfer-class-name="at-locale-select"
    @on-change="onChange"
    :label="localeLabel"
  >
    <country-flag
      slot="prefix"
      style="margin-right: -12px; transform: scale(0.4); margin-left: -14px"
      :country="locale"
    ></country-flag>
    <i-option
      v-for="locale in locales"
      :key="locale.locale"
      :value="locale.locale"
    >
      <div style="display: flex; align-items: center; height: 36px">
        <span>
          <country-flag
            :country="locale.locale"
            size="normal"
            style="margin-right: -10px; transform: scale(0.4)"
          ></country-flag>
        </span>
        <span>{{ locale.native }}</span>
      </div>
    </i-option>
  </i-select>
</template>

<script>
/* eslint-disable no-underscore-dangle */
import { mapGetters, mapState } from 'vuex'
import CountryFlag from 'vue-country-flag'

import { EventBus, parseQuery } from '../utils'

import '../assets/scss/flags.min.css'

export default {
  name: 'LanguageSelect',

  components: {
    CountryFlag,
  },

  props: {
    locales: {
      type: Array,
      default() {
        return []
      },
    },
  },

  data() {
    return {
      locale: 'gb',
    }
  },

  computed: {
    ...mapGetters('environment', ['get']),
    ...mapState(['isAdmin']),

    localeLabel() {
      const { locale, locales } = this
      return locales.find(l => l.locale === locale).name
    },
  },

  mounted() {
    const { search } = window.location
    if (search) {
      const { __at } = parseQuery(search)
      if (__at && __at.locale) {
        this.locale = __at.locale === 'en' ? 'gb' : __at.locale
        this.setFromStateLocale(__at)
      } else {
        this.defaultLocale()
      }
    } else if (window.___AT_WIDGET_STATE___) {
      this.setFromStateLocale(JSON.parse(window.___AT_WIDGET_STATE___))
    } else {
      this.defaultLocale()
    }
  },

  methods: {
    onChange(locale) {
      this.locale = locale

      if (!this.isAdmin) {
        EventBus.$emit('locale:changed', locale === 'gb' ? 'en' : locale)
      }
    },

    defaultLocale() {
      const locale = this.get('VUE_APP_I18N_LOCALE') || this.$i18n.locale
      if (locale === 'en') this.locale = 'gb'
      else this.locale = locale
    },

    setLocaleValue(locale) {
      const val = this.locales.find(l => locale === l.locale)
      const { langSelect } = this.$refs
      langSelect.$data.values = [
        {
          value: val.locale,
          label: val.native,
        },
      ]
    },

    setFromStateLocale({ locale }) {
      this.setLocaleValue(locale)
    },
  },

  watch: {
    locale(newVal, oldVal) {
      if (newVal !== oldVal) {
        this.setLocaleValue(newVal)
      }
    },
  },
}
</script>

<style>
.at-locale-select .ivu-select-item {
  padding: 0 8px !important;
}

.at-locale-select-original .ivu-select-selection {
  display: flex;
  display: -webkit-flex;
  align-items: center;
}
</style>
