<template>
  <div class="widget-booking__info_popup_wr" id="widget_popup_info" :class="{'show': show }" v-if="booking">
    <div class="widget-booking__info_popup">
      <div class="widget-booking__info_left">
        <div class="user-img">
          {{ booking.customer.name[0] }}
        </div>
        <div class="user-name">
          {{ booking.customer.name }}
        </div>
      </div>
      <div class="widget-booking__info_right">
        <div class="widget-booking__info_top">
          <h4 class="type">
            {{ $t('enums.ride_type.' + booking.ride_type) }}
          </h4>
          <div class="date">
            {{ booking.time }}
          </div>
        </div>
        <div class="widget-booking__info_summary">
          <strong>{{ $t('general.from') }}:</strong> {{ booking.route.origin }}
        </div>
        <div class="widget-booking__info_summary">
          <strong>{{ $t('general.to') }}:</strong> {{ booking.route.destination }}
        </div>
        <div class="widget-booking__info_summary" v-if="booking.return">
          <strong>{{ $t('widget.return_booking') }}:</strong> {{ booking.return.destination }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapState, mapActions} from 'vuex'
import moment from "moment";

export default {
  name: 'LatestBookings',

  data() {
    return {
      booking: null,
      duration: 7,
      interval: 20,
      show: false,
    }
  },

  computed: {
    ...mapState(['latestBookings', 'showLatestBookings']),
    isEnabled() {
      return this.showLatestBookings && window.innerWidth > 768
    }
  },

  mounted() {
    if (!this.isEnabled) {
      return
    }
    this.fetchLatestBookings()
      .then(() => {
        (() => {
          const bookings = this.latestBookings.slice()
          const interval = setInterval(() => {
            this.booking = bookings.shift()
            if (this.booking) {
              console.log(this.$i18n.locale)
              this.show = true
              this.booking.time = moment(this.booking.datetime).locale(this.$i18n.locale).fromNow()
              setTimeout(() => {
                this.show = false
              }, this.duration * 1000)
            } else {
              clearInterval(interval)
            }
          }, this.interval * 1000)
        })()
      })
      .catch(error => console.error(error))
  },

  methods: {
    ...mapActions(['fetchLatestBookings']),
  },
}
</script>
