<template>
  <div ref="container" class="iview-container-at">
    <div class="at-disable-overlay" v-if="disabled"></div>
    <row
      v-if="(isAdmin || isPersonal) && !redirect"
      type="flex"
      justify="end"
      class="switcher-lang"
      :gutter="24"
    >
      <i-col v-if="step === 1 && isAirportTabs">
        <shared-button></shared-button>
      </i-col>
    </row>
    <row
      v-if="!(isAdmin || isPersonal || redirect)"
      type="flex"
      justify="end"
      class="switcher-lang"
      :gutter="24"
    >
      <i-col v-if="!redirect && step === 1 && isAirportTabs">
        <shared-button></shared-button>
      </i-col>
      <i-col v-if="!redirect && step === 1">
        <email-quote></email-quote>
      </i-col>
      <i-col>
        <language-select v-if="langs.length" :locales="langs" class="widget-locales"></language-select>
      </i-col>
    </row>
    <br />
    <i-row :gutter="24" type="flex" class="at-sidebar-parent">
      <i-col
        v-show="!redirect"
        class="at-sidebar"
        :xs="24"
        :sm="10"
        :md="10"
        :lg="6"
        :xl="6"
        :xxl="5"
      >
        <steps :step="step"></steps>
      </i-col>
      <i-col class="at-content" v-bind="contentCols">
        <airports-step-content v-if="step === 0" />
        <car-class-step-content v-else-if="step === 1" />
        <transfer-details-step-content v-else-if="step === 2" />
        <payment-step-content v-else-if="step === 3" />
        <payment v-else-if="step === 4" />

        <div v-html="$t('widget.copyright')" class="widget-booking__copyright"></div>
      </i-col>
    </i-row>
    <LatestBookings v-if="!(isPersonal && isAdmin)"></LatestBookings>
  </div>
</template>

<script>
import { mapGetters, mapState, mapActions } from 'vuex'

import Steps from './Steps.vue'
import LanguageSelect from './LanguageSelect.vue'
import { scrollToSelectorOrElement } from '../utils'
import LoadingPlaceholder from './LoadingPlaceholder.vue'
import EmailQuote from './EmailQuote'
import SharedButton from './SharedButton.vue'
import LatestBookings from './LatestBookings.vue'

// prettier-ignore
const CarClassStepContent = () => ({
  component: import('./step-car-class/CarClassStepContent.vue'),
  loading: LoadingPlaceholder,
})
// prettier-ignore
const TransferDetailsStepContent = () => ({
  component: import('./step-transfer-details/TransferDetailsStepContent.vue'),
  loading: LoadingPlaceholder,
})
// prettier-ignore
const AirportsStepContent = () => ({
  component: import('./step-airports/AirportsStepContent.vue'),
  loading: LoadingPlaceholder,
})
const PaymentStepContent = () => ({
  component: import('./step-payment/PaymentStepContent.vue'),
  loading: LoadingPlaceholder,
})
const Payment = () => ({
  component: import('./Payment.vue'),
  loading: LoadingPlaceholder,
})

export default {
  name: 'Layout',

  components: {
    EmailQuote,
    Payment,
    PaymentStepContent,
    TransferDetailsStepContent,
    AirportsStepContent,
    CarClassStepContent,
    LanguageSelect,
    LatestBookings,
    Steps,
    SharedButton,
  },

  created() {
    this.fetchLocales().catch(error => console.error(error))
    this.fetchQuestionMarks().catch(error => console.error(error))
  },

  computed: {
    ...mapGetters(['redirect']),
    ...mapGetters('steps', ['step']),
    ...mapState(['disabled', 'locales', 'isAdmin', 'isPersonal']),
    ...mapGetters('airports', ['isAirportTabs']),

    langs() {
      /* eslint-disable */
      return this.locales.map(locale =>
        locale.locale === 'en' ? { ...locale, locale: 'gb' } : locale,
      )
      /* eslint-enable */
    },

    contentCols() {
      if (this.redirect) {
        return { span: '24' }
      }
      return {
        xs: 24,
        lg: 18,
        xl: 18,
        xxl: 18,
        style: {
          maxWidth: '900px',
        },
      }
    },
  },

  mounted() {
    this.checkDiff()
  },

  methods: {
    ...mapActions(['fetchLocales', 'fetchQuestionMarks']),

    checkDiff() {
      const self = this
      const { container } = this.$refs
      this.styleChangeInterval = setInterval(() => {
        const { display } = window.getComputedStyle(container)
        if (display !== 'none') {
          self.hideLoadingPlaceholder()
          clearTimeout(this.styleChangeInterval)
          delete this.styleChangeInterval
        }
      }, 100)
    },

    hideLoadingPlaceholder() {
      const placeholder = document.getElementById(
        'at-widget-booking-placeholder',
      )
      if (!placeholder) return

      placeholder.remove()
    },
  },

  watch: {
    step(newVal, oldVal) {
      if (oldVal !== newVal) {
        // scroll on next tick
        setTimeout(() => {
          scrollToSelectorOrElement(this.$refs.container)
        }, 0)
      }
    },
  },
}
</script>

<style>
.iview-container-at {
  position: relative !important;
}

.at-disable-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #000;
  z-index: 999999;
  top: 0;
  left: 0;
  opacity: 0.01;
  cursor: not-allowed;
}

.at-sidebar-parent {
  flex-wrap: nowrap !important;
  -ms-flex-wrap: nowrap !important;
  -webkit-flex-wrap: nowrap !important;
}
</style>
