<template>
  <div class="at-spin-container">
    <i-spin size="large" fix></i-spin>
  </div>
</template>

<script>
export default {
  name: 'LoadingPlaceholder',
}
</script>

<style>
.at-spin-container {
  width: 100%;
  height: 400px;
}

.ivu-spin-dot {
  height: 150px !important;
  width: 150px !important;
}
</style>
