<template>
  <div style="display: block">
    <div class="at-location-autocomplete">
      <div style="width: 100%">
        <slot name="autocomplete-label" />
        <i-input
          v-bind="$attrs"
          :value="value"
          :placeholder="placeholder"
          class="at-google-autocomplete"
          :element-id="inputId"
          size="large"
          @input="$emit('input', $event)"
          @on-change="$emit('on-change', $event)"
          @on-blur="$emit('on-blur', $event)"
        >
          <i-icon type="md-pin" slot="prepend" class="color-primary show_sm" />
          <template slot="append">
            <div
              style="display: flex; align-items: center;"
              class="color-primary fill-primary"
              @click="mapVisibility = !mapVisibility"
            >
              <i-icon type="md-pin" slot="prepend" class="color-primary hide_sm" />
              <span class="toggle_text">{{ $t(mapVisibility ? 'widget.hide_map' : 'widget.show_on_map') }}</span>
            </div>
          </template>
        </i-input>
        <div class="ivu-form-item-error-tip" v-if="showParentError">{{ errorMessage }}</div>
      </div>
      <div class="at-street-number" v-if="specifyAddress">
        <slot name="house-number-label">
          <question-mark
            class="field-label"
            :hint="$qm('house_number').enabled"
            :label="$t('widget.house_number')"
            :content="$qm('house_number').text"
            :is-required="true"
          />
        </slot>
        <i-input
          :placeholder="$t('widget.house_number')"
          class="at-google-autocomplete"
          size="large"
          @input="inputStreetNumber"
        />
      </div>
    </div>
    <div class="toggle_map_button">
      <div
        @click="mapVisibility = !mapVisibility"
        class="toggle_map_button__text ivu-btn ivu-btn-default"
      >
        {{ $t(mapVisibility ? 'widget.hide_map' : 'widget.show_on_map') }}
      </div>
    </div>
    <div :id="mapContainerId" v-show="mapVisibility" class="map-container"></div>
  </div>
</template>

<script>

import debounce from 'lodash.debounce'
/* global google */
import { loadGoogleMapJs } from '../utils'
import geolocation from '../utils/geolocation'
import QuestionMark from './QuestionMark'

export default {
  name: 'LocationAutoComplete',

  components: {QuestionMark},

  props: {
    value: {
      type: String,
      default: null,
    },

    placeholder: {
      type: String,
      required: true,
    },

    showMap: {
      type: Boolean,
      default: false,
    },

    mapOptions: {
      type: Object,
      default() {
        return {
          center: { lat: 50.8503, lng: 4.3517 },
          zoom: 13,
        }
      },
    },

    geolocation: {
      type: Boolean,
      default: false,
    },

    specifyAddress: {
      type: Boolean,
      default: false,
    },

    showParentError: {
      type: Boolean,
      default: false,
    },
  },

  data() {
    return {
      inputId: null,
      mapContainerId: null,
      map: null,
      autocomplete: null,
      mapVisibility: false,
      mapContainer: null,
      marker: null,
      geocoder: null,
      inputAutocomplete: null,
      increasedZoomLevel: 17,
      countryZoomLevel: 6,
      geocodedAddress: null,
      streetNumber: null,
    }
  },

  computed: {
    inputStreetNumber() {
      return debounce(this.geocodeStreetNumber, 1000)
    },
    errorMessage() {
      // $parent instance of iview.FormItem
      return this.$parent.validateMessage
    }
  },

  created() {
    this.inputId = 'location-picker-' + (Math.random()*1000).toFixed(0)
    this.mapContainerId = 'map-container-' + (Math.random()*1000).toFixed(0)

    this.mapVisibility = this.showMap
  },

  mounted() {
    const VUE_APP_GOOGLE_MAP_KEY = this.$store.getters['environment/get'](
      'VUE_APP_GOOGLE_MAP_KEY',
    )

    loadGoogleMapJs(['places'], VUE_APP_GOOGLE_MAP_KEY)
      .then(() => this.initAutoComplete())
      .then(() => this.detectLocation())
      .catch(console.error)
  },

  methods: {
    onAutocompletePlaceChanged() {
      this.geocodedAddress = null
      const place = this.autocomplete.getPlace()
      if (!place || !place.geometry) {
        // User entered the name of a Place that was not suggested and
        // pressed the Enter key, or the Place Details request failed.
        const message = `No details available for input: '${place.formatted_address}'`
        console.warn(message)
        this.inputAutocomplete.value = null
        this.$emit('place:changed', place, new Error(message))
        return
      }

      place.formatted_address = this.inputAutocomplete.value
      this.$emit('place:changed', place)

      // If the place has a geometry, then present it on a map.
      const { map } = this
      if (place.geometry.viewport) {
        map.fitBounds(place.geometry.viewport)
      }

      map.setCenter(place.geometry.location)
      map.setZoom(this.increasedZoomLevel)
      this.marker.setPosition(place.geometry.location)
      this.geocodedAddress = place
    },

    initMapVisibilityToggle() {
      let el = document.getElementById(this.mapVisibilityToggleId)
      if (!el) return

      el.addEventListener('click', () => {
        this.mapVisibility = !this.mapVisibility
        this.mapContainer.style.display = this.mapVisibility ? 'block' : 'none'
        // setTimeout(this.onAutocompletePlaceChanged, 1000)
      })
    },

    initAutoComplete() {
      let inputAutocomplete = document.getElementById(this.inputId)

      this.autocomplete = new google.maps.places.Autocomplete(inputAutocomplete)
      this.inputAutocomplete = inputAutocomplete

      // if mapContainerId prop is set
      // mount map to this element
      if (this.mapContainerId) {
        let mapContainer = document.getElementById(this.mapContainerId)
        if (!mapContainer) return

        // 16 x 9 aspect ratio
        mapContainer.style.width = '100%'
        mapContainer.style.paddingBottom = '56.25%'
        mapContainer.style.display = this.mapVisibility ? 'block' : 'none'

        this.map = new google.maps.Map(mapContainer, this.mapOptions)

        this.autocomplete.addListener(
          'place_changed',
          this.onAutocompletePlaceChanged,
        )

        if (this.mapVisibilityToggleId) this.initMapVisibilityToggle()

        this.mapContainer = mapContainer

        this.addMarkerToMap()
        this.listenMapClick()
      }
    },

    addMarkerToMap() {
      const marker = new google.maps.Marker({
        position: this.mapOptions.center,
        map: this.map,
        draggable: true,
      })

      marker.addListener('dragend', this.onMarkerDragEnd)

      this.marker = marker
    },

    listenMapClick() {
      this.map.addListener('click', ({latLng}) => {
        this.marker.setPosition(latLng)
        this.map.panTo(latLng)
        this.onMarkerDragEnd()
      })
    },

    onMarkerDragEnd() {
      this.geocodedAddress = null
      const geocoder = this.getGeocoder()

      const location = this.marker.getPosition()
      const input = this.inputAutocomplete
      geocoder.geocode({ location }, (results, status) => {
        if (status === 'OK') {
          const place = results[0]
          this.geocodedAddress = place;
          input.value = place.formatted_address
          this.$emit('place:changed', place)
        }
      })
    },

    geocodeStreetNumber(streetNumber) {
      const streetTypes = ['street_address', 'route']
      const mapper = component => {
        if (component.types.some(type => streetTypes.includes(type))) {
          return `${component.long_name} ${streetNumber}`
        }
        return component.long_name;
      }
      const address = this.geocodedAddress.address_components.map(mapper).join(',')

      const geocoder = this.getGeocoder()
      geocoder.geocode({ address }, (results, status) => {
        if (status === 'OK') {
          const place = results[0]
          this.geocodedAddress = place;
          this.inputAutocomplete.value = place.formatted_address
          this.setLocation(place.geometry.location)
          this.$emit('place:changed', place)
        }
      })
    },

    getGeocoder() {
      if (this.geocoder) {
        return this.geocoder
      }
      return new google.maps.Geocoder()
    },

    detectLocation() {
      if (this.value) {
        this.getGeocoder().geocode({ address: this.value }, (results, status) => {
          if (status === 'OK') {
            const place = results[0]
            this.geocodedAddress = place;
            this.setLocation(place.geometry.location)
          }
        })
        return
      }

      if (this.geolocation === false) {
        return;
      }
      if (!navigator.geolocation) {
        this.geoIpLookup();
      }
      navigator.geolocation.getCurrentPosition(
        (position) => {
          const pos = {
            lat: position.coords.latitude,
            lng: position.coords.longitude
          };

          this.setLocation(pos);
        },
        () => {
          this.geoIpLookup();
        },
        {
          timeout: 5 * 1000,
        }
      );
    },

    geoIpLookup() {
      geolocation
        .ipLookup()
        .then(pos => {
          this.setLocation(pos, pos.city ? this.increasedZoomLevel : this.countryZoomLevel)
        })
        .catch(() => {
          console.error('GeoIp request error');
        })
    },

    setLocation(pos, zoom) {
      this.marker.setPosition(pos);
      this.map.setCenter(pos);
      this.map.setZoom(zoom || this.increasedZoomLevel);
    },
  },

  watch: {
    mapVisibility(val) {
      this.$emit('visibility:changed', val)
    },
  },
}
</script>

<style>
  .at-location-autocomplete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative; /* cause error message absolutely positioned */
  }
  .at-location-autocomplete .at-street-number {
    width: 100%;
    flex-shrink: 3;
    margin-left: .75rem;
  }
  .at-widget-booking .at-location-autocomplete .at-street-number input {
    border-left-width: 1px !important;;
    border-left-style: solid !important;
  }
  .at-widget-booking .at-location-autocomplete .at-street-number.empty input {
    border-color: #dcdee2 !important;
  }
</style>
