<template>
  <i-card :padding="30" style="background: #F8FBFF" class="final-stage">
    <i-col>
      <i-row>
        <i-col :md="20" :lg="9">
          <div class="final-stage__title">{{ $t('general.summary') }}</div>
          <h4 class="">{{ $t('widget.thanks_for_booking') }}</h4>
        </i-col>
      </i-row>
    </i-col>

    <i-col style="background: white">
      <i-card class="no-box-shadow" :bordered="false" :padding="0" dis-hover>
        <i-row :gutter="16" type="flex">
          <i-col
            :xs="24"
            :md="12"
            :xl="12"
            class="bordered-left-side"
            style="padding: 32px 20px 20px 32px; background: #fff;"
          >
            <i-row
              v-for="(detail, index) in details"
              type="flex"
              align="middle"
              :key="index"
              :gutter="16"
              style="margin-bottom: 16px;"
              class="fill-dimmed"
            >
              <i-col :xs="5" :md="3" :lg="5" :xxl="3">
                <component :is="index % 2 ? 'icon-plane-down' : 'icon-plane-up' " style="max-width: 32px" />
              </i-col>
              <i-col :xs="19" :md="19" :lg="19" :xxl="21" >
                <div class="" style="margin-top: 2px;">
                  <div class="final-stage__sub-title">{{ detail.titleFrom }}</div>
                  <div style="font-size: .9em" class="text-dimmed">
                    {{ detail.from }}
                  </div>
                </div>
                <div>
                  <div class="final-stage__sub-title">{{ detail.titleTo }}</div>
                  <div style="font-size: .9em" class="text-dimmed">
                    {{ detail.to }}
                  </div>
                </div>
              </i-col>
            </i-row>

            <i-row
              type="flex"
              align="middle"
              :gutter="16"
              style="margin-bottom: 16px;"
            >
              <i-col :xs="5" :md="3" :lg="5" :xxl="3">
                <icon-passenger style="max-width: 32px" class="fill-dimmed" />
              </i-col>
              <i-col :xs="19" :md="19" :lg="19" :xxl="21">
                <br />
                <hr />
                <br />
                <div class="final-stage__sub-title">{{ $t('widget.step_3.personal_info') }}</div>
                <div
                  class="text-dimmed"
                  style="font-size: .9em; text-transform: capitalize"
                >
                  {{ initial }}
                </div>
                <div class="text-dimmed" style="font-size: .9em">
                  {{ passengerInformation.email }}
                </div>
                <div class="text-dimmed" style="font-size: .9em">
                  {{ passengerInformation.phone }}
                </div>
              </i-col>
            </i-row>
          </i-col>
          <i-col
            :xs="24"
            :md="12"
            :xl="12"
            class="bordered-right-side"
            style="background-color: #E1F5FF"
          >
            <price-info :payment-fees="getOrderFees" />
          </i-col>
        </i-row>
      </i-card>
    </i-col>

    <br />
    <i-row type="flex" justify="end" class="fill-dimmed print-document">
      <i-col span="12">
        <i-row type="flex" justify="space-between" align="middle" class="fill-dimmed print-document" v-if="showArrivalBookingButton">
          <i-col><strong v-html="$t('widget.need_transfer_by_arrival')"></strong></i-col>
          <i-col><i-button type="primary" size="large" @click="createArrivalBooking">{{ $t('widget.find_now') }}</i-button></i-col>
        </i-row>
      </i-col>
      <i-col span="12">
        <i-row type="flex" justify="end" class="fill-dimmed print-document">

          <i-dropdown v-if="invoiceUrl && invoiceUrlReturn">
            <i-button>
              <i-row type="flex" align="middle" justify="center">
                <icon-printer
                  style="margin-right: 5px; height: 25px; width: 25px"
                />
                <span class="print-document__label">{{ $t('widget.step_3.print_document') }}</span>
              </i-row>
            </i-button>
            <i-dropdown-menu slot="list">
              <a :style="linkStyle" target="_blank" :href="invoiceUrl">
                <i-dropdown-item>
                  {{ $t('widget.step_3.invoice_main') }}
                </i-dropdown-item>
              </a>
              <a :style="linkStyle" target="_blank" :href="invoiceUrlReturn">
                <i-dropdown-item>
                  {{ $t('widget.step_3.invoice_return') }}
                </i-dropdown-item>
              </a>
            </i-dropdown-menu>
          </i-dropdown>
          <a v-else target="_blank" :href="invoiceUrl">
            <i-button>
              <i-row type="flex" align="middle" justify="center">
                <icon-printer
                  style="margin-right: 5px; height: 25px; width: 25px"
                />
                <span class="print-document__label">{{ $t('widget.step_3.print_document') }}</span>
              </i-row>
            </i-button>
          </a>
        </i-row>
      </i-col>
    </i-row>
  </i-card>
</template>

<script>
import {mapActions, mapGetters, mapState} from 'vuex'

import IconPlaneUp from './icons/IconPlaneUp.vue'
import IconPlaneDown from './icons/IconPlaneDown.vue'
import IconArrowLeft from './icons/IconArrowLeft.vue'
import IconPassenger from './icons/IconPassenger.vue'
import PriceInfo from './PriceInfo.vue'
import IconPrinter from './icons/IconPrinter.vue'

export default {
  name: 'Payment',

  components: {
    IconPrinter,
    PriceInfo,
    IconPassenger,
    IconArrowLeft,
    IconPlaneUp,
    IconPlaneDown,
  },

  computed: {
    ...mapState('transfer-details', [
      'passengerInformation',
      'payment',
      'returnTransferDetails',
      'formTransferDetails',
      'bookResponse',
    ]),
    ...mapState('airports', [
      'fromAirportInfo',
      'toAirportForm',
      'cityTaxiForm',
      'deliveryForm',
    ]),
    ...mapGetters('airports', ['isFromAirport', 'selectedTab']),
    ...mapState('payment', ['invoiceUrl', 'invoiceUrlReturn']),
    ...mapGetters('payment', ['getOrderFees']),
    ...mapGetters(['showArrivalBooking']),

    linkStyle() {
      return {
        display: 'block',
        width: '100%',
        height: '100%',
        'text-decoration': 'none',
      }
    },

    initial() {
      const { title, name, lastname } = this.passengerInformation

      let appeal = null
      if (title === 'mr') {
        appeal = 'Mr.'
      } else if (title === 'ms') {
        appeal = 'Ms.'
      } else if (title === 'mrs') {
        appeal = 'Mrs.'
      } else {
        appeal = 'Mr.'
      }

      return `${appeal || ''} ${name || ''} ${lastname || ''}`
    },

    details() {
      const { pickupAddress } = this.returnTransferDetails
      const { isDifferentPickupAddress } = this.formTransferDetails
      const details = []
      let pickUp;

      if (this.selectedTab === 'from') {
        const { pickupLocation, dropOffLocation, returnJourney } = this.fromAirportInfo
        details.push(this.resultFunc(pickupLocation.name, dropOffLocation.name))
        if (returnJourney) {
          pickUp = (pickupAddress.origin.address && isDifferentPickupAddress)
                ? pickupAddress.origin.address : dropOffLocation.name
          details.push(this.resultFunc(pickUp, pickupLocation.name))
        }
        return details
      }

      let form
      if (this.selectedTab === 'to') {
        form = this.toAirportForm
        const { pickupLocation, dropOffLocation, returnJourney } = form
        details.push(this.resultFunc(dropOffLocation.origin.address, pickupLocation.origin.address))
        if (returnJourney) {
          pickUp = (pickupAddress.destination.address && isDifferentPickupAddress)
            ? pickupAddress.destination.address : dropOffLocation.origin.address
          details.push(this.resultFunc(pickupLocation.origin.address, pickUp))
        }
        return details
      }
      if (this.selectedTab === 'cityTaxi') {
        form = this.cityTaxiForm
        const { pickupLocation, dropOffLocation, returnJourney } = form
        details.push(this.resultFunc(pickupLocation.origin.address, dropOffLocation.origin.address))
        if (returnJourney) {
          pickUp = (pickupAddress.origin.address && isDifferentPickupAddress)
            ? pickupAddress.origin.address : dropOffLocation.origin.address
          details.push(this.resultFunc(pickUp, pickupLocation.origin.address))
        }
        return details
      }
      if (this.selectedTab === 'delivery') {
        const { pickupLocation, dropOffLocation } = this.deliveryForm
        details.push(this.resultFunc(pickupLocation.origin.address, dropOffLocation.origin.address))

        return details
      }
      throw new Error('Unsupported tab type')
    },

    showArrivalBookingButton() {
      return this.showArrivalBooking && this.bookResponse.data.data.ride_type === 'transfer'
    }
  },
  methods: {
    ...mapActions('tracking', ['trackEvent']),

    createArrivalBooking() {
      this.trackEvent('click_need_arrival_booking')
      this.resetState()
    },

    resetState() {
      this.$store.dispatch('resetInitialStore')
    },

    resultFunc(desc1, desc2) {
      return {
        titleFrom: this.$t('general.from'),
        titleTo: this.$t('general.to'),
        from: desc1,
        to: desc2,
      }
    },
  },
}
</script>
