<template>
  <div>
    <p>
      <!-- prettier-ignore -->
      <span
        v-if="privacyPolicy || termsAndConditions"
        v-html="policyHtml"
        style="padding-left: .4rem;"
        class="d-block"
        @click.self.stop.prevent
      ></span>
      <span v-else style="padding-left: .4rem;" class="d-block" v-html="policyHtml"></span>
    </p>

    <i-modal
      :title="$t('widget.step_2.policy_text')"
      v-model="showPrivacyModal"
      :transfer="false"
      width="700"
      class-name="vertical-center-modal v-transfer-dom terms-and-policy"
    >
      <div class="modal-content-text" v-html="privacyPolicyText"></div>
      <template slot="footer">
        <i-button class="ivu-btn ivu-btn-text ivu-btn-large" @click="hidePopups">{{ $t('general.cancel') }}</i-button>
        <i-button type="primary" @click="hidePopups">{{ $t('general.ok') }}</i-button>
      </template>
    </i-modal>
    <i-modal
      :title="$t('widget.step_2.term_text')"
      v-model="showTermConditionModal"
      :transfer="false"
      width="650"
      class-name="vertical-center-modal v-transfer-dom terms-and-policy"
    >
      <div class="modal-content-text" v-html="privacyPolicyText"></div>
      <template slot="footer">
        <i-button class="ivu-btn ivu-btn-text ivu-btn-large" @click="hidePopups">
          {{ $t('general.cancel') }}
        </i-button>
        <i-button type="primary" @click="hidePopups">
          {{ $t('general.ok') }}
        </i-button>
      </template>
    </i-modal>
  </div>
</template>

<script>
import { mapGetters, mapState } from "vuex";

export default {
  name: "PolicyAndTerms",

  props: {
    buttonText: {
      type: String,
      required: true,
    }
  },

  data() {
    return {
      showPrivacyModal: false,
      showTermConditionModal: false,
    }
  },

  computed: {
    ...mapState(['isPersonal', 'privacyPolicy', 'termsAndConditions', 'settings']),
    ...mapGetters('settings', ['privacyPolicyText', 'termsAndConditionsText']),

    policyHtml() {
      const { privacyPolicy, termsAndConditions } = this
      const termText = this.$t('widget.step_2.term_text')
      const policyText = this.$t('widget.step_2.policy_text')

      if (privacyPolicy && termsAndConditions) {
        return this.$t('widget.step_2.accept_policy_if_continue', {
          button_text: this.buttonText,
          term_text: `<a href="${termsAndConditions}" target="_blank">${termText}</a>`,
          policy_text: `<a href="${privacyPolicy}" target="_blank">${policyText}</a>`,
        })
      }

      if (privacyPolicy) {
        return this.$t('widget.step_2.accept_policy_if_continue', {
          button_text: this.buttonText,
          term_text: termText,
          policy_text: `<a href="${privacyPolicy}" target="_blank">${policyText}</a>`,
        })
      }

      if (termsAndConditions) {
        return this.$t('widget.step_2.accept_policy_if_continue', {
          button_text: this.buttonText,
          term_text: `<a :href="${termsAndConditions}" target="_blank">${termText}</a>`,
          policy_text: policyText,
        })
      }

      return this.$t('widget.step_2.accept_policy_if_continue', {
        button_text: this.buttonText,
        term_text: termText,
        policy_text: policyText,
      })
    },
  },

  methods: {
    hidePopups() {
      this.showTermConditionModal = false
      this.showPrivacyModal = false
    },
  }
}
</script>
