<template>
  <div style="padding: 16px">
    <i-row
      type="flex"
      align="middle"
      :gutter="16"
      style="margin-bottom: 16px;"
      class="fill-dimmed"
      v-if="hasPrice"
    >
      <i-col :xs="5" :md="3" :lg="5" :xxl="3">
        <icon-card-booking style="max-width: 32px" />
      </i-col>
      <i-col :xs="19" :md="19" :lg="19" :xxl="21">
        <div class="initial-order-evolution">
          <div class="initial-order-evolution__label">{{ $t('widget.step_2.initial_order_evolution') }}</div>
          <div class="initial-order-evolution__value">{{ currency.symbol }} {{ initialPrice }}</div>
        </div>
      </i-col>
    </i-row>
    <br />
    <i-row
      v-if="additional.length || returnAdditional.length"
      type="flex"
      align="middle"
      :gutter="16"
      style="margin-bottom: 16px;"
      class="fill-dimmed"
    >
      <i-col :xs="5" :md="3" :lg="5" :xxl="3">
        <icon-plus style="max-width: 32px" />
      </i-col>
      <i-col :xs="19" :md="19" :lg="19" :xxl="21">
        <div class="order-evaluation">
         <div v-if="additional.length">
           <div class="order-evaluation__label">{{ $t('widget.step_2.additional_payments') }}</div>
           <div v-for="(ad, index) in additional" :key="index">
             {{ ad }}
           </div>
         </div>
         <br />
         <div v-if="returnAdditional.length">
           <div class="order-evaluation__label">{{ $t('widget.step_2.additional_payments_on_return') }}</div>
           <div v-for="(additional, index) in returnAdditional" :key="index">
             {{ additional }}
           </div>
         </div>
       </div>
      </i-col>
    </i-row>
    <i-row
      type="flex"
      align="middle"
      :gutter="16"
      style="margin-bottom: 16px;"
      class="fill-dimmed"
    >
      <i-col :xs="5" :md="3" :lg="5" :xxl="3">
      </i-col>

      <i-col :xs="19" :md="19" :lg="19" :xxl="21" style="margin-top: 15px;">
        <div class="total-price">
          <template v-if="paymentFees.length">
            <div class="total-price__payment-fees">{{ $t('widget.step_2.payment_fees') }}</div>
            <div v-for="(fee, i) in paymentFees" :key="i" style="margin-bottom: 16px;">
              {{ $t(fee.description) }}: {{ currency.symbol }} {{ fee.amount.toFixed(2) }}
            </div>
          </template>
          <template v-if="discounts.length">
            <div class="total-price__payment-fees">{{ $t('widget.discounts') }}</div>
            <div v-for="(discount, i) in discounts" :key="i" style="margin-bottom: 16px;">
              {{ $t('widget.discount_' + discount.name) }}: -{{ currency.symbol }} {{ discount.amount.toFixed(2) }}
            </div>
          </template>
          <div class="total-price__label">{{ $t('widget.step_2.total_price') }}</div>
          <div class="total-price__value color-primary" v-if="hasPrice">
            {{ currency.symbol }} {{ totalPrice }}
          </div>
          <div class="total-price__value color-primary" v-else>
            {{ $t('widget.by_request') }}
          </div>
        </div>
      </i-col>
    </i-row>
  </div>
</template>

<script>
import { mapState, mapGetters } from 'vuex'
import IconCardBooking from './icons/IconCard.vue'
import IconPlus from './icons/IconPlus.vue'

export default {
  name: 'PriceInfo',

  components: {
    IconPlus,
    IconCardBooking,
  },

  props: {
    paymentFees: {
      type: Array,
      default() {
        return []
      },
    },
  },

  methods: {
    getAdditional(calculated, details) {
      const {
        currency: { symbol },
      } = this

      const $t = this.$t.bind(this)
      const { animals } = details
      const result = []

      const { extra: calculatedExtra = {} } = calculated || {}

      const addFee = fee => {
        // eslint-disable-next-line prefer-const
        let { quantity, amount } = calculatedExtra[fee]
        let label = $t(`widget.step_2.${fee}`)

        switch (fee) {
          case 'animal_fee':
            label = animals.map(({ animal, qty }) => `${qty} ${animal}`).join(', ')
            quantity = ''
            break
          case 'stops_fee':
            label = $t('widget.step_2.stop')
            break
          default:
            label = $t(`widget.step_2.${fee}`)
        }
        result.push(`${quantity} ${label} ${symbol}${amount}`)
      }

      Object.keys(calculatedExtra).forEach(addFee)

      return result
    },
  },

  computed: {
    ...mapState('airports', ['fromAirportInfo', 'toAirportForm']),
    ...mapState('transfer-details', [
      'luggage',
      'returnTransferDetails',
      'priceDetails',
      'payment',
    ]),
    ...mapGetters(['currency']),
    ...mapGetters('airports', ['hasReturnJourney']),

    /* eslint-disable camelcase */
    additional() {
      const {
        priceDetails: { calculated_ride },
        luggage,
      } = this
      return this.getAdditional(calculated_ride, luggage)
    },

    returnAdditional() {

      if (!this.hasReturnJourney) return []

      const {
        priceDetails: { calculated_return_ride },
        returnTransferDetails,
      } = this

      return this.getAdditional(calculated_return_ride, returnTransferDetails)
    },
    /* eslint-enable camelcase */

    initialPrice() {
      /* eslint-disable */
      const {
        calculated_ride = {},
        calculated_return_ride = {},
      } = this.priceDetails

      const { transfer: transferFirst = 0.0 } = calculated_ride || {}
      const { transfer: transferSecond = 0.0 } = calculated_return_ride || {}

      return (transferFirst + transferSecond).toFixed(2)
    },

    totalPrice() {
      const {
        calculated_ride = {},
        calculated_return_ride = {},
      } = this.priceDetails

      const { total: totalFirst = 0.0 } = calculated_ride || {}
      const { total: totalSecond = 0.0 } = calculated_return_ride || {}
      const feesAmount = this.paymentFees.reduce((total, fee) => {
        return total + fee.amount
      }, 0)

      return (totalFirst + totalSecond + feesAmount).toFixed(2)
      /* eslint-enable */
    },

    hasPrice() {
      const {
        calculated_ride = {},
        calculated_return_ride = {},
      } = this.priceDetails

      return calculated_ride.total !== null && (calculated_return_ride || {}).total !== null
    },

    discounts() {
      const { calculated_ride = { } } = this.priceDetails

      return calculated_ride.discounts || []
    }
  },
}
</script>
