<template>
  <div ref="poptip" style="min-height: 32px" class="question-mark">
    <span :style="[style]" role="button" class="mark-wrapper">
      <span
        class="mark"
        v-if="required"
        style="color: #FF0000; vertical-align: middle; float: left;"
      >
        *&nbsp;&nbsp;
      </span>
      {{ label }}
    </span>
    <Poptip
      v-show="hint"
      :width="width"
      :trigger="trigger"
      :content="content"
      word-wrap
    >
      <icon-info
        style="fill: #4dadfb; width: 14px; vertical-align: middle; cursor: pointer; margin-left: 10px"
      ></icon-info>
      <div slot="content" v-html="content" />
    </Poptip>
  </div>
</template>

<script>
import IconInfo from './icons/IconInfo.vue'

export default {
  name: 'QuestionMark',

  components: { IconInfo },

  props: {
    label: {
      type: String,
      default: '',
    },
    content: {
      type: String,
      default: '',
    },
    html: {
      type: String,
      default: '',
    },
    /* eslint-enable */
    width: {
      type: Number,
      default: 300,
    },
    trigger: {
      type: String,
      default: 'hover',
    },
    hint: {
      type: Boolean,
      default: false,
    },
    isRequired: {
      default: false,
    }
  },

  data() {
    return {
      required: false,
    }
  },

  computed: {
    style() {
      return {
        'vertical-align': 'middle',
        display: 'inline-block',
        'max-width': '80%',
        'word-wrap': 'nowrap',
        'text-overflow': 'ellipsis',
      }
    },
  },

  mounted() {
    this.required = this.isRequired
    this.refreshStyles()
  },

  methods: {
    refreshStyles() {
      const { poptip } = this.$refs

      if (poptip) {
        // set body background and color
        const body = poptip.querySelector('.ivu-poptip-body')
        body.style.backgroundColor = '#D8F4FF'
        body.style.color = '#65A1B8'

        // hide triangle
        const triangle = poptip.querySelector('.ivu-poptip-arrow')
        triangle.style.display = 'none'

        const { $parent } = this
        const { name } = $parent.$options
        if (name === 'FormItem') {
          const timeout = setTimeout(() => {
            this.required = this.isRequired || $parent.isRequired
            clearTimeout(timeout)
          }, 0)
        }
      }
    },
  },
}
</script>
