<template>
  <div>
    <div class="share_taxi_checkbox">
      <i-checkbox size="large" v-model="isShared">
        <span style="padding-left: .4rem;">
            {{ $t('widget.step_2.shared_taxi') }}
        </span>
      </i-checkbox>
    </div>
    <i-modal
      v-model="showModal"
      :transfer="false"
    >
      <div v-html="$t('widget.modal_shared_companions_not_found_text')"></div>
      <div slot="footer">
        <Button type="primary" size="large" long @click="showModal = false">{{ $t('widget.modal_close') }}</Button>
      </div>
    </i-modal>
  </div>
</template>

<script>
import {mapActions} from "vuex";

export default {
  name: "SharedButton",

  data() {
    return {
      showModal: false,
    }
  },

  computed: {
    isShared: {
      get() {
        return this.$store.state['transfer-details'].isShared
      },
      set(value) {
        this.trackEvent('click_shared_taxi')
        return this.$store.state['transfer-details'].isShared = value
      }
    },
  },

  watch: {
    isShared() {
      this.fetchVehicles()
        .then(response => {
          return response.data.filter(item => item.shared_id !== undefined && item.shared_id !== null).length > 0
        })
        .then(sharedFound => {
          console.log(sharedFound)
          if (!this.isShared || sharedFound) {
            return
          }
          this.showModal = true
        })
    }
  },

  methods: {
    ...mapActions('tracking', ['trackEvent']),
    ...mapActions('car-classes', ['fetchVehicles']),
  }
}
</script>
