<template>
  <div @click="$emit('click')">
    <i-row type="flex" align="middle" :gutter="16">
      <i-col
        v-if="completed"
        :xs="24"
        :sm="12"
        :md="8"
        style="min-width: 30px; max-width: 70px"
        class="at-fill-success"
      >
        <icon-completed></icon-completed>
      </i-col>
      <i-col
        v-else
        :xs="24"
        :sm="12"
        :md="8"
        :style="root.iconStyle"
        class="at-step-icon"
        style="min-width: 30px; max-width: 65px"
      >
        <slot></slot>
      </i-col>
      <i-col :xs="24" :sm="12" :md="16">
        <div class="step__title" :style="root.titleStyle">{{ title }}</div>
        <div :style="root.subtitleStyle" class="step__value">
          {{ subtitle }}
        </div>
      </i-col>
    </i-row>
  </div>
</template>

<script>
import IconCompleted from './icons/IconCompleted.vue'

export default {
  name: 'StepItem',

  components: {
    IconCompleted,
  },

  props: {
    title: {
      type: String,
      default: null,
    },
    subtitle: {
      type: String,
      default: null,
    },
    completed: {
      type: Boolean,
      default: false,
    },
    active: {
      type: Boolean,
      default: false,
    },
  },

  computed: {
    root() {
      return {
        iconStyle: {
          fill: this.active ? '#4DADFB' : '#DCE5F0',
        },
        subtitleStyle: {
          color: this.active || this.completed ? '#4DADFB' : '#A3B2CE',
        },
        titleStyle: {
          color: this.active || this.completed ? '#4B638C' : '#ABB8DA',
        },
      }
    },
  },
}
</script>
