<template>
  <i-card :padding="0" class="at-steps at-card">
    <i-row>
      <i-col
        v-for="(stp, index) in steps"
        class="at-step-item"
        :key="index"
        :xs="6"
        :sm="24"
        :style="{ background: index % 2 ? '#F8FBFF' : 'transparent' }"
        style="padding: 16px"
      >
        <step-item
          :title="stp.title"
          :subtitle="stp.subtitle"
          v-bind="stp"
          :style="{
            cursor: takenSteps.includes(index) ? 'pointer' : 'default',
          }"
          :active="index === step"
          :completed="index < step"
          @click="onStepItemClick(index)"
        >
          <component :is="stp.icon"></component>
        </step-item>
      </i-col>
    </i-row>
  </i-card>
</template>

<script>
import { mapState, mapActions } from 'vuex'

import StepItem from './StepItem.vue'
import IconPlaneUp from './icons/IconPlaneUp.vue'
import IconCard from './icons/IconCard.vue'
import IconCar from './icons/IconCar.vue'
import IconSettings from './icons/IconSettings.vue'

export default {
  name: 'Steps',

  components: {
    StepItem,
    IconPlaneUp,
    IconCard,
    IconCar,
    IconSettings,
  },

  props: {
    step: {
      type: Number,
      default: 0,
    },
  },

  computed: {
    ...mapState('steps', ['takenSteps']),
    steps() {
      return [
        {
          icon: 'icon-plane-up',
          title: this.$t('widget.booking'),
          subtitle: this.$t('widget.airport'),
        },
        {
          icon: 'icon-car',
          title: this.$t('widget.title_step_1'),
          subtitle: this.$t('widget.car_class'),
        },
        {
          icon: 'icon-settings',
          title: this.$t('widget.title_step_2'),
          subtitle: this.$t('widget.transfer_details'),
        },
        {
          icon: 'icon-card',
          title: this.$t('widget.title_step_3'),
          subtitle: this.$t('general.payment'),
        },
      ]
    },
  },

  methods: {
    ...mapActions('steps', ['toStep']),

    onStepItemClick(index) {
      this.toStep(index)
    },
  },
}
</script>

<style>
@media screen and (max-width: 576px) {
  .at-steps {
    display: none;
  }
}

@media screen and (min-width: 577px) {
  .at-step-mobile {
    display: none;
  }
}

.at-step-item:first-child {
  border-radius: 12px 12px 0 0;
}

.at-step-item:last-child {
  border-radius: 0 0 12px 12px;
}
</style>
