<template>
  <div id="payment-form">
    <div class="form-row" style="flex-direction: column; margin-top: 30px;">
      <label>
        {{ $t('widget.step_3.credit_or_debit') }}
      </label>
      <i-row :gutter="16">
        <i-col>
          <div id="card-element" ref="cardInput">
            <!-- A Stripe Element will be inserted here. -->
          </div>
        </i-col>
      </i-row>
      <!-- Used to display form errors. -->
      <div style="color: red">
        <div id="card-errors" role="alert">
          {{ errorMessage }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'

export default {
  name: 'StripeElement',

  data() {
    return {
      stripeLoaded: false,
      errorMessage: null,
    }
  },

  computed: mapState('environment', ['VUE_APP_STRIPE_KEY']),

  methods: {

    loadStripe: function() {
      return new Promise(resolve => {
        if (window.Stripe) {
          return resolve(window.Stripe)
        }
        let stripe = document.createElement('script')
        stripe.onload = resolve
        stripe.setAttribute('src', 'https://js.stripe.com/v3/')
        document.head.appendChild(stripe)
      })
    },

    configureStripe() {
      // Create a Stripe client.
      const stripe = window.Stripe(this.VUE_APP_STRIPE_KEY)
      // Create an instance of Elements.
      const elements = stripe.elements()

      const style = {
        base: {
          fontSize: '16px',
          color: 'rgb(117, 117, 117)',
          fontSmoothing: 'antialiased',
          '::placeholder': {
            color: 'rgb(117, 117, 117)',
          },
        },
        invalid: {
          color: '#e5424d',
          ':focus': {
            color: '#303238',
          },
        },
      }

      // Create an instance of the card Element.
      const card = elements.create('card', {
        hidePostalCode: true,
        style: style,
      })

      // Add an instance of the card Element into the `card-element` <div>.
      card.mount(this.$refs.cardInput)
      this.card = card
      this.stripe = stripe

      card.addEventListener('change', event => {
        this.errorMessage = null
        if (event.error) {
          this.errorMessage = event.error.message
        }
      })
    },

    token() {
      return this.stripe.createToken(this.card)
    },
  },

  created() {
    if (!this.stripeLoaded) {
      let promise = this.loadStripe()
      promise.then(() => {
        this.stripeLoaded = true
        this.$nextTick(this.configureStripe)
      })
    } else {
      this.stripeLoaded = true
      this.$nextTick(this.configureStripe)
    }

  },
}
</script>

<style >
  html {
    --stripe-elements-width: 100px;
  }
</style>
