<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path
      d="M43.161,42.986H6.84A3.767,3.767,0,0,1,2.988,39.26V16.343a4.267,4.267,0,0,1,4.127-4l4.748,0.285V9.166A4.483,4.483,0,0,1,16.242,5.01H33.759a4.483,4.483,0,0,1,4.379,4.156v3.462l4.748-.285a4.267,4.267,0,0,1,4.127,4V39.324A3.755,3.755,0,0,1,43.161,42.986ZM34.488,9.858a1.736,1.736,0,0,0-1.46-1.385H16.972a1.736,1.736,0,0,0-1.46,1.385v2.769H34.488V9.858ZM47.012,27.372H29.128V25.959a1.4,1.4,0,0,0-1.376-1.415h-5.5a1.4,1.4,0,0,0-1.376,1.415v1.413H2.988v2.446H20.873v1.267a1.329,1.329,0,0,0,1.376,1.268h5.5a1.329,1.329,0,0,0,1.376-1.268V29.818H47.012V27.372ZM25.751,30.792h-1.5a1.647,1.647,0,0,1-1.5-1.752V28.168a1.8,1.8,0,0,1,1.5-1.905h1.5a1.8,1.8,0,0,1,1.5,1.905V29.04A1.647,1.647,0,0,1,25.751,30.792Z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconHandbag',
}
</script>
