<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 125">
    <path
      d="M99,46c0-3.3-2.7-6-6-6h-6.4l-5.2-14.2c-0.8-2.1-3.1-4.4-5.1-5.1c0,0-7.2-2.6-26.2-2.6s-26.2,2.6-26.2,2.6c-2.1,0.8-4.4,3.1-5.1,5.1L13.4,40H7c-3.3,0-6,2.7-6,6s2.7,6,6,6h1.9l-1.6,4.2C6.6,58.3,6,61.8,6,64v26c0,4.4,3.6,8,8,8s8-3.6,8-8v-4h56v4c0,4.4,3.6,8,8,8s8-3.6,8-8V64c0-2.2-0.6-5.7-1.4-7.8L91.1,52H93C96.3,52,99,49.3,99,46z M27,28h46l6,18H21L27,28z M20,70c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6C26,67.3,23.3,70,20,70z M80,70c-3.3,0-6-2.7-6-6s2.7-6,6-6s6,2.7,6,6C86,67.3,83.3,70,80,70z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconCarBooking',
}
</script>
