<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path
      class="cls-1"
      d="M36.537,7.916H13.466a4.74,4.74,0,0,0-4.483,4.94V40.895a4.739,4.739,0,0,0,4.483,4.933H14.6a1.582,1.582,0,0,0-.048.373v1.292a1.437,1.437,0,0,0,1.355,1.5h2.474a1.441,1.441,0,0,0,1.356-1.5V46.2a1.451,1.451,0,0,0-.049-0.373H30.3a1.619,1.619,0,0,0-.054.373v1.292a1.442,1.442,0,0,0,1.361,1.5h2.475a1.446,1.446,0,0,0,1.361-1.5V46.2a1.446,1.446,0,0,0-.055-0.373h1.144a4.734,4.734,0,0,0,4.471-4.933V12.862A4.736,4.736,0,0,0,36.537,7.916ZM36.008,19H13.989v-2H36.008v2ZM20.089,4.434a0.265,0.265,0,0,1,.258-0.255h9.306a0.258,0.258,0,0,1,.249.255V8.01H33V4.434A3.4,3.4,0,0,0,29.652,1H20.347a3.406,3.406,0,0,0-3.354,3.433V8.01h3.1V4.434Z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconSuitcase',
}
</script>
