<template>
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="50"
    height="50"
    viewBox="0 0 50 50"
  >
    <path
      d="M37.986,10.506A2.5,2.5,0,0,0,35.489,8H15.511a2.5,2.5,0,0,0-2.5,2.507v2.506H37.986V10.506ZM39.571,15H10.428A2.429,2.429,0,0,0,8,17.431V31.763a2.463,2.463,0,0,0,2.507,2.415h2.507L12.857,39.57A2.429,2.429,0,0,0,15.285,42H34.714a2.429,2.429,0,0,0,2.428-2.428l-0.157-5.392h2.507A2.463,2.463,0,0,0,42,31.763V17.431A2.429,2.429,0,0,0,39.571,15ZM35,39.007H15V26.99H35V39.007Zm1.991-16H32V19.981h4.982V23.01Z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconPrinter',
}
</script>
