<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path
      d="M46,28l-35.21-.041,3.795,3.687a2.452,2.452,0,0,1,0,3.537,2.623,2.623,0,0,1-3.639,0L2.759,27.226a2.478,2.478,0,0,1-.323-0.382c-0.041-.06-0.068-0.123-0.1-0.187A2.267,2.267,0,0,1,2.2,26.414a2.594,2.594,0,0,1-.08-0.251c-0.022-.073-0.05-0.142-0.066-0.216a2.41,2.41,0,0,1,0-.981c0.015-.074.044-0.143,0.066-0.215A2.384,2.384,0,0,1,2.2,24.5a2.269,2.269,0,0,1,.133-0.244,2.1,2.1,0,0,1,.1-0.184,2.6,2.6,0,0,1,.323-0.385l8.187-7.957a2.626,2.626,0,0,1,3.64,0,2.452,2.452,0,0,1,0,3.537l-3.795,3.69L46,23c1.44,0,2,1.293,2,2.456S47.44,28,46,28Z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconArrowLeft',
}
</script>
