<template>
  <svg height="100%" viewBox="-27 0 512 512" width="512pt" xmlns="http://www.w3.org/2000/svg"><path d="m219.433594 219.433594h-54.859375v82.285156c0 3.699219-2.226563 7.03125-5.640625 8.449219-3.417969 1.414062-7.351563.632812-9.96875-1.984375l-20.960938-20.972656-20.964844 20.964843c-3.574218 3.570313-9.363281 3.566407-12.933593-.003906-1.710938-1.710937-2.671875-4.03125-2.675781-6.453125v-82.285156h-54.855469v182.859375h182.859375zm-73.144532 128h-36.574218v-18.285156h36.574218zm0 0"/><path d="m128.003906 265.148438c2.421875 0 4.75.964843 6.460938 2.679687l11.824218 11.8125v-60.207031h-36.574218v60.214844l11.824218-11.820313c1.714844-1.714844 4.039063-2.679687 6.464844-2.679687zm0 0"/><path d="m228.574219 45.714844c2.425781 0 4.75.964844 6.464843 2.679687l11.824219 11.8125v-60.207031h-36.574219v60.214844l11.820313-11.820313c1.714844-1.714843 4.039063-2.679687 6.464844-2.679687zm0 0"/><path d="m310.863281 279.640625 11.820313-11.824219c3.570312-3.570312 9.359375-3.570312 12.929687 0l11.820313 11.824219v-60.207031h-36.570313zm0 0"/><path d="m308.183594 308.175781c-3.570313 3.570313-9.359375 3.566407-12.929688-.003906-1.710937-1.710937-2.675781-4.03125-2.675781-6.453125v-82.285156h-54.859375v182.859375h182.859375v-182.859375h-54.859375v82.285156c.003906 3.699219-2.222656 7.03125-5.640625 8.449219-3.417969 1.414062-7.351563.632812-9.964844-1.984375l-20.964843-20.972656zm39.25 39.257813h-36.570313v-18.285156h36.570313zm0 0"/><path d="m219.433594 457.140625h18.285156v18.285156h-18.285156zm0 0"/><path d="m429.722656 420.570312h-429.722656v18.285157h457.152344v-18.285157zm0 0"/><path d="m420.578125 457.140625h18.285156v18.285156h-18.285156zm0 0"/><path d="m54.859375 457.140625h146.289063v18.285156h-146.289063zm0 0"/><path d="m256.003906 457.140625h146.289063v18.285156h-146.289063zm0 0"/><path d="m411.4375 493.714844h-411.4375v18.285156h457.152344v-18.285156zm0 0"/><path d="m18.285156 457.140625h18.285156v18.285156h-18.285156zm0 0"/><path d="m265.148438 18.285156v64.003906c0 3.695313-2.226563 7.03125-5.644532 8.445313-3.414062 1.417969-7.347656.632813-9.964844-1.984375l-20.964843-20.972656-20.964844 20.964844c-3.570313 3.570312-9.359375 3.570312-12.929687-.003907-1.710938-1.710937-2.671876-4.03125-2.675782-6.449219v-64.003906h-54.859375v182.859375h182.859375v-182.859375zm-18.285157 109.71875h-36.574219v-18.289062h36.574219zm0 0"/></svg>
</template>

<script>
export default {
  name: 'IconPallets',
}
</script>
