<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path
      d="M4,28H39.21l-3.795,3.7a2.464,2.464,0,0,0,0,3.548,2.616,2.616,0,0,0,3.639,0l8.187-7.982a2.473,2.473,0,0,0,.323-0.382c0.041-.061.068-0.125,0.1-0.188A2.184,2.184,0,0,0,47.8,26.45a2.594,2.594,0,0,0,.08-0.252c0.022-.073.051-0.142,0.066-0.216a2.424,2.424,0,0,0,0-.983,2.048,2.048,0,0,0-.066-0.216,2.278,2.278,0,0,0-.08-0.251,2.079,2.079,0,0,0-.133-0.245c-0.035-.062-0.062-0.126-0.1-0.186a2.536,2.536,0,0,0-.323-0.386l-8.187-7.981a2.62,2.62,0,0,0-3.64,0,2.463,2.463,0,0,0,0,3.548l3.795,3.7L4,23c-1.44,0-2,1.323-2,2.489S2.56,28,4,28Z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconArrowRight',
}
</script>
