<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26.5 26.5">
    <g transform="matrix(1.0352958,0,0,1.0352958,-0.46686514,-280.55583)">
      <path
        d="M13.2,272.5c-0.6,0-1.1,0-1.6,0.1c-0.1,0-0.1,0.1-0.2,0.1c-0.2,0.5-0.2,1-0.3,1.4c-0.2,0.5-0.5,0.9-1.3,1.3
        c-0.8,0.3-1.4,0.2-1.8,0c-0.4-0.2-0.8-0.6-1.3-0.8c-0.1,0-0.1,0-0.2,0c-0.9,0.7-1.7,1.4-2.3,2.3c0,0.1-0.1,0.1,0,0.2
        c0.2,0.5,0.6,0.8,0.8,1.3c0.2,0.4,0.3,1,0,1.8c-0.3,0.8-0.8,1.1-1.3,1.3c-0.5,0.2-1,0.2-1.4,0.3c-0.1,0-0.1,0.1-0.1,0.2
        C2,282.7,2,283.2,2,283.8c0,0,0,0,0,0c0,0.6,0,1.1,0.1,1.6c0,0.1,0.1,0.1,0.1,0.2c0.5,0.2,1,0.2,1.4,0.3c0.5,0.2,0.9,0.5,1.3,1.3
        c0.3,0.8,0.2,1.4,0,1.8c-0.2,0.4-0.6,0.8-0.8,1.3c0,0.1,0,0.1,0,0.2c0.7,0.9,1.4,1.7,2.3,2.3c0.1,0,0.1,0.1,0.2,0
        c0.5-0.2,0.8-0.6,1.3-0.8c0.4-0.2,1-0.3,1.8,0c0.8,0.3,1.1,0.8,1.3,1.3c0.2,0.5,0.2,1,0.3,1.4c0,0.1,0.1,0.1,0.2,0.1
        c0.5,0.1,1.1,0.1,1.6,0.1c0,0,0,0,0,0c0.6,0,1.1,0,1.6-0.1c0.1,0,0.1-0.1,0.2-0.1c0.2-0.5,0.2-1,0.3-1.4c0.2-0.5,0.5-0.9,1.3-1.3
        c0.8-0.3,1.4-0.2,1.8,0c0.4,0.2,0.8,0.6,1.3,0.8c0.1,0,0.1,0,0.2,0c0.9-0.7,1.7-1.4,2.3-2.3c0-0.1,0.1-0.1,0-0.2
        c-0.2-0.5-0.6-0.8-0.8-1.3c-0.2-0.4-0.3-1,0-1.8c0.3-0.8,0.8-1.1,1.3-1.3c0.5-0.2,1-0.2,1.4-0.3c0.1,0,0.1-0.1,0.1-0.2
        c0.1-0.5,0.1-1.1,0.1-1.6c0,0,0,0,0,0c0-0.6,0-1.1-0.1-1.6c0-0.1-0.1-0.1-0.1-0.2c-0.5-0.2-1-0.2-1.4-0.3c-0.5-0.2-0.9-0.5-1.3-1.3
        c-0.3-0.8-0.2-1.4,0-1.8c0.2-0.4,0.6-0.8,0.8-1.3c0-0.1,0-0.1,0-0.2c-0.7-0.9-1.4-1.7-2.3-2.3c-0.1,0-0.1-0.1-0.2,0
        c-0.5,0.2-0.8,0.6-1.3,0.8c-0.4,0.2-1,0.3-1.8,0c-0.8-0.3-1.1-0.8-1.3-1.3c-0.2-0.5-0.2-1-0.3-1.4c0-0.1-0.1-0.1-0.2-0.1
        C14.3,272.6,13.8,272.5,13.2,272.5C13.2,272.5,13.2,272.5,13.2,272.5L13.2,272.5z M13.2,277.9c3.2,0,5.8,2.6,5.8,5.8
        c0,3.2-2.6,5.8-5.8,5.8s-5.8-2.6-5.8-5.8S10,277.9,13.2,277.9z"
      ></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'IconSettingsBooking',
}
</script>
