<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 30">
    <path
      d="M15.1,7.7l-0.4-3.6c0-0.2,0-0.3,0.1-0.4l0.6-0.5l2.8,4.2l4.2,2.8l-0.5,0.5c-0.1,0.1-0.3,0.2-0.4,0.1l-3.6-0.4l-4,4l8,5.3c0.3,0.3,0.3,0.6,0.2,0.8c0,0,0,0.1-0.1,0.1l-0.3,0.3c-0.4,0.4-1.1,0.6-1.7,0.4L9.7,18.7l-4.1,4.1c-0.6,0.6-1.3,1-2.1,1.1L3,24c-0.7,0.1-1.3-0.3-1.4-1c0-0.1,0-0.3,0-0.4l0.1-0.5c0.1-0.8,0.5-1.5,1.1-2.1l4.1-4.1L4.3,5.6C4.1,5,4.3,4.4,4.8,3.9L5,3.6c0,0,0,0,0.1-0.1c0.2-0.2,0.5-0.1,0.7,0.1l5.3,8L15.1,7.7z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconPlaneDown',
}
</script>
