<template>
<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 173.978 173.978" style="enable-background:new 0 0 173.978 173.978;" xml:space="preserve">
<path d="M115.407,101.264l-14.143,14.143L58.571,72.713l14.143-14.143L115.407,101.264z M167.351,77.073L173.978,0L96.902,6.63
	l26.256,26.254L96.675,59.365l17.936,17.938l26.485-26.483L167.351,77.073z M59.367,96.675l-26.483,26.483L6.629,96.904L0,173.978
	l77.076-6.63l-26.255-26.253l26.483-26.482L59.367,96.675z"/>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
<g>
</g>
</svg>
</template>

<script>
export default {
  name: 'IconDiagonal',
}
</script>
