<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 437.5 437.5">
    <g>
      <path
        d="M175,171.2c38.9,0,70.5-38.3,70.5-85.6C245.5,38.3,235.1,0,175,0s-70.5,38.3-70.5,85.6C104.5,132.9,136.1,171.2,175,171.2z"
      ></path>
      <path d="M41.9,301.9C41.9,299,41.9,301,41.9,301.9L41.9,301.9z"></path>
      <path
        d="M308.1,304.1C308.1,303.3,308.1,298.6,308.1,304.1L308.1,304.1z"
      ></path>
      <path
        d="M307.9,298.4c-1.3-82.3-12.1-105.8-94.4-120.7c0,0-11.6,14.8-38.6,14.8s-38.6-14.8-38.6-14.8c-81.4,14.7-92.8,37.8-94.3,118c-0.1,6.5-0.2,6.9-0.2,6.1c0,1.4,0,4.1,0,8.7c0,0,19.6,39.5,133.1,39.5c113.5,0,133.1-39.5,133.1-39.5c0-3,0-5,0-6.4C308.1,304.6,308,303.7,307.9,298.4z"
      ></path>
    </g>
  </svg>
</template>

<script>
export default { name: 'IconPassenger' }
</script>
