<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 42.5 42.5">
    <g>
      <path
        d="M17,1C10.1,1,4.5,6.6,4.5,13.5c0,8,11,18.6,11.5,19.1c0.3,0.3,0.7,0.4,1,0.4c0.4,0,0.7-0.1,1-0.4c0.5-0.5,11.5-11,11.5-19.1C29.5,6.6,23.9,1,17,1z M17,20.5c-3.9,0-7-3.1-7-7s3.1-7,7-7s7,3.1,7,7S20.9,20.5,17,20.5z"
      ></path>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'IconMapPointer',
}
</script>
