<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
    <path
      d="M4,10c-2.2,0-4,1.8-4,4v5h64v-5c0-2.2-1.8-4-4-4H4z M0,29v21c0,2.2,1.8,4,4,4h56c2.2,0,4-1.8,4-4V29H0z M10,38h8c1.1,0,2,0.9,2,2s-0.9,2-2,2h-8c-1.1,0-2-0.9-2-2S8.9,38,10,38z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconCardBooking',
}
</script>
