<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path
      d="M33.278,3H11.889A3.855,3.855,0,0,0,8,6.816V41.18A3.854,3.854,0,0,0,11.889,45H39.111A3.854,3.854,0,0,0,43,41.18V12.544ZM32.988,15.016a2,2,0,0,1-2-2V7l8,8.012h-6Z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconUpload',
}
</script>
