<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path
      class="st0"
      d="M25,5C14.5,5,6,13.5,6,24s8.5,19,19,19s19-8.5,19-19S35.5,5,25,5z M32.3,26.7C32.3,26.7,32.3,26.7,32.3,26.7h-4.5v4.5c0,1.5-1.2,2.7-2.7,2.7c-1.5,0-2.7-1.2-2.7-2.7v-4.5h-4.5c-1.5,0-2.7-1.2-2.7-2.7c0-1.5,1.2-2.7,2.7-2.7h4.5v-4.5c0-1.5,1.2-2.7,2.7-2.7c1.5,0,2.7,1.2,2.7,2.7v4.5h4.5c1.5,0,2.7,1.2,2.7,2.7C35,25.5,33.8,26.7,32.3,26.7z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconPlus',
}
</script>
