<template>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 450 562.5">
    <g>
      <g>
        <circle cx="225" cy="133.5" r="31.3"></circle>
        <path
          d="M251,219.1v103c0,14.4-11.6,26-26,26s-26-11.6-26-26v-103c0-14.4,11.6-26,26-26S251,204.8,251,219.1z"
        ></path>
        <path
          d="M225,0C100.7,0,0,100.7,0,225s100.7,225,225,225s225-100.7,225-225S349.3,0,225,0z M355.8,355.8c-71.6,72.9-188.8,73.9-261.6,2.2S20.3,169.3,92,96.4c0.7-0.8,1.5-1.5,2.2-2.2c71.6-72.9,188.8-73.9,261.6-2.2s73.9,188.8,2.2,261.6C357.3,354.3,356.6,355.1,355.8,355.8z"
        ></path>
        <path
          d="M225,0C100.7,0,0,100.7,0,225s100.7,225,225,225s225-100.7,225-225S349.3,0,225,0z M355.8,355.8c-71.6,72.9-188.8,73.9-261.6,2.2S20.3,169.3,92,96.4c0.7-0.8,1.5-1.5,2.2-2.2c71.6-72.9,188.8-73.9,261.6-2.2s73.9,188.8,2.2,261.6C357.3,354.3,356.6,355.1,355.8,355.8z"
        ></path>
      </g>
    </g>
  </svg>
</template>

<script>
export default {
  name: 'IconInfo',
}
</script>
