<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <path
      d="M8.9,19.5l0.4,3.6c0,0.2,0,0.3-0.1,0.4L8.6,24l-2.8-4.2l-4.2-2.8l0.5-0.5c0.1-0.1,0.3-0.2,0.4-0.1l3.6,0.4l4-4l-8-5.3C1.8,7.2,1.8,6.9,1.9,6.7c0,0,0-0.1,0.1-0.1l0.3-0.3C2.7,5.9,3.4,5.7,4,5.9l10.3,2.6l4.1-4.1c0.6-0.6,1.3-1,2.1-1.1L21,3.2c0.7-0.1,1.3,0.3,1.4,1c0,0.1,0,0.3,0,0.4l-0.1,0.5c-0.1,0.8-0.5,1.5-1.1,2.1l-4.1,4.1l2.6,10.3c0.2,0.6,0,1.2-0.5,1.7L19,23.6c0,0,0,0-0.1,0.1c-0.2,0.2-0.5,0.1-0.7-0.1l-5.3-8L8.9,19.5z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconPlaneUp',
}
</script>
