<template>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
    <path
      d="M25,4C13.4,4,4,13.4,4,25s9.4,21,21,21s21-9.4,21-21S36.6,4,25,4z M33.5,20.7L24,30.2c-0.1,0.1-0.2,0.1-0.3,0.2c0,0.1-0.1,0.1-0.1,0.2c-0.6,0.6-1.6,0.6-2.2,0l-3.9-3.9c-0.6-0.6-0.6-1.6,0-2.2s1.6-0.6,2.2,0l2.8,2.8l8.8-8.8c0.6-0.6,1.6-0.6,2.2,0C34.1,19.1,34.1,20.1,33.5,20.7L33.5,20.7z"
    ></path>
  </svg>
</template>

<script>
export default {
  name: 'IconCompleted',
}
</script>
