<template>
  <layout
    v-if="localeLoaded"
    class="at-layout at-widget-booking"
    :style="style"
  />
</template>

<script>
import Vue from 'vue'

// prettier-ignore
import { mapActions, mapGetters, mapMutations, mapState } from 'vuex'

import createStore from './store'
import Layout from './components/Layout.vue'

import './plugins/iview'
import './plugins/qm'
import * as i18n from './plugins/i18n'
import { EventBus, parseQuery } from './utils'
import './assets/scss/main.less'

Vue.config.productionTip = false

export default {
  name: 'AtBookingWidget',
  get store() {
    return createStore()
  },

  components: { Layout },

  props: {
    googleMapKey: {
      type: String,
      default: process.env.VUE_APP_GOOGLE_MAP_KEY,
    },
    stripeKey: {
      type: String,
      default: process.env.VUE_APP_STRIPE_KEY,
    },
    endpoint: {
      type: String,
      default: process.env.VUE_APP_API_ENDPOINT,
    },
    locale: {
      type: String,
      default: process.env.VUE_APP_I18N_LOCALE,
    },
    maxWidth: {
      type: String,
      default: '1100px',
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
    isPersonal: {
      type: Boolean,
      default: false,
    },
    lastBooks: {
      type: String,
      default: 'yes',
    },
    redirect: {
      type: String,
      default: null,
    },
    blank: {
      type: Boolean,
      default: true,
    },
    privacyPolicy: {
      type: String,
      default: null,
    },
    termsAndConditions: {
      type: String,
      default: null,
    },
    hideRideTypes: {
      type: String,
      default: null,
    },
    partnerId: {
      type: Number,
      default: null,
    },
    paymentRedirect: {
      type: String,
      default: null,
    },
    showArrivalBooking: {
      type: Boolean,
      default: false,
    },
    showMap: {
      type: Boolean,
      default: false,
    },
    tab: {
      type: String,
      default: null,
    },
  },

  created() {
    // prettier-ignore
    EventBus.$on('locale:loaded', this.handleLocaleLoaded)

    // prettier-ignore
    const {
      blank,
      googleMapKey,
      stripeKey,
      endpoint,
      locale,
      isAdmin,
      isPersonal,
      lastBooks,
      redirect,
      partnerId,
      paymentRedirect,
      privacyPolicy,
      termsAndConditions,
      showArrivalBooking,
      showMap,
    } = this

    this.$store.commit('environment/set', {
      key: 'VUE_APP_GOOGLE_MAP_KEY',
      value: googleMapKey,
    })

    this.$store.commit('environment/set', {
      key: 'VUE_APP_STRIPE_KEY',
      value: stripeKey,
    })

    this.$store.commit('environment/set', {
      key: 'VUE_APP_API_ENDPOINT',
      value: endpoint,
    })

    this.$store.commit('environment/set', {
      key: 'VUE_APP_I18N_LOCALE',
      value: locale,
    })

    this.$store.commit('setPrivacyPolicy', privacyPolicy)
    this.$store.commit('setTermsAndConditions', termsAndConditions)

    this.$store.commit('setIsAdmin', isAdmin)
    this.$store.commit('setRedirect', redirect)
    this.$store.commit('setBlank', blank)
    this.$store.commit('setIsPersonal', isPersonal)
    this.$store.commit('setPartnerId', partnerId)

    this.setIsMapVisible(showMap);
    this.setShowArrivalBooking(showArrivalBooking)
    this.setShowLatestBookings(lastBooks === 'yes')
    this.setPaymentRedirect(paymentRedirect)

    this.setHiddenRideTypes(this.hideRideTypes)
    if (this.tab && this.visibleTabs.includes(this.tab)) {
      this.$store.commit('airports/setSelectedTab', this.tab)
    } else if (this.visibleTabs.length > 0) {
      this.$store.commit('airports/setSelectedTab', this.visibleTabs[0])
    }

    // noinspection JSUnresolvedFunction
    i18n.setEndpoint(endpoint)
    // noinspection JSUnresolvedFunction
    if (locale) {
      i18n.setCurrentLocale(locale)
    }

    this.fetchSettings()

    const { search } = window.location
    if (search && !this.redirectHandled) {
      const params = parseQuery(search)

      try {
        // eslint-disable-next-line
        if (params.__at) {
          // eslint-disable-next-line
          this.handleQueryParams(params.__at)
        } else {
          this.setRedirectHandled(true)
        }
      } catch (err) {
        console.warn(err)
      }
    } else if (window.___AT_WIDGET_STATE___ && !this.redirectHandled) {
      const { data, tab } = JSON.parse(window.___AT_WIDGET_STATE___)

      if (tab === 'from') {
        this.setFromAirportInfo(data)
      } else if (tab === 'to') {
        this.setToAirportForm(data)
      } else if (tab === 'cityTaxi') {
        this.setCityTaxiForm(data)
      } else if (tab === 'delivery') {
        this.setDeliveryForm(data)
      }

      this.fetchVehicles()
      .then(() => this.nextStep())
      .catch(console.warn)
      .finally(() => {
        this.setRedirectHandled(true)
      })

      this.setRedirectHandled(true)
    } else {
      this.setRedirectHandled(true)
    }

  },

  mounted() {
    this.$emit('ready')
  },

  computed: {
    ...mapState(['localeLoaded']),
    ...mapGetters('airports', ['visibleTabs']),
    ...mapGetters({ redirectPath: 'redirect' }),
    ...mapGetters('steps', ['step']),
    style() {
      return {
        maxWidth: this.redirectPath ? '700px' : this.maxWidth,
        margin: '0 auto',
        backgroundColor: 'transparent',
        display: 'none',
      }
    },
  },
  methods: {
    ...mapMutations('transfer-details', ['setPassengerInformation']),
    ...mapActions('settings', ['fetchSettings']),
    ...mapMutations([
      'setRedirectHandled',
      'setShowArrivalBooking',
      'setShowLatestBookings',
      'setPaymentRedirect',
    ]),
    ...mapActions('airports', ['setMediaProps']),
    ...mapActions('car-classes', ['fetchVehicles']),
    ...mapMutations('steps', ['nextStep', 'setStep']),
    ...mapMutations('airports', [
      'setFromAirportInfo',
      'setToAirportForm',
      'setCityTaxiForm',
      'setDeliveryForm',
      'setSelectedTab',
      'setIsMapVisible'
    ]),

    handleLocaleLoaded(loaded) {
      this.$store.commit('setLocaleLoaded', loaded)
    },
    handleQueryParams(params) {
      const { tab } = params

      delete params.tab // eslint-disable-line
      delete params.locale // eslint-disable-line

      if (this.visibleTabs.includes(tab)) {
        this.setSelectedTab(tab)
      }
      if (tab === 'from') {
        this.setFromAirportInfo(params)
      } else if (tab === 'to') {
        this.setToAirportForm(params)
      } else if (tab === 'cityTaxi') {
        this.setCityTaxiForm(params)
      } else if (tab === 'delivery') {
        this.setDeliveryForm(params)
      } else if (this.visibleTabs.length > 0) {
        this.setSelectedTab(this.visibleTabs[0])
      }

      this.$store.commit('setRedirect', null)

      this.fetchVehicles()
      .then(this.setStep(this.step + 1))
      .catch(console.warn)
      .finally(() => {
        this.setRedirectHandled(true)
      })
    },

    setHiddenRideTypes(hideRideTypes) {
      if (! hideRideTypes) {
        return
      }
      hideRideTypes = hideRideTypes.split(',').map(item => item.trim())

      this.$store.commit('airports/setHiddenRideTypes', hideRideTypes)
    },
  },
}
</script>
